@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTa-j2U0lmluP9RWlSytm3ho.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTZX5f-9o1vgP2EXwfjgl7AY.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
 
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRWV49_lSm1NYrwo-zkhivY.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTaaRobkAwv3vxw3jMhVENGA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTf8zf_FOSsgRmwsS7Aa9k2w.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTT0LW-43aMEzIO6XUTLjad8.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/K88pR3goAWT7BTt32Z01mxJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/RjgO7rYTmqiVp7vzi-Q5URJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/LWCjsQkB6EMdfHrEVqA1KRJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/xozscpT2726on7jbcb_pAhJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/59ZRklaO5bWGqF5A9baEERJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/u-WUoqrET9fUeobQW7jkRRJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSq-j2U0lmluP9RWlSytm3ho.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSpX5f-9o1vgP2EXwfjgl7AY.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNShWV49_lSm1NYrwo-zkhivY.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSqaRobkAwv3vxw3jMhVENGA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSv8zf_FOSsgRmwsS7Aa9k2w.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSj0LW-43aMEzIO6XUTLjad8.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSugdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzK-j2U0lmluP9RWlSytm3ho.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzJX5f-9o1vgP2EXwfjgl7AY.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzBWV49_lSm1NYrwo-zkhivY.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzKaRobkAwv3vxw3jMhVENGA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzP8zf_FOSsgRmwsS7Aa9k2w.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzD0LW-43aMEzIO6XUTLjad8.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url(https://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hq-j2U0lmluP9RWlSytm3ho.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url(https://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hpX5f-9o1vgP2EXwfjgl7AY.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url(https://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hhWV49_lSm1NYrwo-zkhivY.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url(https://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hqaRobkAwv3vxw3jMhVENGA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url(https://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hv8zf_FOSsgRmwsS7Aa9k2w.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url(https://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hj0LW-43aMEzIO6XUTLjad8.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url(https://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hugdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/font-awesome/fonts/fontawesome-webfont.eot');
  src: url('../fonts/font-awesome/fonts/fontawesome-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/font-awesome/fonts/fontawesome-webfont.woff') format("woff"), url('../fonts/font-awesome/fonts/fontawesome-webfont.ttf') format("truetype"), url('../fonts/font-awesome/fonts/fontawesome-webfont.svg#fontawesomeregular') format("svg");
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-lg {
  font-size: 1.33333333em;
  line-height: .75em;
  vertical-align: -15%;
}

.fa-2x {
  font-size: 2em;
}

.fa-3x {
  font-size: 3em;
}

.fa-4x {
  font-size: 4em;
}

.fa-5x {
  font-size: 5em;
}

.fa-fw {
  width: 1.28571429em;
  text-align: center;
}

.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;

  > li {
    position: relative;
  }
}

.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: .14285714em;
  text-align: center;

  &.fa-lg {
    left: -1.85714286em;
  }
}

.fa-border {
  padding: .2em .25em .15em;
  border: solid .08em #eee;
  border-radius: 0.1em;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.fa {
  &.pull-left {
    margin-right: 0.3em;
  }

  &.pull-right {
    margin-left: 0.3em;
  }
}

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

:root {
  .fa-rotate-90, .fa-rotate-180, .fa-rotate-270, .fa-flip-horizontal, .fa-flip-vertical {
    filter: none;
  }
}

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.fa-stack-1x {
  line-height: inherit;
}

.fa-stack-2x {
  font-size: 2em;
}

.fa-inverse {
  color: #fff;
}

.fa-glass:before {
  content: "";
}

.fa-music:before {
  content: "";
}

.fa-search:before {
  content: "";
}

.fa-envelope-o:before {
  content: "";
}

.fa-heart:before {
  content: "";
}

.fa-star:before {
  content: "";
}

.fa-star-o:before {
  content: "";
}

.fa-user:before {
  content: "";
}

.fa-film:before {
  content: "";
}

.fa-th-large:before {
  content: "";
}

.fa-th:before {
  content: "";
}

.fa-th-list:before {
  content: "";
}

.fa-check:before {
  content: "";
}

.fa-remove:before, .fa-close:before, .fa-times:before {
  content: "";
}

.fa-search-plus:before {
  content: "";
}

.fa-search-minus:before {
  content: "";
}

.fa-power-off:before {
  content: "";
}

.fa-signal:before {
  content: "";
}

.fa-gear:before, .fa-cog:before {
  content: "";
}

.fa-trash-o:before {
  content: "";
}

.fa-home:before {
  content: "";
}

.fa-file-o:before {
  content: "";
}

.fa-clock-o:before {
  content: "";
}

.fa-road:before {
  content: "";
}

.fa-download:before {
  content: "";
}

.fa-arrow-circle-o-down:before {
  content: "";
}

.fa-arrow-circle-o-up:before {
  content: "";
}

.fa-inbox:before {
  content: "";
}

.fa-play-circle-o:before {
  content: "";
}

.fa-rotate-right:before, .fa-repeat:before {
  content: "";
}

.fa-refresh:before {
  content: "";
}

.fa-list-alt:before {
  content: "";
}

.fa-lock:before {
  content: "";
}

.fa-flag:before {
  content: "";
}

.fa-headphones:before {
  content: "";
}

.fa-volume-off:before {
  content: "";
}

.fa-volume-down:before {
  content: "";
}

.fa-volume-up:before {
  content: "";
}

.fa-qrcode:before {
  content: "";
}

.fa-barcode:before {
  content: "";
}

.fa-tag:before {
  content: "";
}

.fa-tags:before {
  content: "";
}

.fa-book:before {
  content: "";
}

.fa-bookmark:before {
  content: "";
}

.fa-print:before {
  content: "";
}

.fa-camera:before {
  content: "";
}

.fa-font:before {
  content: "";
}

.fa-bold:before {
  content: "";
}

.fa-italic:before {
  content: "";
}

.fa-text-height:before {
  content: "";
}

.fa-text-width:before {
  content: "";
}

.fa-align-left:before {
  content: "";
}

.fa-align-center:before {
  content: "";
}

.fa-align-right:before {
  content: "";
}

.fa-align-justify:before {
  content: "";
}

.fa-list:before {
  content: "";
}

.fa-dedent:before, .fa-outdent:before {
  content: "";
}

.fa-indent:before {
  content: "";
}

.fa-video-camera:before {
  content: "";
}

.fa-photo:before, .fa-image:before, .fa-picture-o:before {
  content: "";
}

.fa-pencil:before {
  content: "";
}

.fa-map-marker:before {
  content: "";
}

.fa-adjust:before {
  content: "";
}

.fa-tint:before {
  content: "";
}

.fa-edit:before, .fa-pencil-square-o:before {
  content: "";
}

.fa-share-square-o:before {
  content: "";
}

.fa-check-square-o:before {
  content: "";
}

.fa-arrows:before {
  content: "";
}

.fa-step-backward:before {
  content: "";
}

.fa-fast-backward:before {
  content: "";
}

.fa-backward:before {
  content: "";
}

.fa-play:before {
  content: "";
}

.fa-pause:before {
  content: "";
}

.fa-stop:before {
  content: "";
}

.fa-forward:before {
  content: "";
}

.fa-fast-forward:before {
  content: "";
}

.fa-step-forward:before {
  content: "";
}

.fa-eject:before {
  content: "";
}

.fa-chevron-left:before {
  content: "";
}

.fa-chevron-right:before {
  content: "";
}

.fa-plus-circle:before {
  content: "";
}

.fa-minus-circle:before {
  content: "";
}

.fa-times-circle:before {
  content: "";
}

.fa-check-circle:before {
  content: "";
}

.fa-question-circle:before {
  content: "";
}

.fa-info-circle:before {
  content: "";
}

.fa-crosshairs:before {
  content: "";
}

.fa-times-circle-o:before {
  content: "";
}

.fa-check-circle-o:before {
  content: "";
}

.fa-ban:before {
  content: "";
}

.fa-arrow-left:before {
  content: "";
}

.fa-arrow-right:before {
  content: "";
}

.fa-arrow-up:before {
  content: "";
}

.fa-arrow-down:before {
  content: "";
}

.fa-mail-forward:before, .fa-share:before {
  content: "";
}

.fa-expand:before {
  content: "";
}

.fa-compress:before {
  content: "";
}

.fa-plus:before {
  content: "";
}

.fa-minus:before {
  content: "";
}

.fa-asterisk:before {
  content: "";
}

.fa-exclamation-circle:before {
  content: "";
}

.fa-gift:before {
  content: "";
}

.fa-leaf:before {
  content: "";
}

.fa-fire:before {
  content: "";
}

.fa-eye:before {
  content: "";
}

.fa-eye-slash:before {
  content: "";
}

.fa-warning:before, .fa-exclamation-triangle:before {
  content: "";
}

.fa-plane:before {
  content: "";
}

.fa-calendar:before {
  content: "";
}

.fa-random:before {
  content: "";
}

.fa-comment:before {
  content: "";
}

.fa-magnet:before {
  content: "";
}

.fa-chevron-up:before {
  content: "";
}

.fa-chevron-down:before {
  content: "";
}

.fa-retweet:before {
  content: "";
}

.fa-shopping-cart:before {
  content: "";
}

.fa-folder:before {
  content: "";
}

.fa-folder-open:before {
  content: "";
}

.fa-arrows-v:before {
  content: "";
}

.fa-arrows-h:before {
  content: "";
}

.fa-bar-chart-o:before, .fa-bar-chart:before {
  content: "";
}

.fa-twitter-square:before {
  content: "";
}

.fa-facebook-square:before {
  content: "";
}

.fa-camera-retro:before {
  content: "";
}

.fa-key:before {
  content: "";
}

.fa-gears:before, .fa-cogs:before {
  content: "";
}

.fa-comments:before {
  content: "";
}

.fa-thumbs-o-up:before {
  content: "";
}

.fa-thumbs-o-down:before {
  content: "";
}

.fa-star-half:before {
  content: "";
}

.fa-heart-o:before {
  content: "";
}

.fa-sign-out:before {
  content: "";
}

.fa-linkedin-square:before {
  content: "";
}

.fa-thumb-tack:before {
  content: "";
}

.fa-external-link:before {
  content: "";
}

.fa-sign-in:before {
  content: "";
}

.fa-trophy:before {
  content: "";
}

.fa-github-square:before {
  content: "";
}

.fa-upload:before {
  content: "";
}

.fa-lemon-o:before {
  content: "";
}

.fa-phone:before {
  content: "";
}

.fa-square-o:before {
  content: "";
}

.fa-bookmark-o:before {
  content: "";
}

.fa-phone-square:before {
  content: "";
}

.fa-twitter:before {
  content: "";
}

.fa-facebook:before {
  content: "";
}

.fa-github:before {
  content: "";
}

.fa-unlock:before {
  content: "";
}

.fa-credit-card:before {
  content: "";
}

.fa-rss:before {
  content: "";
}

.fa-hdd-o:before {
  content: "";
}

.fa-bullhorn:before {
  content: "";
}

.fa-bell:before {
  content: "";
}

.fa-certificate:before {
  content: "";
}

.fa-hand-o-right:before {
  content: "";
}

.fa-hand-o-left:before {
  content: "";
}

.fa-hand-o-up:before {
  content: "";
}

.fa-hand-o-down:before {
  content: "";
}

.fa-arrow-circle-left:before {
  content: "";
}

.fa-arrow-circle-right:before {
  content: "";
}

.fa-arrow-circle-up:before {
  content: "";
}

.fa-arrow-circle-down:before {
  content: "";
}

.fa-globe:before {
  content: "";
}

.fa-wrench:before {
  content: "";
}

.fa-tasks:before {
  content: "";
}

.fa-filter:before {
  content: "";
}

.fa-briefcase:before {
  content: "";
}

.fa-arrows-alt:before {
  content: "";
}

.fa-group:before, .fa-users:before {
  content: "";
}

.fa-chain:before, .fa-link:before {
  content: "";
}

.fa-cloud:before {
  content: "";
}

.fa-flask:before {
  content: "";
}

.fa-cut:before, .fa-scissors:before {
  content: "";
}

.fa-copy:before, .fa-files-o:before {
  content: "";
}

.fa-paperclip:before {
  content: "";
}

.fa-save:before, .fa-floppy-o:before {
  content: "";
}

.fa-square:before {
  content: "";
}

.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
  content: "";
}

.fa-list-ul:before {
  content: "";
}

.fa-list-ol:before {
  content: "";
}

.fa-strikethrough:before {
  content: "";
}

.fa-underline:before {
  content: "";
}

.fa-table:before {
  content: "";
}

.fa-magic:before {
  content: "";
}

.fa-truck:before {
  content: "";
}

.fa-pinterest:before {
  content: "";
}

.fa-pinterest-square:before {
  content: "";
}

.fa-google-plus-square:before {
  content: "";
}

.fa-google-plus:before {
  content: "";
}

.fa-money:before {
  content: "";
}

.fa-caret-down:before {
  content: "";
}

.fa-caret-up:before {
  content: "";
}

.fa-caret-left:before {
  content: "";
}

.fa-caret-right:before {
  content: "";
}

.fa-columns:before {
  content: "";
}

.fa-unsorted:before, .fa-sort:before {
  content: "";
}

.fa-sort-down:before, .fa-sort-desc:before {
  content: "";
}

.fa-sort-up:before, .fa-sort-asc:before {
  content: "";
}

.fa-envelope:before {
  content: "";
}

.fa-linkedin:before {
  content: "";
}

.fa-rotate-left:before, .fa-undo:before {
  content: "";
}

.fa-legal:before, .fa-gavel:before {
  content: "";
}

.fa-dashboard:before, .fa-tachometer:before {
  content: "";
}

.fa-comment-o:before {
  content: "";
}

.fa-comments-o:before {
  content: "";
}

.fa-flash:before, .fa-bolt:before {
  content: "";
}

.fa-sitemap:before {
  content: "";
}

.fa-umbrella:before {
  content: "";
}

.fa-paste:before, .fa-clipboard:before {
  content: "";
}

.fa-lightbulb-o:before {
  content: "";
}

.fa-exchange:before {
  content: "";
}

.fa-cloud-download:before {
  content: "";
}

.fa-cloud-upload:before {
  content: "";
}

.fa-user-md:before {
  content: "";
}

.fa-stethoscope:before {
  content: "";
}

.fa-suitcase:before {
  content: "";
}

.fa-bell-o:before {
  content: "";
}

.fa-coffee:before {
  content: "";
}

.fa-cutlery:before {
  content: "";
}

.fa-file-text-o:before {
  content: "";
}

.fa-building-o:before {
  content: "";
}

.fa-hospital-o:before {
  content: "";
}

.fa-ambulance:before {
  content: "";
}

.fa-medkit:before {
  content: "";
}

.fa-fighter-jet:before {
  content: "";
}

.fa-beer:before {
  content: "";
}

.fa-h-square:before {
  content: "";
}

.fa-plus-square:before {
  content: "";
}

.fa-angle-double-left:before {
  content: "";
}

.fa-angle-double-right:before {
  content: "";
}

.fa-angle-double-up:before {
  content: "";
}

.fa-angle-double-down:before {
  content: "";
}

.fa-angle-left:before {
  content: "";
}

.fa-angle-right:before {
  content: "";
}

.fa-angle-up:before {
  content: "";
}

.fa-angle-down:before {
  content: "";
}

.fa-desktop:before {
  content: "";
}

.fa-laptop:before {
  content: "";
}

.fa-tablet:before {
  content: "";
}

.fa-mobile-phone:before, .fa-mobile:before {
  content: "";
}

.fa-circle-o:before {
  content: "";
}

.fa-quote-left:before {
  content: "";
}

.fa-quote-right:before {
  content: "";
}

.fa-spinner:before {
  content: "";
}

.fa-circle:before {
  content: "";
}

.fa-mail-reply:before, .fa-reply:before {
  content: "";
}

.fa-github-alt:before {
  content: "";
}

.fa-folder-o:before {
  content: "";
}

.fa-folder-open-o:before {
  content: "";
}

.fa-smile-o:before {
  content: "";
}

.fa-frown-o:before {
  content: "";
}

.fa-meh-o:before {
  content: "";
}

.fa-gamepad:before {
  content: "";
}

.fa-keyboard-o:before {
  content: "";
}

.fa-flag-o:before {
  content: "";
}

.fa-flag-checkered:before {
  content: "";
}

.fa-terminal:before {
  content: "";
}

.fa-code:before {
  content: "";
}

.fa-mail-reply-all:before, .fa-reply-all:before {
  content: "";
}

.fa-star-half-empty:before, .fa-star-half-full:before, .fa-star-half-o:before {
  content: "";
}

.fa-location-arrow:before {
  content: "";
}

.fa-crop:before {
  content: "";
}

.fa-code-fork:before {
  content: "";
}

.fa-unlink:before, .fa-chain-broken:before {
  content: "";
}

.fa-question:before {
  content: "";
}

.fa-info:before {
  content: "";
}

.fa-exclamation:before {
  content: "";
}

.fa-superscript:before {
  content: "";
}

.fa-subscript:before {
  content: "";
}

.fa-eraser:before {
  content: "";
}

.fa-puzzle-piece:before {
  content: "";
}

.fa-microphone:before {
  content: "";
}

.fa-microphone-slash:before {
  content: "";
}

.fa-shield:before {
  content: "";
}

.fa-calendar-o:before {
  content: "";
}

.fa-fire-extinguisher:before {
  content: "";
}

.fa-rocket:before {
  content: "";
}

.fa-maxcdn:before {
  content: "";
}

.fa-chevron-circle-left:before {
  content: "";
}

.fa-chevron-circle-right:before {
  content: "";
}

.fa-chevron-circle-up:before {
  content: "";
}

.fa-chevron-circle-down:before {
  content: "";
}

.fa-html5:before {
  content: "";
}

.fa-css3:before {
  content: "";
}

.fa-anchor:before {
  content: "";
}

.fa-unlock-alt:before {
  content: "";
}

.fa-bullseye:before {
  content: "";
}

.fa-ellipsis-h:before {
  content: "";
}

.fa-ellipsis-v:before {
  content: "";
}

.fa-rss-square:before {
  content: "";
}

.fa-play-circle:before {
  content: "";
}

.fa-ticket:before {
  content: "";
}

.fa-minus-square:before {
  content: "";
}

.fa-minus-square-o:before {
  content: "";
}

.fa-level-up:before {
  content: "";
}

.fa-level-down:before {
  content: "";
}

.fa-check-square:before {
  content: "";
}

.fa-pencil-square:before {
  content: "";
}

.fa-external-link-square:before {
  content: "";
}

.fa-share-square:before {
  content: "";
}

.fa-compass:before {
  content: "";
}

.fa-toggle-down:before, .fa-caret-square-o-down:before {
  content: "";
}

.fa-toggle-up:before, .fa-caret-square-o-up:before {
  content: "";
}

.fa-toggle-right:before, .fa-caret-square-o-right:before {
  content: "";
}

.fa-euro:before, .fa-eur:before {
  content: "";
}

.fa-gbp:before {
  content: "";
}

.fa-dollar:before, .fa-usd:before {
  content: "";
}

.fa-rupee:before, .fa-inr:before {
  content: "";
}

.fa-cny:before, .fa-rmb:before, .fa-yen:before, .fa-jpy:before {
  content: "";
}

.fa-ruble:before, .fa-rouble:before, .fa-rub:before {
  content: "";
}

.fa-won:before, .fa-krw:before {
  content: "";
}

.fa-bitcoin:before, .fa-btc:before {
  content: "";
}

.fa-file:before {
  content: "";
}

.fa-file-text:before {
  content: "";
}

.fa-sort-alpha-asc:before {
  content: "";
}

.fa-sort-alpha-desc:before {
  content: "";
}

.fa-sort-amount-asc:before {
  content: "";
}

.fa-sort-amount-desc:before {
  content: "";
}

.fa-sort-numeric-asc:before {
  content: "";
}

.fa-sort-numeric-desc:before {
  content: "";
}

.fa-thumbs-up:before {
  content: "";
}

.fa-thumbs-down:before {
  content: "";
}

.fa-youtube-square:before {
  content: "";
}

.fa-youtube:before {
  content: "";
}

.fa-xing:before {
  content: "";
}

.fa-xing-square:before {
  content: "";
}

.fa-youtube-play:before {
  content: "";
}

.fa-dropbox:before {
  content: "";
}

.fa-stack-overflow:before {
  content: "";
}

.fa-instagram:before {
  content: "";
}

.fa-flickr:before {
  content: "";
}

.fa-adn:before {
  content: "";
}

.fa-bitbucket:before {
  content: "";
}

.fa-bitbucket-square:before {
  content: "";
}

.fa-tumblr:before {
  content: "";
}

.fa-tumblr-square:before {
  content: "";
}

.fa-long-arrow-down:before {
  content: "";
}

.fa-long-arrow-up:before {
  content: "";
}

.fa-long-arrow-left:before {
  content: "";
}

.fa-long-arrow-right:before {
  content: "";
}

.fa-apple:before {
  content: "";
}

.fa-windows:before {
  content: "";
}

.fa-android:before {
  content: "";
}

.fa-linux:before {
  content: "";
}

.fa-dribbble:before {
  content: "";
}

.fa-skype:before {
  content: "";
}

.fa-foursquare:before {
  content: "";
}

.fa-trello:before {
  content: "";
}

.fa-female:before {
  content: "";
}

.fa-male:before {
  content: "";
}

.fa-gittip:before {
  content: "";
}

.fa-sun-o:before {
  content: "";
}

.fa-moon-o:before {
  content: "";
}

.fa-archive:before {
  content: "";
}

.fa-bug:before {
  content: "";
}

.fa-vk:before {
  content: "";
}

.fa-weibo:before {
  content: "";
}

.fa-renren:before {
  content: "";
}

.fa-pagelines:before {
  content: "";
}

.fa-stack-exchange:before {
  content: "";
}

.fa-arrow-circle-o-right:before {
  content: "";
}

.fa-arrow-circle-o-left:before {
  content: "";
}

.fa-toggle-left:before, .fa-caret-square-o-left:before {
  content: "";
}

.fa-dot-circle-o:before {
  content: "";
}

.fa-wheelchair:before {
  content: "";
}

.fa-vimeo-square:before {
  content: "";
}

.fa-turkish-lira:before, .fa-try:before {
  content: "";
}

.fa-plus-square-o:before {
  content: "";
}

.fa-space-shuttle:before {
  content: "";
}

.fa-slack:before {
  content: "";
}

.fa-envelope-square:before {
  content: "";
}

.fa-wordpress:before {
  content: "";
}

.fa-openid:before {
  content: "";
}

.fa-institution:before, .fa-bank:before, .fa-university:before {
  content: "";
}

.fa-mortar-board:before, .fa-graduation-cap:before {
  content: "";
}

.fa-yahoo:before {
  content: "";
}

.fa-google:before {
  content: "";
}

.fa-reddit:before {
  content: "";
}

.fa-reddit-square:before {
  content: "";
}

.fa-stumbleupon-circle:before {
  content: "";
}

.fa-stumbleupon:before {
  content: "";
}

.fa-delicious:before {
  content: "";
}

.fa-digg:before {
  content: "";
}

.fa-pied-piper:before {
  content: "";
}

.fa-pied-piper-alt:before {
  content: "";
}

.fa-drupal:before {
  content: "";
}

.fa-joomla:before {
  content: "";
}

.fa-language:before {
  content: "";
}

.fa-fax:before {
  content: "";
}

.fa-building:before {
  content: "";
}

.fa-child:before {
  content: "";
}

.fa-paw:before {
  content: "";
}

.fa-spoon:before {
  content: "";
}

.fa-cube:before {
  content: "";
}

.fa-cubes:before {
  content: "";
}

.fa-behance:before {
  content: "";
}

.fa-behance-square:before {
  content: "";
}

.fa-steam:before {
  content: "";
}

.fa-steam-square:before {
  content: "";
}

.fa-recycle:before {
  content: "";
}

.fa-automobile:before, .fa-car:before {
  content: "";
}

.fa-cab:before, .fa-taxi:before {
  content: "";
}

.fa-tree:before {
  content: "";
}

.fa-spotify:before {
  content: "";
}

.fa-deviantart:before {
  content: "";
}

.fa-soundcloud:before {
  content: "";
}

.fa-database:before {
  content: "";
}

.fa-file-pdf-o:before {
  content: "";
}

.fa-file-word-o:before {
  content: "";
}

.fa-file-excel-o:before {
  content: "";
}

.fa-file-powerpoint-o:before {
  content: "";
}

.fa-file-photo-o:before, .fa-file-picture-o:before, .fa-file-image-o:before {
  content: "";
}

.fa-file-zip-o:before, .fa-file-archive-o:before {
  content: "";
}

.fa-file-sound-o:before, .fa-file-audio-o:before {
  content: "";
}

.fa-file-movie-o:before, .fa-file-video-o:before {
  content: "";
}

.fa-file-code-o:before {
  content: "";
}

.fa-vine:before {
  content: "";
}

.fa-codepen:before {
  content: "";
}

.fa-jsfiddle:before {
  content: "";
}

.fa-life-bouy:before, .fa-life-buoy:before, .fa-life-saver:before, .fa-support:before, .fa-life-ring:before {
  content: "";
}

.fa-circle-o-notch:before {
  content: "";
}

.fa-ra:before, .fa-rebel:before {
  content: "";
}

.fa-ge:before, .fa-empire:before {
  content: "";
}

.fa-git-square:before {
  content: "";
}

.fa-git:before {
  content: "";
}

.fa-hacker-news:before {
  content: "";
}

.fa-tencent-weibo:before {
  content: "";
}

.fa-qq:before {
  content: "";
}

.fa-wechat:before, .fa-weixin:before {
  content: "";
}

.fa-send:before, .fa-paper-plane:before {
  content: "";
}

.fa-send-o:before, .fa-paper-plane-o:before {
  content: "";
}

.fa-history:before {
  content: "";
}

.fa-circle-thin:before {
  content: "";
}

.fa-header:before {
  content: "";
}

.fa-paragraph:before {
  content: "";
}

.fa-sliders:before {
  content: "";
}

.fa-share-alt:before {
  content: "";
}

.fa-share-alt-square:before {
  content: "";
}

.fa-bomb:before {
  content: "";
}

.fa-soccer-ball-o:before, .fa-futbol-o:before {
  content: "";
}

.fa-tty:before {
  content: "";
}

.fa-binoculars:before {
  content: "";
}

.fa-plug:before {
  content: "";
}

.fa-slideshare:before {
  content: "";
}

.fa-twitch:before {
  content: "";
}

.fa-yelp:before {
  content: "";
}

.fa-newspaper-o:before {
  content: "";
}

.fa-wifi:before {
  content: "";
}

.fa-calculator:before {
  content: "";
}

.fa-paypal:before {
  content: "";
}

.fa-google-wallet:before {
  content: "";
}

.fa-cc-visa:before {
  content: "";
}

.fa-cc-mastercard:before {
  content: "";
}

.fa-cc-discover:before {
  content: "";
}

.fa-cc-amex:before {
  content: "";
}

.fa-cc-paypal:before {
  content: "";
}

.fa-cc-stripe:before {
  content: "";
}

.fa-bell-slash:before {
  content: "";
}

.fa-bell-slash-o:before {
  content: "";
}

.fa-trash:before {
  content: "";
}

.fa-copyright:before {
  content: "";
}

.fa-at:before {
  content: "";
}

.fa-eyedropper:before {
  content: "";
}

.fa-paint-brush:before {
  content: "";
}

.fa-birthday-cake:before {
  content: "";
}

.fa-area-chart:before {
  content: "";
}

.fa-pie-chart:before {
  content: "";
}

.fa-line-chart:before {
  content: "";
}

.fa-lastfm:before {
  content: "";
}

.fa-lastfm-square:before {
  content: "";
}

.fa-toggle-off:before {
  content: "";
}

.fa-toggle-on:before {
  content: "";
}

.fa-bicycle:before {
  content: "";
}

.fa-bus:before {
  content: "";
}

.fa-ioxhost:before {
  content: "";
}

.fa-angellist:before {
  content: "";
}

.fa-cc:before {
  content: "";
}

.fa-shekel:before, .fa-sheqel:before, .fa-ils:before {
  content: "";
}

.fa-meanpath:before {
  content: "";
}

body, html {
  -webkit-font-smoothing: antialiased;
}

body, figure {
  margin: 0;
}

.copyright {
  li, strong {
    font-family: "Open Sans", sans-serif;
  }
}

.footer h3 {
  font-family: "Open Sans", sans-serif;
}

.section {
  h1, h2, h3, strong {
    font-family: "Open Sans", sans-serif;
  }
}

.subscribe, a, body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: "Open Sans", sans-serif;

  strong {
    font-family: "Open Sans", sans-serif;
  }
}

ol, p, ul {
  font-family: "Open Sans", sans-serif;
}

.article {
  .row:after, &:after {
    clear: both;
  }
}

.box-cta, .box-intro:after {
  clear: both;
}

.box-items {
  .left:after, .row:after, figure:after {
    clear: both;
  }
}

.carousel .carousel-images:after, .carousel-images li:after, .container:after {
  clear: both;
}

.footer {
  .row:after, &:after {
    clear: both;
  }
}

.homebox-items > .btn-1, .homepage-intro-list:after, .list-clients:after, .list-portfolio:after, .nav-main:after, .row:after, .section:after, form:after {
  clear: both;
}

.wrap, svg:not(:root) {
  overflow: hidden;
}

.article .row {
  &:after, &:before {
    content: "";
  }
}

.row {
  &:after, &:before {
    content: "";
  }
}

.section {
  &:after, &:before {
    content: "";
  }
}

q {
  &:after, &:before {
    content: "";
  }
}

.article .column > img, .list-portfolio img {
  -icab-box-sizing: border-box;
  -khtml-box-sizing: border-box;
}

@font-face {
  font-family: icons;
  src: url(../fonts/icons.eot);
}

@font-face {
  font-family: dashicons;
  src: url(../fonts/dashicons.eot);
}

@font-face {
  font-family: dashicons;
  src: url('data:application/x-font-woff; charset=utf-8; base64, xxx') format("woff"), url(../fonts/dashicons.ttf) format("truetype"), url(../fonts/dashicons.svg#dashicons) format("svg");
  font-weight: 400;
  font-style: normal;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

[hidden], audio:not([controls]) {
  display: none;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 100%;
}

body {
  color: #4d4d4d;
  font-size: 16px;
  background: #fff;
  line-height: 1.538461538em;
  font-smoothing: antialiased;
}

::-moz-selection, ::selection {
  background: #40AFF7;
  color: #fff;
  text-shadow: none;
}

.bluetext {
  color: #40AFF7;
}

.fullwidth {
  width: 100% !important;
}

.blue-large {
  color: #40AFF7;
  font-size: 28px;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #40AFF7;
}

.content a, .homepage-intro p > a, .msg-warning a {
  text-decoration: underline;
}

a {
  &:active, &:hover {
    text-decoration: underline;
  }

  p {
    color: #454545;
  }

  &:focus {
    outline: dotted thin;
  }

  &:active, &:hover {
    outline: 0;
  }
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

blockquote {
  margin: 1em 40px;
}

q {
  quotes: none;

  &:after, &:before {
    content: none;
  }
}

small {
  font-size: 85%;
}

sub, sup {
  font-size: 75%;
  vertical-align: baseline;
}

img, table td {
  vertical-align: middle;
}

sup {
  top: -.3em;
  position: relative;
}

hr {
  border: 0;
  height: 1px;
  background: #c2ced3;
}

h1 strong, h2 strong, h3 strong, h4 strong, h5 strong {
  display: block;
  font-weight: 400;
}

h1 {
  font-size: 5em;
  line-height: 1;
}

h2 {
  font-size: 2.571428571em;
  line-height: 1.2em;
}

h3 {
  font-size: 2.692307692em;
  line-height: 1em;
}

h4 {
  font-size: 1.3em;
  line-height: 22px;
}

ol, p, ul {
  font-size: 1em;
  line-height: 1.8em;
  margin: 0 0 1.7em;
}

h1, h2, h3, h4, h5 {
  font-weight: 300;
  margin: 0 0 .5em;
  color: #40AFF7;
}

h1 {
  font-weight: 400;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
  height: auto;
}

table caption {
  text-align: left;
  background: #40AFF7;
  color: #fff;
  font-weight: 600;
  padding: 10px 15px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.box-clients {
  h2, p {
    text-align: center;
  }
}

.box-cta {
  text-align: center;

  .btn-1, h3 {
    text-align: center;
  }
}

.center, .msg-warning, aside .sidebox.center {
  text-align: center;
}

table {
  td {
    background-color: #fff;
    border-top: 1px solid #e1e1e1;
    padding: 10px;
    border-right: 1px solid #e1e1e1;
  }

  tr:nth-child(odd) td {
    background: #efefef;
  }

  td {
    .fa {
      font-size: 32px;
    }

    .fa-times, .fa-times-circle, .fa-check, .fa-check-circle {
      color: #40AFF7 !important;
    }
  }

  th {
    border-top: 0;
    border-left: 0;
    border-right: 1px solid #e1e1e1;
    padding: 20px 10px 20px 10px;
    font-weight: 600;
    font-size: 18px;
    color: #40AFF7;
    text-transform: uppercase;
  }
}

.msg-warning {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 500;
  margin: .2em 0;
  color: #000;
  padding: .8em 0;
  height: 40px;
  border-bottom: 1px solid #0A7AA8;
  background: url(../img/chromeframe.jpg) left bottom repeat-x #fff;
}

.article, .header, .section, .wrap {
  position: relative;
}

.msg-warning {
  > strong {
    display: block;
    color: #40AFF7;
    font-size: 18px;
    margin: 0 0 5px;
    font-weight: 400;
  }

  a {
    color: #000;
    font-weight: 700;
  }
}

.row {
  &:after, &:before {
    display: table;
    line-height: 0;
  }
}

.article, .container, .nav-main {
  position: relative;
  max-width: 78.571428571em;
  width: 100%;
  margin: 0 auto;
}

.article {
  &:after, &:before {
    display: table;
    content: "";
    line-height: 0;
  }
}

.container {
  &:after, &:before {
    display: table;
    content: "";
    line-height: 0;
  }
}

.nav-main {
  &:after, &:before {
    display: table;
    content: "";
    line-height: 0;
  }
}

.wrap {
  left: 0;
  transition: left 0.35s ease 0s;

  &.active {
    left: -16em;
    overflow: visible;
  }
}

.page-contact #main > {
  .article, .container, .nav-main {
    margin-top: -150px 0 0;
  }
}

.article {
  h1 {
    font-size: 2.571428571em;
  }

  ul {
    line-height: 1.785714286em;
  }

  .row {
    padding: 10px 0;
    margin: 0 5px;

    &:after, &:before {
      display: table;
      line-height: 0;
    }
  }

  .column {
    float: left;
    display: inline;
    width: 97.91667%;
    margin: 0 1.04167%;
  }
}

.page-template-page-full-php .article .column {
  float: left;
  display: inline;
  width: 97.91667%;
  margin: 0 1.04167%;
}

.article .column {
  opacity: 1;
}

.section {
  h1, h2, h3 {
    margin: 0 0 0.5em;
  }
}

.article .column {
  + .column {
    padding: 45px 0 0;
  }

  > img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
    border: 5px solid #fff;
    -webkit-box-shadow: 0, 0, 8px, #4a4a4a;
    -moz-box-shadow: 0, 0, 8px, #4a4a4a;
    box-shadow: 0, 0, 8px, #4a4a4a;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
}

.section {
  padding: 30px 0;

  &.compact {
    padding: 15px 0;
  }

  &.supercompact {
    padding: 0;
  }

  &:after, &:before {
    display: table;
    line-height: 0;
  }

  h1, h2 {
    font-size: 25px;
    font-size: 1.5625rem;
  }

  h3 {
    font-size: 20px;
    font-size: 1.25rem;
  }

  .gform_title {
    margin: 0 0 1em;
    color: #40AFF7;
    font-weight: 400;
  }

  &.line {
    border-bottom: 1px solid #ddd;
  }
}

.page-ourwork .section {
  border: none;
}

.section-grey {
  background: #efefef;
}

.section {
  &.dark {
    background: #4d4d4d;
  }

  &.light {
    background: #40AFF7;
  }

  &.dark *, &.light * {
    color: #fff;
  }
}

.area-grey {
  padding: 15px;
  background: #efefef;
  margin: 15px 0;
}

@-webkit-keyframes slideIn {
  0% {
    opacity: 0;
    left: 3%;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}

@-moz-keyframes slideIn {
  0% {
    opacity: 0;
    left: 3%;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}

@-o-keyframes slideIn {
  0% {
    opacity: 0;
    left: 3%;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}

@-ms-keyframes slideIn {
  0% {
    opacity: 0;
    left: 3%;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    left: 3%;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}

@-webkit-keyframes slideRight {
  0% {
    opacity: 0;
    right: 0;
  }

  100% {
    right: 50px;
    opacity: 1;
  }
}

@-moz-keyframes slideRight {
  0% {
    opacity: 0;
    right: 0;
  }

  100% {
    right: 50px;
    opacity: 1;
  }
}

@-o-keyframes slideRight {
  0% {
    opacity: 0;
    right: 0;
  }

  100% {
    right: 50px;
    opacity: 1;
  }
}

@-ms-keyframes slideRight {
  0% {
    opacity: 0;
    right: 0;
  }

  100% {
    right: 50px;
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    opacity: 0;
    right: 0;
  }

  100% {
    right: 50px;
    opacity: 1;
  }
}

@-webkit-keyframes slideLeft {
  0% {
    opacity: 0;
    left: 0;
  }

  100% {
    left: 50px;
    opacity: 1;
  }
}

@-moz-keyframes slideLeft {
  0% {
    opacity: 0;
    left: 0;
  }

  100% {
    left: 50px;
    opacity: 1;
  }
}

@-o-keyframes slideLeft {
  0% {
    opacity: 0;
    left: 0;
  }

  100% {
    left: 50px;
    opacity: 1;
  }
}

@-ms-keyframes slideLeft {
  0% {
    opacity: 0;
    left: 0;
  }

  100% {
    left: 50px;
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    left: 0;
  }

  100% {
    left: 50px;
    opacity: 1;
  }
}

@-webkit-keyframes slideDown {
  0% {
    opacity: 0;
    top: -10%;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

@-moz-keyframes slideDown {
  0% {
    opacity: 0;
    top: -10%;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

@-o-keyframes slideDown {
  0% {
    opacity: 0;
    top: -10%;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

@-ms-keyframes slideDown {
  0% {
    opacity: 0;
    top: -10%;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    top: -10%;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

@-webkit-keyframes slideDownCarousel {
  0% {
    opacity: 0;
    top: -10%;
  }

  100% {
    top: 25px;
    opacity: 1;
  }
}

@-moz-keyframes slideDownCarousel {
  0% {
    opacity: 0;
    top: -10%;
  }

  100% {
    top: 25px;
    opacity: 1;
  }
}

@-o-keyframes slideDownCarousel {
  0% {
    opacity: 0;
    top: -10%;
  }

  100% {
    top: 25px;
    opacity: 1;
  }
}

@-ms-keyframes slideDownCarousel {
  0% {
    opacity: 0;
    top: -10%;
  }

  100% {
    top: 25px;
    opacity: 1;
  }
}

@keyframes slideDownCarousel {
  0% {
    opacity: 0;
    top: -10%;
  }

  100% {
    top: 110px;
    opacity: 1;
  }
}

@-webkit-keyframes bounce_circleG {
  0%, 100% {
    opacity: 0.3;
  }

  50% {
    opacity: 1;
    background-color: #40AFF7;
  }
}

@-moz-keyframes bounce_circleG {
  0%, 100% {
    opacity: 0.3;
  }

  50% {
    opacity: 1;
    background-color: #40AFF7;
  }
}

@-o-keyframes bounce_circleG {
  0%, 100% {
    opacity: 0.3;
  }

  50% {
    opacity: 1;
    background-color: #40AFF7;
  }
}

@-ms-keyframes bounce_circleG {
  0%, 100% {
    opacity: 0.3;
  }

  50% {
    opacity: 1;
    background-color: #40AFF7;
  }
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*.active .header.scrolling {
  position: absolute;
}*/

#shiftnav-toggle-main { 
  height:88px;
  line-height:88px;
  #shiftnav-toggle-main-button {
    float:none;
  }
}

.header {
  background: #40aff7!important;
  .container {
    display: flex;
    align-items: center;
    width: 92%;
    padding: 0 4% 0 4%;
  }
  [title*=Logo] {
      left: 1.04167%;
      display: block;
      height: 88px;
      outline: 0;
      width: 150px;
      background: url(../img/InUitLogoWit.png) left top no-repeat;
  }
  &.scrolling {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    width: 100%;
    z-index: 9950;
  }
}

#skip {
  margin: 0;
  position: absolute;
  top: 0;
  left: -10px;
  width: 50%;
  z-index: 350;

  li {
    float: left;
    position: relative;
  }
}

#nav > h2, #skip a, .box-what-we-do > h2, .copyright > h2, .footer > h2 {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.page-homepage .header {
  .article > h1, .container > h1, .nav-main > h1 {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}

#skip {
  #skip-nav a, #skip-search a {
    position: relative;
    display: block;
    padding: 9px 7px 8px;
    border-right: 1px solid #D7D7D7;
    font-size: 1.153846154em;
    font-weight: 700;
    clip: auto;
    width: auto;
    height: auto;
    color: #4d4d4d;
    cursor: pointer;
    z-index: 350;
    text-decoration: none;
  }

  #skip-nav a {
    border-left: 1px solid #D7D7D7;
  }
}

.subscribe {
  position: absolute;
  display: inline-block;
  top: 0;
  right: 5%;
  font-size: 18px;
  font-size: 1.125rem;
  padding: 5px 18px 7px;
  color: #fff;
  background: #40AFF7;
  -webkit-animation: slideDown;
  -moz-animation: slideDown;
  -ms-animation: slideDown;
  -o-animation: slideDown;
  animation: slideDown;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

.footer {
  .row {
    &:after, &:before {
      content: "";
      display: table;
      line-height: 0;
    }
  }

  &:after, &:before {
    content: "";
    display: table;
    line-height: 0;
  }
}

.subscribe {
  &:focus, &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.footer {
  position: relative;
  -webkit-transform: translateZ(0);

  p {
    color: #fff;
    line-height: 1.785714286em;
  }
}

address {
  color: #fff;
  line-height: 1.785714286em;
}

.footer {
  .section.bottom {
    background: 0 0;
  }

  .column {
    display: inline;
    float: left;
    width: 92%;
    margin: 0 4%;
    padding: 15px 0;
  }
}

fieldset, legend {
  border: 0;
  padding: 0;
}

.footer .list-socialmedia, .gform_button {
  float: right;
}

.footer {
  h3 {
    margin: 0 0 .5em;
    font-size: 22px;
    font-size: 1.375rem;
    color: #fff;
  }

  .row.first .referenties span {
    font-weight: 700;
  }
}

address {
  font-style: normal;

  a {
    color: #fff;
    text-decoration: underline;

    &:focus, &:hover {
      text-decoration: none;
    }
  }

  > div {
    display: inline;
  }
}

.copyright li, .footer img {
  vertical-align: top;
  display: inline-block;
}

address {
  .left, > span:first-child {
    font-weight: 700;
    width: 20%;
  }
}

.list-socialmedia a {
  font-size: 34px;
}

.footer .section.bottom .container .column * {
  font-size: 14px;
}

.copyright, .footer-nav * {
  color: #777;
  font-size: 14px;
}

.copyright {
  p {
    color: #777;
  }

  strong {
    font-weight: 400;
    font-size: 14px;
    font-size: 0.875rem;
  }

  ul {
    margin: 0 -3px;
  }

  li {
    margin: 0 3px;
  }
}

fieldset, form {
  margin: 0;
}

button, input, select, textarea {
  color: #4d4d4d;
  font-family: inherit;
}

input {
  &[type=email], &[type=password], &[type=search], &[type=tel], &[type=text] {
    font-size: 92% !important;
  }
}

select {
  font-size: 92% !important;

  > option {
    font-size: 92% !important;
  }
}

textarea {
  font-size: 92% !important;
}

button, input {
  line-height: normal;
}

button, html input[type=button] {
  -webkit-appearance: button;
  cursor: pointer;
}

input {
  &[type=reset], &[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
  }
}

button[disabled] {
  cursor: default;
}

input {
  &[disabled] {
    cursor: default;
  }

  &[type=search] {
    -webkit-appearance: textfield;

    &::-webkit-search-cancel-button, &::-webkit-search-decoration {
      -webkit-appearance: none;
    }
  }
}

form {
  &:after, &:before {
    display: table;
    content: "";
    line-height: 0;
  }
}

.label, label {
  display: inline-block;
  cursor: pointer;
  font-size: 1em;
  color: #4d4d4d;
  margin: 0 0 0.5em;
}

.labels-hidden label {
  display: none;
}

.gform_body li {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin: 0 0 1em;
}

#gform_1 .gform_body li:last-child {
  width: 100%;
}

.aside .gform_body {
  margin: 15px 0 0;

  li {
    width: 100%;
  }
}

input {
  &[type=email], &[type=search], &[type=tel], &[type=text] {
    padding: 12px;
    border: 1px solid #ddd;
    background: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: .15s;
    -moz-transition: .15s;
    -o-transition: .15s;
    transition: .15s;
    width: 100%;
  }

  &[type=email] {
    &:focus, &:hover {
      border-color: #ccc;
      color: #333;
    }
  }

  &[type=search] {
    &:focus, &:hover {
      border-color: #ccc;
      color: #333;
    }
  }

  &[type=tel]:hover {
    border-color: #ccc;
    color: #333;
  }

  &[type=text] {
    &:focus, &:hover {
      border-color: #ccc;
      color: #333;
    }
  }
}

textarea {
  &:focus, &:hover {
    border-color: #ccc;
    color: #333;
  }

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wpcf7-form .actions img {
  display: none;
}

::-webkit-input-placeholder, :-moz-placeholder, .placeholder {
  color: #40AFF7;
  opacity: 0.5;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

.list-socialmedia li, td, textarea {
  vertical-align: top;
}

[class*=text-], input.text, number, select, tel, textarea {
  padding: 13px 10px;
  line-height: 19px;
  border: 1px solid #c2ced3;
  color: #4d4d4d;
  resize: none;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

.text {
  &:focus, &:hover {
    border-color: #9a9a9a;
  }
}

.actions {
  margin: 0.5em 0 0;
}

.submit, [class*=btn-], input[type=submit] {
  display: inline-block;
  padding: 7px 14px;
  margin: .6em 0;
  border: 2px solid #0F9349;
  color: #0F9349 !important;
  background: #fff;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 700;
  border-radius: 6px;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none !important;
}

.btn-1.cta {
  background: #fff !important;
}

.cta-text {
  color: #FF6936 !important;
  text-decoration: none !important;
}

.homepage-intro-content .cta-text {
  font-weight: 500;
}

.btn-1.routebtn {
  width: 100%;
}

button {
  cursor: pointer;
  -webkit-appearance: button;
}

input {
  &[type=button], &[type=reset], &[type=submit] {
    cursor: pointer;
    -webkit-appearance: button;
  }

  &[type=checkbox], &[type=radio] {
    box-sizing: border-box;
    padding: 0;
  }
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
  resize: none;
  min-height: 75px;
}

input:invalid, textarea:invalid {
  background-color: #f0dddd;
  border: 1px solid #F70000;
}

input.error, textarea.error {
  color: #f70000;
  border: 1px solid #f70000;
  background: #fff;
}

input.error {
  &::-webkit-input-placeholder, &:-moz-placeholder {
    color: #40AFF7;
  }
}

.field .message {
  display: none;
}

.gform_description {
  font-size: 1em;
  line-height: 1.785714286em;
  margin: 0 0 .5em;
  font-family: "Open Sans", sans-serif;
}

#gform_wrapper_1 {
  background: #f1f1f1;
  padding: 15px;
}

.gfield_required {
  padding-left: 3px;
  color: #40AFF7;
  font-size: 12px;
  display: none;
}

.validation_message, .validation_error {
  color: red;
  font-size: 85%;
}

.floatleft {
  float: left;
}

img.floatleft {
  margin: 0 20px 20px 0;
}

.floatright {
  float: right;
}

img.floatright {
  margin: 0 0 20px 20px;
}

table {
  border: 3px solid #40AFF7;
  border-collapse: separate;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-spacing: 0px;

  &.no-caption {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
}

#menu-contact a::before, #menu-over-mij a::before, #menu-portfolio a::before, .icon-arrow-down, .icon-arrow-left, .icon-arrow-right, .icon-arrow-top, .icon-card, .icon-close, .icon-facebook, .icon-forward, .icon-linkedin, .icon-plus, .icon-twitter, .icon-user, .icon-vcard, .icons, .list-socialmedia [title*=Twitter]::before, a[title*="terug naar boven"]:after {
  font-family: icons;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.carousel-direction-nav a:before, .icon-menu {
  font-family: dashicons;
  speak: none;
  font-style: normal;
  font-weight: 700;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.box-cta h3, .box-items h3 {
  text-transform: uppercase;
}

.carousel .carousel-content {
  p, strong {
    text-transform: uppercase;
  }
}

.homepage-intro-list h3, .nav-main a, .portfolio-subnav li a {
  text-transform: uppercase;
}

.icon-forward:before {
  content: "";
}

.icon-linkedin:before {
  content: "%";
}

.icon-twitter:before, .list-socialmedia [title*=Twitter]::before:before {
  content: "$";
}

.icon-card:before {
  content: "#";
}

.icon-vcard:before {
  content: '"';
}

.icon-facebook:before {
  content: "&";
}

.icon-user:before {
  content: "!";
}

.icon-plus:before {
  content: "'";
}

.icon-close:before {
  content: "";
}

.icon-arrow-right:before {
  content: "";
}

.icon-arrow-left:before {
  content: "";
}

.icon-menu:before {
  content: "\f333";
  font-size: 20px;
  color: #fff;
}

.icon-arrow-top:before {
  content: "";
}

.icon-arrow-down:before {
  content: "";
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;

  embed, iframe, object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.homepage-intro-content {
  > p {
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 32px;
    margin: 0;
  }

  margin: 0 4%;
  width: 92%;
  float: left;
}

.homepage-intro-image {
  margin: 0 1.04167%;
  width: 25%;
  float: right;
  overflow: hidden;
}

.homepage-intro h1 {
  display: block;
  font-size: 1.8rem;
  margin: 0;
  padding: 0 0 30px;
}

.fa-phone {
  transform: rotate(45deg) scale(1) skew(1deg) translate(0);
  -webkit-transform: rotate(45deg) scale(1) skew(1deg) translate(0);
  -moz-transform: rotate(45deg) scale(1) skew(1deg) translate(0);
  -o-transform: rotate(45deg) scale(1) skew(1deg) translate(0);
  -ms-transform: rotate(45deg) scale(1) skew(1deg) translate(0);
}

.section.compact.breadcrumb {
  padding-bottom: 10px;
}

.breadcrumbs {
  display: none;

  .fa {
    font-size: 18px;
    margin-right: 3px;
    color: #40AFF7;
    position: relative;
    top: 1px;
  }
}

#breadcrumbs * {
  font-size: 13px;
  color: #aaa;
}

.content.full, .portfolio-subnav {
  margin: 0 1.04167%;
}

#breadcrumbs a {
  color: #40AFF7;
}

.box-clients {
  h2 {
    display: block;
  }

  p {
    padding: 0 5%;
    font-size: 18px;
    font-size: 1.125rem;
  }
}

.page-template-page-php .box-intro {
  border: 0;
}

.box-intro {
  &:after, &:before {
    display: table;
    content: "";
    line-height: 0;
  }

  .content {
    display: block;
    float: none;
    margin: 0 4%;
    width: 92%;
  }
}

.content {
  > .textwrapper {
    max-width:90%;
  }
}

.breadcrumb .content {
  display: block;
  float: none;
  margin: 0 4%;
  width: 92%;
}

.page-template-page-full-php .box-intro {
  padding-bottom: 0;
  border: 0;
}

.page-template-page-portfolio .box-intro {
  padding: 0;
  border: 0;
}

.portfolio-subnav {
  background: #efefef;
  display: block;

  ul {
    margin: 0 1.04167% 10px;
    padding: 5px;
  }

  li {
    display: block;
    margin: 0 0 5px;

    &:first-child {
      margin-left: 0;
    }

    a {
      &:hover {
        border-color: #40AFF7;
        color: #40AFF7;
      }

      border: 1px solid #ccc;
      border-radius: 3px;
      color: #333;
      background: #fff;
      display: block;
      font-size: .83rem;
      letter-spacing: .2px;
      font-weight: 600;
      text-decoration: none;
      padding: 3px 18px;
      position: relative;
      transition: all 0s ease 0s, all 0.15s ease 0s;

      .fa {
        display: none;
      }
    }

    &.selected a {
      border-color: #40AFF7;
      color: #fff;
      padding: 3px 18px;
      background: #40AFF7;

      .fa {
        font-size: inherit;
        display: inline-block;
        -webkit-animation: spin 3s linear infinite;
        -moz-animation: spin 3s linear infinite;
        animation: spin 3s linear infinite;
        position: relative;
        right: 3px;
      }
    }
  }
}

.box-cta {
  margin: 35px auto 0;
  border-top: 1px solid #ddd;
  padding: 15px 0 0;
  width: 80%;
}

.section.compact > .box-cta {
  margin: 0 auto;
}

.box-cta h3 {
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  margin: .8em 0;
  font-weight: 400;
}

.box-intro h2, .box-items .column .btn-1 {
  font-family: "Open Sans", sans-serif;
}

.box-intro .content.full {
  width: 100%;
  max-width: 78.5714em;
}

.textwrapper {
  ol, p, ul {
    font-size: 1em;
  }
}

.box-intro {
  h1 {
    font-size: 1.5rem;
    margin: 0 0 .5em;
    line-height: 1.1em;
  }
}

.box-intro {
  h2 {
    font-size: 1.3rem;
  }
}

.box-intro {
  h3 {
    font-size: 1.1rem;
  }
}

.textwrapper ul .fa-chevron-circle-right:before {
  padding-right: 5px;
}

p.intro {
  font-size: 1.2rem;
  line-height: 1.4em;
  font-weight: 300;
  margin: 0 0 1em;
}

.box-intro {
  .column {
    display: inline;
    float: left;
    width: 31.25%;
    margin: 0 1.04167%;
  }

  .aside {
    display: inline-block;
    float: none;
    width: 97.9%;
    margin: 15px 1.04167%;
  }
}

aside .sidebox {
  margin: 0 0 30px;
  padding: 15px;
  border-radius: 6px;

  h3 {
    margin: 5px 0 15px;
  }

  &.greybox {
    background: #efefef;
    border: 1px solid #ddd;
  }

  &.bluebox {
    background: #40AFF7;
    border: none;
    color: #fff;

    *, .fa-check:before {
      color: #fff;
    }
  }

  &.borderbox {
    border: 1px solid #ddd;
  }

  p {
    font-size: 14px;
  }

  ul {
    li {
      font-size: 14px;
    }

    line-height: 30px;
    padding: 0;
    margin: 0;
  }
}

.box-intro .box-links {
  a {
    font-size: 1em;
    font-size: 0.9375rem;

    &:focus, &:hover {
      text-decoration: none;
      color: #40AFF7;
    }
  }

  li {
    position: relative;
    padding: 0 0 0 15px;
    margin: 0 0 5px;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 9px;
      left: 0;
      width: 6px;
      height: 6px;
      background: #999;
    }

    &:hover:before {
      background: #40AFF7;
    }
  }
}

.box-contact .row {
  margin: 10px 0 0;
  padding: 40px 0 0;
  border-top: 1px solid #E1E1E1;
}

.box-items {
  &.portfolio {
    margin-bottom: 25px;
    padding-bottom: 25px;
  }

  .column {
    display: inline;
    float: left;
    position: relative;
    transition: all 25ms ease 0s;
    width: 97.9167%;
    margin: 0 1.04167%;

    .article {
      margin-bottom: 50px;
    }

    a {
      &:active, &:hover {
        text-decoration: none;
      }
    }
  }
}

.portfolio-item:hover {
  position: relative;
  border-bottom-color: #40AFF7 !important;

  .btn-1 {
    display: block !important;
    background: #40AFF7 !important;

    &:hover {
      display: block !important;
      background: #40AFF7 !important;
    }
  }
}

.box-items {
  .left, figure {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0 0 15px;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: 0.4s;
  }

  .left {
    &:after, &:before {
      display: table;
      content: "";
      line-height: 0;
    }
  }

  figure {
    &:after, &:before {
      display: table;
      content: "";
      line-height: 0;
    }

    figcaption {
      font: 0/0 a;
      color: transparent;
      text-shadow: none;
      font-family: 'Open Sans', sans-serif;
      border: 0;
      margin: 0;
      top: 0;
      left: 0;
      transition: all 0s ease-in-out 0s, all 250ms ease 0s;
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 25;
      background: 0 0;
    }
  }

  .portfolio-item:hover {
    figcaption {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 25;
      font: inherit;
      padding: 0;
      margin: 0;
      width: 100%;
      height: 100%;
      text-transform: uppercase;
      text-align: left;
      background: 0 0;
    }

    figure:after {
      display: block;
      content: '';
      position: absolute;
      height: 3px;
      width: 100%;
      background: #40AFF7;
      bottom: 0;
    }
  }

  figure i {
    background: #40AFF7;
    display: none;
    position: absolute;
    z-index: 24;
    opacity: 1;
    font-size: 30px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    margin: 0;
    text-align: center;
    padding: 0;
    bottom: 0;
    right: 0;
  }

  .row {
    position: relative;
  }
}

.list-detail, .list-portfolio li {
  position: relative;
}

.box-items {
  figure img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
  }

  .portfolio-item {
    &:hover figure i {
      display: inline-block;
    }

    figure img {
      -webkit-transition: all .4s ease-in-out;
      -moz-transition: all .4s ease-in-out;
      -ms-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      transition: all 0.4s ease-in-out;
    }

    &:hover figure img {
      opacity: .6;
      filter: alpha(opacity = 60);
      transform: rotate(0) scale(1.2) skew(0) translate(0);
      -webkit-transform: rotate(0) scale(1.2) skew(1deg) translate(0);
      -moz-transform: rotate(0) scale(1.2) skew(1deg) translate(0);
      -o-transform: rotate(0) scale(1.2) skew(1deg) translate(0);
      -ms-transform: rotate(0) scale(1.2) skew(1deg) translate(0);
    }
  }
}

.list-portfolio li, .nav-main ul {
  -webkit-transform: translateZ(0);
}

.box-items {
  .column.full {
    .left, figure {
      display: inline;
      float: left;
      width: 64.58333%;
      margin: 0 1.04167%;
    }

    .content {
      display: inline;
      float: left;
      width: 31.25%;
      margin: 0 1.04167%;
    }
  }

  .row {
    &:after, &:before {
      content: "";
      line-height: 0;
      display: table;
    }
  }
}

.list-portfolio {
  &:after, &:before {
    content: "";
    line-height: 0;
    display: table;
  }
}

.box-items {
  h2 {
    margin: 0 0 .166666667em;
    font-size: 30px;
    font-size: 1.675rem;
  }

  h3 {
    color: #333;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    margin: .8em 0;
    text-align: left;
  }
}

.accordion-heading .active h3, .box-items .content a, .close-container, .homepage-intro-list h3, .list-detail h4, .list-portfolio h3, .lnk-more, .nav-main a {
  font-family: "Open Sans", sans-serif;
}

.box-items {
  .date {
    font-size: .8rem;
    color: #999;
    padding: 0 0 6px;
  }

  p {
    margin: 0;
    font-size: 14px;
  }

  .content a {
    color: #333;
  }
}

ol, ul {
  margin: 0 0 .5em;
  padding: 0;
}

ol {
  list-style-position: inside;
}

ul {
  list-style: none;
}

ol li > ol, ul li > ul {
  padding: 0 0 0 15px;
}

dd {
  margin: 0 0 0 40px;
}

.list-portfolio {
  margin-top: 20px;
  margin-bottom: 20px;

  li {
    display: inline;
    float: left;
    width: 47.91667%;
    margin: 0 1.04167% 1em;
    text-align: center;
    -moz-transition: -moz-transform .25s ease-in-out;
    -ms-transition: -ms-transform .25s ease-in-out;
    -o-transition: -o-transform .25s ease-in-out;
    -webkit-transition: -webkit-transform .25s ease-in-out;
    transition: transform .25s ease-in-out;
    opacity: 1;
  }

  img {
    margin: 0 0 1.5em;
    max-width: 100%;
    height: auto;
    border: 5px solid #fff;
    -webkit-box-shadow: 0 0 8px #4a4a4a;
    -moz-box-shadow: 0 0 8px #4a4a4a;
    box-shadow: 0 0 8px #4a4a4a;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  h3 {
    font-weight: 400;
    font-size: 1em;
    margin: 0;
  }

  p {
    color: #717170;
    font-style: italic;
  }
}

.list-socialmedia {
  margin: 0;
  text-align: left;
  padding-left: 30px;
  display: none;

  li {
    display: inline-block;
    margin: 0 2px;
  }

  a {
    text-decoration: none;
  }

  .icon {
    color: #fff;
    margin: 3px 0 0;
    display: block;
    font-size: 36px;
  }
}

.box-intro .list-socialmedia .icon {
  color: #40AFF7;
}

.fa-file-pdf-o {
  color: red;
  background: #fff;
  margin: 0 5px 0 0;
  font-weight: 400;
}

.fa-check:before {
  color: #0F9349;
  padding-right: 5px;
}

.list-detail {
  li {
    padding: 8px 0;
    border-bottom: 1px solid #d1d1d1;

    &:first-child {
      border-top: 1px solid #d1d1d1;
    }
  }

  a {
    word-break: break-word;
  }

  h4 {
    font-weight: 700;
  }
}

.homepage-intro-list {
  padding: 0;
  margin: 0;

  &:after, &:before {
    display: table;
    content: "";
    line-height: 0;
  }

  li {
    display: inline;
    float: left;
    width: 92%;
    margin: 0 4% 10px;
    position: relative;
    padding-bottom: 25px;
    border-bottom: 3px solid;
    overflow: hidden;
    -webkit-transition: all 25ms ease;
    -moz-transition: all 25ms ease;
    -ms-transition: all 25ms ease;
    -o-transition: all 25ms ease;
    transition: all 25ms ease;

    &:hover {
      border-color: #40AFF7;
    }
  }
}

.box-items {
  .column {
    width: 92%;
    margin: 0 4%;
  }
}

.box-items .column .btn-1, .homepage-intro-list li .btn-1 {
  position: absolute;
  right: 0;
  font-size: 1em;
  margin: 0;
  padding: 0;
  height: 30px;
  bottom: -30px;
  border: none;
  border-radius: 0;
  background: #40AFF7;
}

.box-items .column .btn-1 {
  text-decoration: none;
  display: none;
}

.homepage-intro-list {
  li {
    .btn-1 i {
      position: relative;
      top: 1px;
      font-size: 30px;
      z-index: 24;
      opacity: 1;
      width: 32px;
      height: 32px;
      line-height: 32px;
      color: #fff;
      margin: 0;
      text-align: center;
      padding: 0;
    }

    a {
      cursor: pointer;
      text-decoration: none;
    }
  }

  h3 {
    font-size: 1.5rem;
    text-align: left;
    margin: .5em 0;
    color: #757575;

    span {
      color: #222;
    }
  }

  p {
    margin: 0 5px;
  }

  img {
    margin: 0 0 1em;
    max-width: 100%;
  }
}

.list-clients {
  position: relative;

  &:after, &:before {
    display: table;
    content: "";
    line-height: 0;
  }
}

.nav-main a, .submenu li a {
  position: relative;
  line-height: 40px;
}

.list-clients {
  li {
    text-align: center;
    display: inline;
    float: left;
    width: 97.91667%;
    margin: 0 1.04167% 0.5em;
  }

  a {
    display: block;
  }
}

.btn {
  &:focus, &:hover {
    text-decoration: none;
    color: #fff;
  }
}

[class*=btn-] {
  &:focus, &:hover {
    text-decoration: none;
    color: #fff;
  }
}

.homebox-items > .btn-1 {
  float: right;
}

.btn-1 {
  &:focus, &:hover {
    background: #0F9349 !important;
    color: #fff !important;
    border-color: #0F9349;
  }
}

a[title*="terug naar boven"] {
  display: none;
  outline: 0;
  width: 10px;
}

.close-container, .nav-link {
  display: block;
  position: absolute;
}

a[title*="terug naar boven"]:after {
  content: "\e000";
  font-size: 1em;
  position: absolute;
  right: 7px;
  top: 7px;
  text-indent: 0;
}

.close-container {
  top: 10px;
  right: 12px;
  width: 25px;
  height: 23px;
  padding: 2px 0 0;
  color: #fff;
  font-size: 1em;
  font-size: .9375rem;
  text-align: center;
  background: #676767;
  -webkit-transition: .25s;
  -moz-transition: .25s;
  -o-transition: .25s;
  transition: 0.25s;

  &:focus, &:hover {
    text-decoration: none;
    background: #40AFF7;
    color: #fff;
  }
}

.lnk-more {
  color: #40AFF7;
  text-decoration: none;

  &:after {
    content: ' » ';
    font-size: 18px;
    font-size: 1.125rem;
  }
}

.nav-link {
  text-decoration: none !important;
  visibility: visible;
  left: -6em;
  top: 35px;
  padding: 5px 5px 0 7px;
  background: #4d4d4d;
  color: #fff;
  outline: 0 !important;
}

#maps {
  display: none;
}

.active .nav-link {
  background: #40AFF7;
}

.nav-link {
  &:before {
    color: #fff;
    content: "Menu ";
    font-size: 13px;
    position: relative;
    bottom: 4px;
  }

  span:first-child {
    float: right;
    margin: 0 0 0 5px;
    position: relative;
    bottom: 2px;
    color: #fff;
  }
}

.nav-main a nav ul, nav ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

#nav {
  position: absolute;
  z-index: 9999;
  height: 2000%;
  right: -16em;
  top: -.5em;
  width: 16em;
  background: #fff;
}

.nav-main {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;

  a {
    display: block;
    letter-spacing: .3px;
    height: 40px;
    box-sizing: initial;
    outline: 0;
    -moz-outline: 0;
    font-size: 13px;
    font-variant: small-caps;
    color: #02203C;
    -webkit-transition: .25s;
    -moz-transition: .25s;
    -o-transition: .25s;
    transition: 0.25s;
  }

  .current-menu-item > a {
    text-decoration: none;
    opacity: 1;
    color: #40AFF7;
  }

  a {
    &:focus, &:hover {
      text-decoration: none;
      opacity: 1;
      color: #40AFF7;
    }

    .link-border {
      background: #40AFF7;
      display: none;
      height: 1px !important;
      width: 100%;
      position: relative;
      bottom: 0;
    }

    &:focus .link-border, &:hover .link-border {
      background: #40AFF7;
    }
  }

  .current-menu-item a .link-border {
    display: none;
  }

  a {
    &:focus .link-border, &:hover .link-border {
      display: none;
    }
  }
}

.accordion-heading a, .nav-main li, .tooltip {
  display: block;
}

.nav-main {
  background: #fff;

  > ul {
    padding: 25px 15px 5px;
  }

  a {
    padding: 0 7px;
    border-bottom: 1px solid #e5e5e5;
  }
}

.submenu li a {
  height: 40px;
  padding: 0 0 0 30px;
  font-weight: 400;
  color: #000;
  font-variant: normal;
  letter-spacing: 0;
  text-transform: none;
  transition: all .15s ease 0s;
  font-size: 11px;
}

.box-contact .column {
  margin: 0 1.04167%;

  + .column {
    margin: 0 1.04167%;
  }

  &:first-child {
    margin-bottom: 25px;
  }
}

.tooltip {
  position: absolute;
  z-index: 1030;
  padding: 5px;
  font-size: .857142857em;
  opacity: 0;
  filter: alpha(opacity = 0);
  visibility: visible;

  &.in {
    opacity: .8;
    filter: alpha(opacity = 80);
  }

  &.top {
    margin-top: -3px;
  }
}

.tooltip-inner {
  max-width: 220px;
  padding: 5px 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #40AFF7;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-color: #40AFF7;
  border-width: 5px 5px 0;
}

.accordion {
  margin: 0 0 15px;
}

.accordion-heading {
  a {
    &:focus, &:hover {
      text-decoration: none;
    }
  }

  h3 {
    position: relative;
    padding: 0 0 0 15px;
    margin: 0 0 5px;
    font-size: 14px;
    font-size: 0.875rem;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 4px;
      left: 0;
      width: 6px;
      height: 6px;
      background: #999;
    }
  }
}

.carousel {
  position: relative;
  overflow: hidden;

  .carousel-images {
    position: relative;
    overflow: hidden;
  }
}

.referenties {
  position: relative;
  overflow: hidden;

  .referentie-items {
    position: relative;
    overflow: hidden;
  }
}

.accordion-heading {
  h3 {
    &:focus, &:hover {
      text-decoration: none;
      color: #40AFF7;
    }

    &:focus:before, &:hover:before {
      background: #40AFF7;
    }
  }

  .active h3 {
    font-weight: 700;
  }
}

.accordion-content {
  overflow: hidden;

  .content {
    padding: 5px 0 0;
    width: 80%;
  }
}

.carousel {
  height: 400px;
}

.referenties {
  height: 250px;
}

.carousel .carousel-images {
  height: 400px;
  margin: 0;
}

.referenties .referentie-items {
  height: 250px;
  margin: 0;
  padding: 10px 0;
}

.carousel .carousel-images {
  .container {
    text-align: center;
    height: 100%;
  }

  &:after, &:before {
    display: table;
    content: "";
    line-height: 0;
  }

  li {
    position: relative;
    -webkit-backface-visibility: hidden;
    display: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 220px;
    height: 100%;
  }
}

.referenties .referentie-items li {
  position: relative;
  -webkit-backface-visibility: hidden;
  display: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 220px;
  height: 100%;
}

.carousel .carousel-images {
  li {
    background-color: #000;
  }

  .carousel-img-wrapper {
    width: 50%;
    position: relative;
    float: right;

    a {
      display: block;

      span {
        position: absolute;
        z-index: 9999;
        top: 100%;
      }

      &:hover img {
        opacity: 0.5;
      }
    }

    img {
      border: 4px solid #40AFF7;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      position: absolute;
      padding: 10px;
      right: 0;
      max-width: 100%;
      background: #fff;
      top: 50px;
      opacity: 1;
    }
  }
}

.ir, .visuallyhidden {
  border: 0;
  overflow: hidden;
}

.carousel-images li:after {
  content: ".";
  display: block;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.carousel-direction-nav {
  display: none;
  position: absolute;
  left: 0;
  top: 48.5%;
  width: 100%;
  margin: -15px 0 0;
}

.carousel:hover .carousel-direction-nav {
  display: block;
}

.carousel-direction-nav {
  li {
    display: inline-block;
    vertical-align: top;
    margin: 0 3px;
  }

  a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background: #fff;
    cursor: pointer;
    text-align: center;
    font: 0/0 a;
    color: transparent;

    &:before {
      content: "\f341";
      font-size: 30px;
      font-size: 1.875rem;
      color: #d1d1d1;
      position: relative;
      top: 6px;
      left: -2px;
    }

    &:focus, &:hover {
      text-decoration: none;
    }

    &:focus:before, &:hover:before {
      color: #40AFF7;
    }
  }

  .carousel-next {
    right: 0;
    left: auto;

    &:before {
      content: "\f345";
      left: 0;
    }
  }
}

.carousel {
  .carousel-content {
    .carousel-content-inner {
      margin: 0 auto;
      max-width: 100%;
      padding: 10px 20px;
      text-align: center;
    }

    width: 100%;
    top: 32%;
    text-align: center;
    position: relative;
    color: #fff;
  }

  .carousel-img-wrapper {
    display: none;
  }

  .carousel-content {
    strong {
      margin: 0 0 .5em;
      font-size: 1.4em;
      line-height: 1.2em;
      font-weight: 700;
      text-shadow: 1px 1px 1px #000;
      font-family: "Open Sans";

      span {
        font-weight: 700;
        display: block;
      }
    }

    p {
      font-size: .85em;
      font-weight: 600;
    }
  }
}

.static-img {
  display: block;
}

iframe {
  max-width: 100%;
}

.map-container {
  width: 100%;
  margin: 0 auto;
  height: 0;
  padding-top: 38%;
  position: relative;
  display: none;

  iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}

.box-map-header {
  font-weight: 600;
}

.vcard span {
  line-height: 30px;
}

.ir {
  display: block;
  text-indent: -999em;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

#wp-live-chat-2, .loading-bar {
  text-align: center;
}

.hide, .ir br, .loader {
  display: none;
}

.header [title*=Logo] span, .hidden {
  display: none;
  visibility: hidden;
}

.visuallyhidden {
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  width: 1px;

  &.focusable {
    &:active, &:focus {
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      width: auto;
    }
  }
}

.screen-reader-text {
  position: absolute;
  top: -900em;
  left: -900em;
}

.loader, a.teamviewer {
  position: relative;
}

.loader {
  font-size: 30px;
  color: #40AFF7;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;

  &.loading {
    display: inline-block;
  }
}

a.teamviewer span {
  color: #fff;
  position: absolute;
  top: 8px;
  font-weight: 600;
  left: 60px;
  letter-spacing: -.3px;
  font-size: 10px;
  text-decoration: none;
}

.cookie-notice-revoke-container .cn-button {
  float: right;
  border-radius: 0;
  background: #0F9349;
  color: #fff !important;
}

.cookies-refused #cn-refuse-cookie, .cookies-accepted #cn-accept-cookie {
  background: #0F9349;
  color: #fff !important;
}

.cookies-refused #cn-refuse-cookie:before, .cookies-accepted #cn-accept-cookie:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f00c";
  padding-right: 5px;
}

@media only screen and (-webkit-device-pixel-ratio: 2) {
  /*.header [title*=Logo] {
    left: 5px;
    top: 10px;
    width: 164px;
    height: 84px;
    background: url(../img/InUitLogoRGB.svg) center center no-repeat;
  }*/
}

@media (min-width: 24.0625em) {
  .list-clients li, .list-portfolio li {
    display: inline;
    float: left;
    width: 47.91667%;
  }

  .list-clients li {
    margin: 0 1.04167% 0.5em;
  }

  .list-portfolio li {
    margin: 0 1.04167% 1em;
  }

  .carousel .carousel-content {
    strong {
      font-size: 2.1em;
      font-weight: 700;
    }

    p {
      font-size: 1.25em;
      font-weight: 700;
    }
  }
}

@media (min-width: 30.3125em) {
  .list-clients li, .list-portfolio li {
    display: inline;
    float: left;
    margin: 0 1.04167%;
  }

  article .column {
    display: inline;
    float: left;
    margin: 0 1.04167%;
    width: 47.91667%;
    opacity: 1;
  }

  .page-template-page-full-php .article .column {
    display: inline;
    float: left;
    width: 97.91667%;
    margin: 0 1.04167%;
  }

  .what-we-do p {
    text-align: left;
  }

  .list-portfolio li {
    width: 31.25%;
  }

  .list-clients li {
    width: 47.91667%;
  }
}

@media (min-width: 31.25em) {
  .carousel {
    .carousel-content strong {
      font-size: 1.8em;
    }

    .first .carousel-content {
      -webkit-animation: slideDownCarousel;
      -moz-animation: slideDownCarousel;
      -ms-animation: slideDownCarousel;
      -o-animation: slideDownCarousel;
      animation: slideDownCarousel;
      -webkit-animation-duration: 1s;
      -moz-animation-duration: 1s;
      -ms-animation-duration: 1s;
      -o-animation-duration: 1s;
      animation-duration: 1s;
    }
  }
}

@media all and (min-width: 34.375em) {
  .map-container {
    display: block;
  }

  .static-img {
    display: none;
  }
}

@media (min-width: 38.75em) {
  .copyright {
    overflow: hidden;
  }
}

@media (min-width: 41.25em) {

  .footer {
    .column {
      display: inline;
      float: left;
      width: 39.58333%;
      margin: 0 1.04167%;
      border: none;

      + .column + .column {
        display: inline;
        float: left;
        width: 14.58333%;
        margin: 0 1.04167%;
      }
    }

    .section + .section .column + .column {
      float: right;
    }

    .list-logos li {
      width: auto;
      border: none;
    }

    .footer-bottom .column {
      width: 45.58333%;
    }
  }

  .box-address {
    margin: 40px 0 0;
  }

  .list-portfolio li {
    display: inline;
    float: left;
    width: 22.91667%;
    margin: 0 1.04167% 1em;
  }

  .box-items .column, .homepage-intro-list li, .list-clients li {
    display: inline;
    float: left;
    width: 31.25%;
    margin: 0 1.04167%;
  }

  .box-items .column {
    border: none;
    padding: 0;
  }

  .homepage-intro-list li {
    -webkit-transition: all 20ms ease;
    -moz-transition: all 20ms ease;
    -ms-transition: all 20ms ease;
    -o-transition: all 20ms ease;
    transition: all 20ms ease;
  }

  .list-clients a {
    display: block;
  }

  .list-socialmedia li {
    margin: 0 2px 0.5em;
  }

  .carousel {
    .carousel-content strong {
      font-size: 2.6em;
      line-height: 1;
      color: #fff;
      letter-spacing: 0.3px;
    }

    .first .carousel-content strong {
      font-size: 3.5em;
    }

    .carousel-content p {
      color: #fff;
      letter-spacing: 0.5px;
    }
  }

  .carousel-direction-nav {
    a {
      left: 50px;
    }

    .carousel-next {
      right: 50px;
    }
  }
}

@media (min-width: 44.6875em) {
  .gform_body li {
    width: 47%;
  }

  .project-detail {
    padding: 0;

    .column {
      display: inline;
      float: left;
      width: 72.91667%;
      margin: 0 1.04167%;

      + .column {
        display: inline;
        width: 22.91667%;
        margin: 0 1.04167%;
        float: right;
      }
    }

    img {
      width: 100%;
      height: 512px;
    }
  }

  .header .box-intro {
    position: absolute;
    top: 140px;
    margin: 0 0 0 335px;
  }

  .footer {
    .content {
      padding: 25px 0 0;
    }

    .list-logos li {
      margin: 0 15px;
    }

    .row + .row .column {
      display: inline;
      float: left;
      width: 47%;
      margin: 0 1.04167%;
      padding: 10px 0;

      + .column {
        display: inline;
        float: right;
        width: 47%;
        margin: 0 1.04167%;
      }
    }
  }

  .footer-nav {
    li {
      display: inline-block;
      margin-left: 20px;

      &:first-child {
        margin: 0;
      }
    }

    text-align: right;
  }

  address {
    .left, > span:first-child {
      float: left;
    }
  }

  .portfolio-subnav {
    ul {
      margin: 0 1.04167%;
      padding: 25px 0 25px 15px;
    }

    li {
      display: inline-block;
      margin: 0 0 0 10px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

@media (min-width: 50.25em) {

  .box-intro {
    h1 {
      font-size: 1.8rem;
      margin: 0 0 .5em;
      line-height: 1.1em;
    }
  }

  .box-intro {
    h2 {
      font-size: 1.6rem;
    }
  }

  .box-intro {
    h3 {
      font-size: 1.25rem;
    }
  }


  .homepage-intro-list {
    li {
      margin: 0 1.04167% 10px;
    }
  }

  .breadcrumb .content {
    margin: 0 1.04167%;
    width: auto;
  }


  p.intro {
    font-size: 1.45rem;
    line-height:1.5em;
    font-weight: 300;
    margin: 0 0 1em;
  }

  .homepage-intro-content {
    > p {
      font-weight: 300;
      font-size: 1.45rem;
      line-height:1.5em;
      margin: 0;
    }

    margin: 0 1.04167%;
    width: 75%;
    float: left;
  }

  #nav, .nav-main {
    background: 0 0;
  }

  .box-contact .column {
    display: inline;
    float: left;
    width: 31.25%;
    margin: 0 1.04167%;

    + .column {
      display: inline;
      float: left;
      width: 64.58333%;
      margin: 0 1.04167%;
    }
  }

  .header {
    background:#fff!important;
    border-bottom: 1px solid #E1E1E1;
    .container {
      width:100%;
      padding:0;
    }
    &.scrolling {
      position: fixed;
    }
    [title*=Logo] {
      top: 10px;
      left: 1.04167%;
      position: relative;
      background: url(../img/InUitLogoRGBSmall.png) left top no-repeat;
    }
  }

  #breadcrumbs {
    display: block;
    margin: 0;
  }

  #nav {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 250;
    margin: 0 1.04167% 0 0;
    width: 80%;
  }

  .nav-main {
    a {
      height: 88px;
      line-height: 88px;
      border: 0;
    }

    > ul {
      float: right;
      padding: 0;
    }
  }

  .nav-link {
    display: none;
    visibility: hidden;
  }

  .nav-main li {
    display: inline-block;
    position: relative;
  }

  .submenu {
    display: none;
    width: 400px;

    > ul {
      display: none;
      width: 400px;
    }
  }

  .nav-main a .link-border {
    height: 2px;
  }

  .wrap.active {
    left: 0;
  }

  .submenu {
    border-top: 1px solid #40AFF7;
    background: #efefef;
    padding: 10px 5px;
    position: absolute;
    top: 88px;
    height: 155px;

    li {
      display: inline-block;
      vertical-align: top;
      width: 46%;
      text-align: left;
    }
  }

  #maps {
    display: block;
  }

  .nav-main {
    .current-menu-item a .link-border {
      display: block;
    }

    a {

      letter-spacing: .1px;
      font-weight: 500;
      font-size: 14px;

      &:focus .link-border, &:hover .link-border {
        display: block;
      }
    }
  }

  .submenu li {
    a {
      display: block;
    }

    &:nth-child(odd) {
      padding-left: 20px;
    }

    a {
      font-size: 14px;
      padding: 8px 0 8px 5px;
      position: relative;
      font-weight: 500;
      text-transform: none;
      height: auto;
      line-height: 25px;
      text-indent: -5px;
      transition: all 0.15s ease 0s;
    }
  }

  #maps {
    height: 200px;
    overflow: hidden;
  }

  .box-intro {
    .aside {
      display: inline;
      float: left;
      margin: 0 1.04167%;
    }

    .content {
      display: inline;
      float: left;
      margin: 0 1.04167%;
      width: 64.58333%;
    }

    .aside {
      width: 31.25%;
    }
  }

  .section {
    padding: 60px 0;

    &.compact {
      padding: 20px 0;
    }
  }

  .list-socialmedia {
    display: block;
  }
}

@media (min-width: 56.25em) {
  .list-clients li {
    display: inline;
    float: left;
    width: 17.91667%;
    margin: 0 1.04167% 40px;
  }

  .carousel {
    .carousel-content {
      width: 50%;
    }

    .carousel-img-wrapper {
      display: block;
    }
  }
}

@media (min-width: 60em) {
  a[title*="terug naar boven"] {
    display: inline-block;
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 3px 10px 2px;
    color: #fff;
    border: 1px solid #D1D1D1;
    text-indent: -9999px;
    font-size: .75rem;
    -webkit-transition: .25s;
    -moz-transition: .25s;
    -o-transition: .25s;
    transition: .25s;
    background: #40AFF7;
    opacity: 0;

    &:focus, &:hover {
      background: #40AFF7;
      text-decoration: none;
      color: #fff;
    }

    &:focus:after, &:hover:after {
      color: #fff;
    }
  }

  .nav-main a {
    padding: 0 0 0 32px;
  }

  .cookie-notice-container {
    .btn-1 {
      margin-right: 10px !important;
      margin-left: 0 !important;
    }

    #cn-notice-text {
      padding-bottom: 10px;
      display: inline-block;
    }
  }
}

@media (min-width: 75em) {
  .nav-main a {
    padding: 0 0 0 50px;
  }
}

@media (max-width: 768px) {
  .content {
    .textwrapper {
      img {
        margin:0 0 20px 0!important;
        float: none!important;
        display:block!important;
      }
    }
  }
}

@media print {
  blockquote, img, pre, tr {
    page-break-inside: avoid;
  }

  * {
    background: 0 0 !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a {
    text-decoration: underline;

    &:visited {
      text-decoration: underline;
    }

    &[href]:after {
      content: " (" attr(href) ")";
    }
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after {
    content: "";
  }

  a {
    &[href^="javascript:"]:after, &[href^="#"]:after {
      content: "";
    }
  }

  blockquote, pre {
    border: 1px solid #999;
  }

  thead {
    display: table-header-group;
  }

  img {
    max-width: 100% !important;
  }

  h2, h3, p {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}