//
// Accordion.scss
// --------------------------------------------------
.accordion {
    margin: 0 0 15px;
}
.accordion-heading a {
    display: block;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}
    .accordion-heading h3 {
        position: relative;
        padding: 0 0 0 15px;
        margin: 0 0 5px;
        @include font-size(14);

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 4px;
            left: 0;
            width: 6px;
            height: 6px;
            background: $grayLight;
        }
        &:hover,
        &:focus {
            text-decoration: none;
            color: $c2;

            &:before {
                background: $c2;
            }
        }
    }
    .accordion-heading .active h3 {
        font-family:"Avenir LT W01 85 Heavy";
    }

// content
.accordion-content {
    overflow: hidden;
}
    .accordion-content .content {
        padding: 5px 0 0;
        width: 80%;
    }
