//
// Animations.scss
// --------------------------------------------------

// slideIn
@-webkit-keyframes slideIn {
    0% {
        opacity: 0;
        left: 3%;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}
@-moz-keyframes slideIn {
    0% {
        opacity: 0;
        left: 3%;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}
@-o-keyframes slideIn {
    0% {
        opacity: 0;
        left: 3%;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}
@-ms-keyframes slideIn {
    0% {
        opacity: 0;
        left: 3%;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}
@keyframes slideIn {
    0% {
        opacity: 0;
        left: 3%;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}

// slideRight
@-webkit-keyframes slideRight {
    0% {
        opacity: 0;
        right: 0;
    }
    100% {
        right: 50px;
        opacity: 1;
    }
}
@-moz-keyframes slideRight {
    0% {
        opacity: 0;
        right: 0;
    }
    100% {
        right: 50px;
        opacity: 1;
    }
}
@-o-keyframes slideRight {
     0% {
        opacity: 0;
        right: 0;
    }
    100% {
        right: 50px;
        opacity: 1;
    }
}
@-ms-keyframes slideRight {
     0% {
        opacity: 0;
        right: 0;
    }
    100% {
        right: 50px;
        opacity: 1;
    }
}
@keyframes slideRight {
     0% {
        opacity: 0;
        right: 0;
    }
    100% {
        right: 50px;
        opacity: 1;
    }
}

// slideLeft
@-webkit-keyframes slideLeft {
    0% {
        opacity: 0;
        left: 0;
    }
    100% {
        left: 50px;
        opacity: 1;
    }
}
@-moz-keyframes slideLeft {
    0% {
        opacity: 0;
        left: 0;
    }
    100% {
        left: 50px;
        opacity: 1;
    }
}
@-o-keyframes slideLeft {
     0% {
        opacity: 0;
        left: 0;
    }
    100% {
        left: 50px;
        opacity: 1;
    }
}
@-ms-keyframes slideLeft {
     0% {
        opacity: 0;
        left: 0;
    }
    100% {
        left: 50px;
        opacity: 1;
    }
}
@keyframes slideLeft {
     0% {
        opacity: 0;
        left: 0;
    }
    100% {
        left: 50px;
        opacity: 1;
    }
}


// slideDown
@-webkit-keyframes slideDown {
    0% {
        opacity: 0;
        top: -10%;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}
@-moz-keyframes slideDown {
    0% {
        opacity: 0;
        top: -10%;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}
@-o-keyframes slideDown {
    0% {
        opacity: 0;
        top: -10%;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}
@-ms-keyframes slideDown {
    0% {
        opacity: 0;
        top: -10%;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}
@keyframes slideDown {
    0% {
        opacity: 0;
        top: -10%;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

// slideDownCarousel
@-webkit-keyframes slideDownCarousel {
    0% {
        opacity: 0;
        top: -10%;
    }
    100% {
        top: 25px;
        opacity: 1;
    }
}
@-moz-keyframes slideDownCarousel {
    0% {
        opacity: 0;
        top: -10%;
    }
    100% {
        top: 25px;
        opacity: 1;
    }
}
@-o-keyframes slideDownCarousel {
    0% {
        opacity: 0;
        top: -10%;
    }
    100% {
        top: 25px;
        opacity: 1;
    }
}
@-ms-keyframes slideDownCarousel {
    0% {
        opacity: 0;
        top: -10%;
    }
    100% {
        top: 25px;
        opacity: 1;
    }
}
@keyframes slideDownCarousel {
    0% {
        opacity: 0;
        top: -10%;
    }
    100% {
        top: 25px;
        opacity: 1;
    }
}