//
// Carousel.scss
// --------------------------------------------------
.carousel {
    position: relative;
    height: 500px;
    overflow: hidden;
}
    .carousel .carousel-images {
        position: relative;
        @include clearfix;
        height: 500px;
        margin: 0;
        overflow: hidden;
    }
        .carousel .carousel-images li {
            position: relative;
            -webkit-backface-visibility: hidden;
            display: none;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 500px;
        }
        .carousel-images li:after {
            content: ".";
            display: block;
            clear: both;
            visibility: hidden;
            line-height: 0;
            height: 0;
        }

    // awards
    .carousel-images .awards {
        display: block;
        position: absolute;
        top: 25px;
        left: 0;
    }

    // content

    // carousel-control-nav
    .carousel-direction-nav {
        display: none;
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        margin: -15px 0 0;
    }
    .carousel:hover .carousel-direction-nav {
        display: block;
    }
        .carousel-direction-nav li {
            display: inline-block;
            vertical-align: top;
            margin: 0 3px;
        }
            .carousel-direction-nav a {
                display: block;
                position: absolute;
                top: 0;
                left: 50px;
                width: 40px;
                height: 40px;
                background: $white;
                cursor: pointer;
                color: $white;
                text-align: center;
                font: 0/0 a;
                color: transparent;

                &:before {
                    @extend .icons;
                    content: "\e001";
                    @include font-size(30);
                    color: $c3;
                    position: relative;
                    top: 6px;
                    left: -2px;
                }

                &:hover,
                &:focus {
                    text-decoration: none;
                }

                &:hover:before,
                &:focus:before {
                    color: darken($c3, 25%);
                }
            }
            .carousel-direction-nav .carousel-next {
                right: 50px;
                left: auto;

                &:before {
                    content: "\e003";
                }
            }
            .carousel-control-nav .carousel-active {

            }

// Content
#header .carousel .content {
    position: relative;
    top: 20px;
    width: 100%;
    text-align: center;
    color: #4D4D4D;
}
    #header .carousel .content strong {
        margin: 0 0 0.5em;
        font-size: 2.571428571em;
        line-height: 1.2em;
        font-weight: normal;
        font-family: "Avenir LT W01 35 Light";

        span {
            font-weight: bold;
            display: block;
        }
    }
    #header .carousel .content p {
        @include font-size(20);
        font-family: 'Avenir LT W01 35 Light';
    }

// -------------------------
// Media query
// -------------------------
@media (min-width: 31.25em) { // 500/16
    #header .carousel .content strong {
        @include font-size(60);
    }
}

// -------------------------
// Media query
// -------------------------
@media (min-width: 41.25em) { // 660/16

    #header .carousel .content strong {
        margin: 0 0 0.2em;
        @include font-size(70);
        line-height: 1;
    }
    #header .carousel .content {
        right: 50px;
        left: auto;
        width: auto;
        text-align: left;
        position: absolute;
        top: 130px;
        color: $white;
        -webkit-animation: slideRight;
        -moz-animation: slideRight;
        -ms-animation: slideRight;
        -o-animation: slideRight;
        animation: slideRight;
         -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
        -ms-animation-duration: 1s;
        -o-animation-duration: 1s;
        animation-duration: 1s;
    }
    #header .carousel .content strong {
        text-shadow: 1px 1px 1px $gray;
    }
    #header .carousel .content p {
        text-shadow: 1px 1px 1px $gray;
    }
    #header .carousel .case.newdayatwork .content {
        right: auto;
        top: 30px;
        left: 50px;
        -webkit-animation: slideLeft;
        -moz-animation: slideLeft;
        -ms-animation: slideLeft;
        -o-animation: slideLeft;
        animation: slideLeft;
         -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
        -ms-animation-duration: 1s;
        -o-animation-duration: 1s;
        animation-duration: 1s;
    }
    #header .carousel .case.altradi .content {
        right: auto;
        top: 25px;
        left: 50px;
        -webkit-animation: slideDownCarousel;
        -moz-animation: slideDownCarousel;
        -ms-animation: slideDownCarousel;
        -o-animation: slideDownCarousel;
        animation: slideDownCarousel;
         -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
        -ms-animation-duration: 1s;
        -o-animation-duration: 1s;
        animation-duration: 1s;
    }
}