//
// Tooltip.scss
// --------------------------------------------------
.tooltip {
    position: absolute;
    z-index: 1030;
    display: block;
    padding: 5px;
    font-size: .857142857em; // 12/14
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: visible;
}

.tooltip.in {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.tooltip.top {
    margin-top: -3px;
}

.tooltip-inner {
    max-width: 220px;
    padding: 5px 8px;
    color: $white;
    text-align: center;
    text-decoration: none;
    background-color: $c2;
}

.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-top-color: $c2;
    border-width: 5px 5px 0;
}
