//
// Boxes
// --------------------------------------------------
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

// Box newsletter
// -------------------------
.box-newsletter {
    position: absolute;
    left: 0;
    min-height: 200px;
    width: 100%;
    background: $c2;
    z-index: 250;
    border-bottom: 5px solid $c2;
} .no-js .box-newsletter {
    display: none;
}
    .box-newsletter .container {
        padding: 0 10px;
        width: auto;
        text-align: center;
    }
    .box-newsletter .column {
        position: relative;
        padding: 0 0 15px;

        &:first-child {
            border-bottom: 1px solid $white;
        }
    }
        .box-newsletter h2,
        .box-newsletter h3 {
            font-family:"Avenir LT W01 85 Heavy";
            @include font-size(30);
            color: $white;
        }
        .box-newsletter p {
            margin: 0 0 1em;
            color: $white;
            @include font-size(18);
        }
    .box-newsletter .close {
        position: absolute;
        bottom: -40px;
        right: 20px;
        padding: 8px 11px;
        @include font-size(20);
        color: $white;
        background: $c2;

        &:hover,
        &:focus {
            color: $c1;
            text-decoration: none;
        }
    }
    .box-newsletter .actions .submit {
        float: none;
        background: lighten($c1, 15%);

        &:hover,
        &:focus {
            background: #4d4d4d;
        }
    }
    .box-newsletter label {
        font-family:"Avenir LT W01 85 Heavy";
        @include font-size(18);
        color: $white;
    }
    .box-newsletter input {
        max-width: 100%;
    }

// form
.box-newsletter .field {
    margin: 0 26.785714286%; // 300/1120*100
}


// Box address
// -------------------------
.box-address {
    color: $white;
}
    .box-address span:first-child {
        font-weight: bold;
    }
    .box-address a {
        color: $white;
    }

// Box what we do
// -------------------------
.box-what-we-do {
    padding: 30px 0 0;
}
.box-what-we-do > p {
    padding: 0 5%;
    text-align: center;
    @include font-size(18);
}
    .box-what-we-do h1 {
        display: block;
        @include font-size(30);
        margin: 0 0 5px;
        text-align: center;
    }

// Box clients
// -------------------------
.box-clients h2 {
    display: block;
    text-align: center;
}
.box-clients p {
    padding: 0 5%;
    text-align: center;
    @include font-size(18);
}

// Box intro
// -------------------------
.box-intro {
    padding: 30px 0 0;
    @include clearfix;
    border-bottom: 1px solid #E1E1E1;
}
    .box-intro .content {
        @include column(8);
    }
    .box-intro h1 {
        @include font-size(40);
        margin: 0 0 .25em; // 10/40
        line-height: 1.1em;
    }
    .box-intro h2 {
        font-family:"Avenir LT W01 65 Medium";
        @include font-size(20);
    }
    .box-intro p {
        @include font-size(20);
    }

// links
.box-intro .column,
.box-intro .box-links {
    @include column(4);
}
    .box-intro .box-links a {
        @include font-size(15);

        &:hover,
        &:focus {
            text-decoration: none;
            color: $c2;
        }
    }
    .box-intro .box-links li {
        position: relative;
        padding: 0 0 0 15px;
        margin: 0 0 5px;

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 9px;
            left: 0;
            width: 6px;
            height: 6px;
            background: $grayLight;
        }

        &:hover {
            &:before {
                background: $c2;
            }
        }
    }

// social media


// Box contact
// -------------------------
.box-contact .column {
    @include column(4);
}
.box-contact .column + .column {
    @include column(8);
}
.box-contact .row {
    margin: 25px 0 0;
    padding: 25px 0 0;
    border-top: 1px solid #E1E1E1;

    &:first-child {
        border: none;
    }
}

// Box items
// -------------------------
.box-items {
    @include translate3d(0,0,0);
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #E1E1E1;
}
.box-items .column {
    @include column(4);
}
.box-items .column.double {
    @include column(8);
}
.box-items .column.full {
    @include column(12);
}
    .box-items .lnk-more {
        position: absolute;
        right: 5px;
        bottom: -15px;
        text-decoration: none;
        font-family:"Avenir LT W01 85 Heavy";

        &:after {
            content: ' » ';
            @include font-size(18);
        }
    }

    // figure
    .box-items .left,
    .box-items figure {
        position: relative;
        display: block;
        margin: 0 0 15px;
        @include transition(0.40s);
        @include clearfix;

        &:hover {
            @include rotate(-3deg);
            @include box-shadow(2px 2px 5px $grayDark);
        }
    }
        .box-items figure figcaption {
            @include hide-text;
            margin: 0;
        }
        .box-items figure:hover figcaption {
            @include font-size(14);
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 25;
            font-family:"Avenir LT W01 65 Medium";
            text-align: center;
            font: inherit;
            color: $white;
            padding: 5px 0;
            margin: 0;
            width: 100%;
            text-align: center;
            background: $grayDarker;
        }
        .box-items figure img {
            width: 100%;
            height: auto;
            display: block
        }
        .box-items .column.full .left,
        .box-items .column.full figure {
            @include column(8);
        }
        .box-items .column.full .content {
            @include column(4);
        }

        // content
        .box-items h2 {
            margin: 0 0 .166666667em; // 5/30
            @include font-size(30);
        }
        .box-items h3 {
            @include font-size(16);
            color: $grayLight;
        }
        .box-items p {
            margin: 0 0 15px;
        }
        .box-items .content a {
            font-family:"Avenir LT W01 65 Medium";
            color: $grayDark;
        }
        .box-items .row {
            position: relative;
            @include clearfix;
            margin: 25px 0 0;
            padding: 25px 0 0;
            border-top: 1px solid #E1E1E1;

            &:first-child {
                border: none;
                margin: 0;
            }
        }

.column.full .visual.caption:hover,
.column.double .visual.caption:hover {
    @include rotate(0);
}

// Box services
// -------------------------
.box-services {
    margin: 0 0 25px;
}
.box-services .column .figure {
    @include column(3);
}
.box-services .column > .content {
    @include column(9);
    position: relative;
    padding: 0 0 20px;
}
.box-services .animation {
    position: relative;
    margin: 0;
    left: 0;
    margin: 0 auto;
}

// content
.box-services h2 {
    margin: 0 0 .166666667em; // 5/30
    @include font-size(30);
}
.box-services p {
    margin: 0 0 15px;
}
.box-services .content a {
    font-family:"Avenir LT W01 65 Medium";
}
.box-services .content .lnk-more {
    position: absolute;
    right: 5px;
    bottom: 10px;
}
.box-services .row {
    position: relative;
    @include clearfix;
    padding: 25px 0 0;
    border-top: 1px solid #E1E1E1;

    &:first-child {
        border: none;
    }
}

// Box newsletter footer
// -------------------------
.box-newsletter-footer {
    float: right;
}
    .box-newsletter-footer > a {
        margin: 0.2em 0;
    }

// -------------------------
// Media query
// -------------------------
@media (min-width: 41.25em) {

    // box newsletter
    .box-newsletter form {
        margin: 40px 0 20px;
        @include clearfix;
    }
        .box-newsletter .column {

            &:first-child {
                border-bottom: none;
            }
        }

    // box address
    .box-address {
        margin: 40px 0 0;
    }
}

// -------------------------
// Media query
// -------------------------
@media (min-width: 44.6875em) {


}