//
// Buttons.scss
// --------------------------------------------------
.btn,
[class*="btn-"] {
    display: inline-block;
    vertical-align: top;
    color: $white;
    margin: 1em 0;

    &:hover,
    &:focus {
        text-decoration: none;
        color: $white;
    }
}

.btn-1 {
    background: $c2;
    padding: 8px 10px;
    font-family: "Avenir LT W01 65 Medium";
    @include font-size(15);
    @include transition(0.2s);

    &:hover,
    &:focus {
        background: lighten($c2, 15%);
    }
}

a[title*="terug naar boven"] {
    display: none;

    &:after {
        @extend .icons;
        content: "\e000";
        @include font-size(16);
        position: absolute;
        right: 10px;
        top: 9px;
    }
}

.close-container {
    display: block;
    position: absolute;
    top: 10px;
    right: 12px;
    width: 25px;
    height: 23px;
    padding: 2px 0 0;
    color: $white;
    @include font-size(15);
    font-family: 'Avenir LT W01 35 Light';
    text-align: center;
    background: #676767;
    @include transition(.25s);

    &:hover,
    &:focus {
        text-decoration: none;
        background: $c2;
        color: $white;
    }
}

.lnk-more {
    color: $c2;
    text-decoration: none;
    font-family:"Avenir LT W01 85 Heavy";

    &:after {
        content: ' » ';
        @include font-size(18);
    }
}

// -------------------------
// Media query
// -------------------------
@media (min-width: 60em) {

    a[title*="terug naar boven"] {
        display: inline-block;
        position: fixed;
        right: 20px;
        bottom: 20px;
        padding: 7px 30px 5px 10px;
        color: $c1;
        border: 1px solid #D1D1D1;
        @include font-size(12);
        @include transition(.25s);
        background: $white;
        opacity: 0;

        &:hover,
        &:focus {
            background: $c2;
            text-decoration: none;
            color: $white;

            &:after {
                color: $white;
            }
        }
    }
}