//
//  Fonts.scss
//
@font-face{
font-family:"Avenir LT W01 35 Light";
src:url("../fonts/3511a780-31ca-4ee1-9083-89b1b7185748.eot?#iefix");
src:url("../fonts/3511a780-31ca-4ee1-9083-89b1b7185748.eot?#iefix") format("eot"),url("../fonts/c4352a95-7a41-48c1-83ce-d8ffd2a3b118.woff") format("woff"),url("../fonts/3e419b5b-c789-488d-84cf-a64009cc308e.ttf") format("truetype"),url("../fonts/ca038835-1be3-4dc5-ba25-be1df6121499.svg#ca038835-1be3-4dc5-ba25-be1df6121499") format("svg");
}
@font-face{
font-family:"Avenir LT W01 65 Medium";
src:url("../fonts/212ab03d-5db2-4d6a-b94c-171cc702aa51.eot?#iefix");
src:url("../fonts/212ab03d-5db2-4d6a-b94c-171cc702aa51.eot?#iefix") format("eot"),url("../fonts/2cac77ec-9bc0-4ee7-87e4-27650190744f.woff") format("woff"),url("../fonts/aaf11848-aac2-4d09-9a9c-aac5ff7b8ff4.ttf") format("truetype"),url("../fonts/294099f3-8d00-4676-afc5-5e9d8d43ad69.svg#294099f3-8d00-4676-afc5-5e9d8d43ad69") format("svg");
}
@font-face{
font-family:"Avenir LT W01 85 Heavy";
src:url("../fonts/f61bf0f6-c193-4100-b940-12a1a01dcee5.eot?#iefix");
src:url("../fonts/f61bf0f6-c193-4100-b940-12a1a01dcee5.eot?#iefix") format("eot"),url("../fonts/7147ec3a-8ff8-4ec9-8c5c-bd1571dc6ae6.woff") format("woff"),url("../fonts/d1dc54b2-878d-4693-8d6e-b442e99fef68.ttf") format("truetype"),url("../fonts/731dd4d3-64da-427d-ba61-01575b3cf3f7.svg#731dd4d3-64da-427d-ba61-01575b3cf3f7") format("svg");
}
