//
// Footer
// -------------------------
.footer {
    position: relative;
    border-top: 1px solid #232323;
    @include clearfix();
    margin: 0 0 15px;
    -webkit-transform: translateZ(0);
}
    .footer .row {
        @include clearfix();
        padding: 10px 0;
        background: lighten(#4d4d4d, 0%);
    }
    .footer .row.last {
        background: none;
    }
        .footer .column {
            @include column(12);
            padding: 15px 0;
            border-bottom: 1px solid lighten($c1, 45%);
        }
            .footer h3 {
                margin: 0 0 5px;
                font-family:"Avenir LT W01 85 Heavy";
                @include font-size(22);
                color: $white;
            }
            .footer p {
                line-height: 1.785714286em; // 25/14
                color: $white;
            }

/* address */
address {
    line-height: 1.785714286em; // 25/14/
    font-style: normal;
    color: $white;
}
    address a {
        color: $white;
        text-decoration: underline;

        &:hover,
        &:focus {
            text-decoration: none;
        }
    }
    address > div {
        display: inline;
    }
    address .left,
    address > span:first-child {
        font-weight: bold;
        width: 20%;
    }

// social media
.footer .list-socialmedia {
    float: right;
}

// list logos
.footer .list-logos {
    position: relative;
    margin: 0;

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        height: 1px;
        width: 100%;
        z-index: 1;
        margin: -1px 0 0;
        background: $grayLight;
    }
}
    .footer .list-logos li {
        display: inline-block;
        position: relative;
        z-index: 250;
        padding: 0 15px;
        width: 100%;
        text-align: center;
        vertical-align: top;
        border-top: 1px solid lighten($c1, 45%);
        background: $white;

        &:first-child {
            border: none;
        }
    }
    .footer img {
        display: inline-block;
        vertical-align: top;
    }
    .footer [href*="fronteers"] {
        display: inline-block;
        text-indent: -900em;
        width: 286px;
        height: 51px;
        vertical-align: top;
        background: url("../img/fronteers.png") no-repeat left top;
    }
    .footer [href*="frankwatching"] {
        display: inline-block;
        text-indent: -900em;
        width: 39px;
        height: 54px;
        vertical-align: top;
        background: url("../img/html5.png") no-repeat left top;
    }

// copyright
.copyright {
    color: $c1;
    @include font-size(13);
}
    .copyright p {
        color: $c1;
    }
    .copyright strong {
        font-weight: normal;
        @include font-size(14);
        font-family:"Avenir LT W01 85 Heavy";
    }
        .copyright ul {
            margin: 0 -3px;
        }
        .copyright li {
            display: inline-block;
            vertical-align: top;
            margin: 0 3px;
            font-family:"Avenir LT W01 35 Light";
        }

// -------------------------
// MEDIA:
// -------------------------
@media (min-width: 38.75em) {

    // copyright
    .copyright {
        text-align: right;
        overflow: hidden;
    }
}

// -------------------------
// MEDIA:
// -------------------------
@media (min-width: 41.25em) {

    // footer
    .footer .column {
        @include column(5);
    }
    .footer .column + .column + .column {
        @include column(2);
    }
    .footer .column {
        border: none;
    }

    // list logos
    .footer .list-logos li {
        width: auto;
        border: none;
    }
}

// -------------------------
// Media query
// -------------------------
@media (min-width: 44.6875em) {

    // footer
    .footer .content {
        padding: 25px 0 0;
    }

    // list logos
    .footer .list-logos li {
        margin: 0 15px;
    }
    .footer .row + .row .column {
        @include column(9);
        padding: 10px 0;
    }
    .footer .row + .row .column + .column {
        @include column(3);
    }

    // address
    address .left,
    address > span:first-child {
        float: left;
    }
}