//
// Forms
// --------------------------------------------------
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
}

button,
input,
select,
textarea {
    color: $c1;
    font-family: inherit; /* 1 */
    font-size: 100%; /* 2 */
    margin: 0; /* 3 */
}

button,
input {
    line-height: normal;
}

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}

button[disabled],
input[disabled] {
    cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto; // 1
    resize: vertical; // 2
    vertical-align: top; // 3
}

// Custom styling
// -------------------------
form {
    margin: 0;
    @include clearfix;
}
label,
.label {
    display: inline-block;
    cursor: pointer;
    font-size: 1em;
    color: $c1;
    margin: 0 0 0.5em;
}
.labels-hidden label {
    display: none;
}

.gform_heading {
    margin: 1em 0;
}
.gform_body li {
    display: inline-block;
    vertical-align: top;
    width: 49%;
    margin: 0 0 1em;
}

input[type="email"],
input[type="text"],
input[type="search"] {
    padding: 12px;
    border: 1px solid $grayLighter;
    background: $white;
    @include box-sizing(border-box);
    @include transition(.15s);
    width: 100%;
    max-width: 300px;

    &:hover,
    &:focus {
        border-color: $c2;
        color: $grayDark;
    }
}
textarea {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.wpcf7-form .actions img {
    display: none;
}





::-webkit-input-placeholder {
    color: $c1;
}

:-moz-placeholder {
    color: $c1;
}

.placeholder {
    color: #aaa;
}

button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}

input.text, [class*="text-"], number, tel, textarea, select {
    padding: 13px 10px;
    line-height: 19px;
    border: 1px solid #c2ced3;
    color: $c1;
    resize: none;
    width: 100%;
    font-family:"Avenir LT W01 35 Light";
    @include font-size(16);
}

.text:hover,
.text:focus {
    border-color: lighten($c1, 30%);
}

.actions {
    margin: 0.5em 0 0;
}

input[type="submit"],
.submit {
    @include border-radius(0);
    display: inline-block;
    padding: 10px 20px;
    margin: 0.5em 0;
    border: none;
    font-size: 1.076923077em;
    color: $white;
    line-height: normal;
    background: $c2;
    text-transform: uppercase;
    @include font-size(16);
    font-family:"Avenir LT W01 85 Heavy";

    &:hover {
        background: $c1;
    }
}

button, input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    *width: 13px;
    *height: 13px;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea { overflow: auto; vertical-align: top; resize: vertical; resize: none; min-height: 75px; }
input:invalid, textarea:invalid { background-color: #f0dddd; border: 1px solid #F70000; }

textarea.error,
input.error {
    color: #f70000;
    border: 1px solid #f70000;
    background: #fff;
}

input.error::-webkit-input-placeholder {
    color: #f70000;
}

input.error:-moz-placeholder {
    color: #f70000;
}

.field .message {
    display: none;
}



.gform_description {
    font-size: 1em;
    line-height: 1.785714286em;
    margin: 0 0 0.5em;
    font-family:"Avenir LT W01 35 Light";
}