//
// Header
// --------------------------------------------------
#header {
    position: relative;
}
    #header .container {
        height: 125px;
    }

// Logo
#header [title*="Logo"] {
    top: 60px;
    display: block;
    height: 50px;
    line-height: 50px;
    position: relative;
    width: 290px;
    margin: 0 auto;
    background: url('../img/logo.png') no-repeat left top;

    span {
        @extend .hidden;
    }
}
@media only screen and (-webkit-device-pixel-ratio: 2) {
    #header [title*="Logo"] {
        background: url('../img/logo.svg') no-repeat center bottom;
        @include background-size(20.714285714em 3.571428571em); // 290/14, 50/14
    }
}

// Skip
// -------------------------
#skip {
    margin: 0;
    position: absolute;
    top: 0;
    left: -10px;
    width: 50%;
    z-index: 350;
}
    #skip li {
        float: left;
        position: relative;
    }
        #skip a, #nav > h2, .box-what-we-do > h2,
        .footer > h2, .copyright > h2,
        .page-homepage #header .container > h1,
        .footer .row .column + .column > h3 {
            border: 0;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }
        #skip #skip-nav a,
        #skip #skip-search a {
            position: relative;
            display: block;
            padding: 9px 7px 8px;
            border-right: 1px solid #D7D7D7;
            font-size: 1.153846154em;
            font-weight: bold;
            clip: auto;
            width: auto;
            height: auto;
            color: $c1;
            cursor: pointer;
            z-index: 350;
            text-decoration: none;
        }
        #skip #skip-nav a {
            border-left: 1px solid #D7D7D7;
        }
            #skip .active {
                //.gradient(#f4910e , #fdc30e, #f4910e);
            }

// subscribe
.subscribe {
    position: absolute;
    display: inline-block;
    top: 0;
    right: 5%;
    font-family:"Avenir LT W01 85 Heavy";
    @include font-size(18);
    padding: 5px 18px 7px;
    color: $white;
    background: $c2;
    -webkit-animation: slideDown;
    -moz-animation: slideDown;
    -ms-animation: slideDown;
    -o-animation: slideDown;
    animation: slideDown;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;

    &:hover,
    &:focus {
        color: $white;
        text-decoration: none;
    }
}

// -------------------------
// Media query
// -------------------------
@media (min-width: 41.25em) {

    // Header
    #header {
        //min-height: 375px;
    }
        #header [title*="Logo"] {
            top: 20px;
            left: 10px;
            margin: 0;
        }

}

// -------------------------
// Media query
// -------------------------
@media (min-width: 44.6875em) {

    // header box intro
    #header .box-intro {
        position: absolute;
        top: 140px;
        margin: 0 0 0 335px;
    }

}