//
// Layout.scss
// --------------------------------------------------

// Global styles
// --------------------------------------------------
.container {
    position: relative;
    max-width: 78.571428571em;  // 1100/14
    width: 100%;
    margin: 0 auto;
    @include clearfix;
}

// Main
// --------------------------------------------------
#main {
    padding: 0 0 1.5625em; // 25/16
    border-top: 1px solid #E1E1E1;
}
.page-contact #main > .container {
    margin-top: -150px 0 0;
}

// Article
// -------------------------
.article {
    position: relative;
    @extend .container;
}
    .article h1 {
        font-size: 2.571428571em;
    }
    .article ul {
        line-height: 1.785714286em;
    }
    .article .row {
        padding: 10px 0;
        margin: 0 5px;
        @include clearfix;
    }
        .article .column {
            @include column(12);
            opacity: 1;
        } .page-template-page-full-php .article .column {
            @include column(12);
        }
        .article .column + .column {
            padding: 45px 0 0;
        }
        .article .column > img {
            max-width: 100%;
            height: auto;
            max-height: 100%;
            border: 5px solid $white;
            @include box-shadow(0, 0, 8px, darken($c1, 1%));
            -webkit-background-size: contain;
            -moz-background-size: contain;
            background-size: contain;
            box-sizing: border-box;
            -o-box-sizing: border-box;
            -icab-box-sizing: border-box;
            -khtml-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
        }

// Section
// -------------------------
.section {
    position: relative;
    padding: 30px 10px;
    @include clearfix;
}
    .section p {
         margin: 0 0 5.208333333%; // 50/960*100
    }
    .section strong {
        font-family: 'Avenir LT W01 85 Heavy';
        font-weight: normal;
    }
    .section h1 {
        @include font-size(25);
        font-family: 'Avenir LT W01 85 Heavy';
        margin: 0 0 0.5em;
    }
    .section h2 {
        @include font-size(25);
        font-family: 'Avenir LT W01 85 Heavy';
        margin: 0 0 0.5em;
    }
    .section h3 {
        @include font-size(20);
        font-family: 'Avenir LT W01 85 Heavy';
        margin: 0 0 0.5em;
    }

    // diverse sections styles
    .section.line {
        padding: 0 0 15px;
        margin: 0 0 15px;
        border-bottom: 1px solid #E1E1E1;
    }
    .page-ourwork .section {
        border: none;
    }

    .section-grey {
        padding: 30px 0 0;
        background: #FAFAFA;
        border-top: 1px solid #E1E1E1;
        border-bottom: 1px solid #E1E1E1;
    }

// Project detail
// -------------------------
.project-detail {
    background: #fafafa;
    background: $grayLighter;
    padding: 0;
    overflow: hidden;
    @include clearfix;
} .no-js .project-detail {
    display: block;
    height: auto;
}
.project-detail .article {
    margin: 2em auto;
    background: $white;
}
.page-template-news-php .project-detail {
    height: auto;
}
    .project-detail .row {
        padding: 10px 0;
        margin: 0 5px;
        @include clearfix;
    }
    .project-detail .column {
        @include column(12);
        opacity: 1;
    }
    .project-detail .column + .column {
        padding: 45px 0 0;
    }
    .project-detail img {
        max-width: 100%;
        height: auto;
    }
    .project-detail h3 {
        font-size: 1.230769231em;
        line-height: 1.375em;
        font-family: "Avenir LT W01 85 Heavy";
    }
    .project-detail .carousel {
        margin: 0 0 0.5em;
    }

// Loader
.loader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
} .no-js .loader {
    display: none;
}

#loader-circle{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -16px 0 0 -74px;
    width:149.33333333333334px;
}

.loader-circle{
    background-color: $white;
    float:left;
    height:32px;
    margin-left:17px;
    width:32px;
    -webkit-animation-name:bounce_circleG;
    -webkit-border-radius:21px;
    -webkit-animation-duration:1.2000000000000002s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:linear;
    -moz-animation-name:bounce_circleG;
    -moz-border-radius:21px;
    -moz-animation-duration:1.2000000000000002s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:linear;
    opacity:0.3;
    -o-animation-name:bounce_circleG;
    border-radius:21px;
    -o-animation-duration:1.2000000000000002s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:linear;
    -ms-animation-name:bounce_circleG;
    -ms-animation-duration:1.2000000000000002s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-direction:linear;
    opacity:0.3;
    }

#loader-circle-1 {
    -webkit-animation-delay:0.24s;
    -moz-animation-delay:0.24s;
    -o-animation-delay:0.24s;
    -ms-animation-delay:0.24s;
}

#loader-circle-2 {
    -webkit-animation-delay:0.56s;
    -moz-animation-delay:0.56s;
    -o-animation-delay:0.56s;
    -ms-animation-delay:0.56s;
}

#loader-circle-3 {
    -webkit-animation-delay:0.72s;
    -moz-animation-delay:0.72s;
    -o-animation-delay:0.72s;
    -ms-animation-delay:0.72s;
}

@-webkit-keyframes bounce_circleG {
    0%
    {
        opacity: 0.3;
    } 50%{
opacity:1;
background-color:#f96236}

100%{
opacity:0.3}

}

@-moz-keyframes bounce_circleG{
0%{
opacity:0.3}

50%{
opacity:1;
background-color:#f96236}

100%{
opacity:0.3}

}

@-o-keyframes bounce_circleG{
0%{
opacity:0.3}

50%{
opacity:1;
background-color:#f96236}

100%{
opacity:0.3}

}

@-ms-keyframes bounce_circleG{
0%{
opacity:0.3}

50%{
opacity:1;
background-color:#f96236}

100%{
opacity:0.3}

}

// -------------------------
// Media query
// -------------------------
@media (min-width: 30.3125em) { /* 485 / 16 */

    // article column
    .article .column {
        @include column(6);
        opacity: 1;
    } .page-template-page-full-php .article .column {
        @include column(12);
    }

    .section {
        padding: 0;
    }

    .section .content > p {
    //    @include font-size(20);
    }

    .section .content > p {
      //  @include font-size(18);
    }

    // what we do
    .what-we-do p {
        text-align: left;
    }
}

// -------------------------
// Media query
// -------------------------
@media (min-width: 44.6875em) {
    // project-detail
    .project-detail {
        padding: 0;
    }
    .project-detail .column {
        @include column(9);
    }
        .project-detail .column + .column {
            @include column(3);
            float: right;
        }
        .project-detail img {
            width: 100%;
            height: 512px;
        }
}