//
// Lists.scss
// --------------------------------------------------
ul, ol {
    margin: 0 0 0.5em;
    padding: 0;
}

ol {
    list-style-position: inside;
}

ul {
    list-style: none;
}

ul li > ul,
ol li > ol {
    padding: 0 0 0 15px;
}

dd {
    margin: 0 0 0 40px;
}

// Lists portfolio
// -------------------------
.list-portfolio {
    @include clearfix;
    margin-top: 20px;
    margin-bottom: 20px;
}

.list-portfolio li {
    display: inline-block;
    position: relative;
    @include column(6);
    margin-bottom: 1em;
    text-align: center;
    opacity: 0;
    -webkit-transition: -webkit-transform .25s ease-in-out;
    -moz-transition: -moz-transform .25s ease-in-out;
    -ms-transition: -ms-transform .25s ease-in-out;
    -o-transition: -o-transform .25s ease-in-out;
    -webkit-transition: -webkit-transform .25s ease-in-out;
    transition: transform .25s ease-in-out;
    -webkit-transform: translateZ(0);

    &:hover {
        -webkit-transform: scale(1.15);
        -moz-transform: scale(1.15);
        -ms-transform: scale(1.15);
        -o-transform: scale(1.15);
        -webkit-transform: scale(1.15);
        transform: scale(1.15);
        z-index: 300;
    }
}
.list-portfolio.animate li {
    -webkit-animation: slideIn;
    -moz-animation: slideIn;
    -ms-animation: slideIn;
    -o-animation: slideIn;
    animation: slideIn;
}
.list-portfolio li {
    opacity: 1;
}

    .list-portfolio img {
        margin: 0 0 1.5em;
        max-width: 100%;
        height: auto;
        border: 5px solid $white;
        @include box-shadow(0 0 8px darken($c1, 1%));
        -webkit-background-size: contain;
        -moz-background-size: contain;
        background-size: contain;
        box-sizing: border-box;
        -o-box-sizing: border-box;
        -icab-box-sizing: border-box;
        -khtml-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    .list-portfolio h3 {
        font-family: 'Avenir LT W01 85 Heavy';
        font-weight: normal;
        font-size: 1em;
        margin: 0;
    }
    .list-portfolio p {
        color: #717170;
        font-style: italic;
    }

.list-portfolio li:nth-of-type(1n) {
    -webkit-animation-duration: .225s;
    -moz-animation-duration: .225s;
    -ms-animation-duration: .225s;
    -o-animation-duration: .225s;
    animation-duration: .225s;
}
.list-portfolio li:nth-of-type(2n) {
    -webkit-animation-duration: .45s;
    -moz-animation-duration: .45s;
    -ms-animation-duration: .45s;
    -o-animation-duration: .45s;
    animation-duration: .45s;
}
.list-portfolio li:nth-of-type(3n) {
    -webkit-animation-duration: .675s;
    -moz-animation-duration: .675s;
    -ms-animation-duration: .675s;
    -o-animation-duration: .675s;
    animation-duration: .675s;
}
.list-portfolio li:nth-of-type(4n) {
    -webkit-animation-duration: .9s;
    -moz-animation-duration: .9s;
    -ms-animation-duration: .9s;
    -o-animation-duration: .9s;
    animation-duration: .9s;
}
.list-portfolio li:nth-of-type(7) {
    -webkit-animation-duration: .675s;
    -moz-animation-duration: .675s;
    -ms-animation-duration: .675s;
    -o-animation-duration: .675s;
    animation-duration: .675s;
}
.list-portfolio li:nth-of-type(8) {
    -webkit-animation-duration: .9s;
    -moz-animation-duration: .9s;
    -ms-animation-duration: .9s;
    -o-animation-duration: .9s;
    animation-duration: .9s;
}

// List socialmedia
// -------------------------
.list-socialmedia {
    margin: 0;
}
.list-socialmedia li {
    display: inline-block;
    margin: 0 2px;
    vertical-align: top;
}
    .list-socialmedia a {
        position: relative;
        display: block;
        padding: 7px 0 0 0;
        width: 40px;
        height: 33px;
        text-align: center;
        @include hide-text;
        @include border-radius(50px);
        background: $c2;

        &:hover,
        &:focus {
            background: lighten($c2, 10%);
        }
    }
    .list-socialmedia [title*="Twitter"]::before {
        @extend .icon-twitter;

        &:hover,
        &:focus {
            text-decoration: none;
        }
    }
    .list-socialmedia .icon-facebook {
        color: $white;
        margin: 3px 0 0;
        display: block;
        @include font-size(20);
    }
    .list-socialmedia .icon-twitter {
        margin: 3px 0 0;
        display: block;
        color: $white;
        @include font-size(22);
    }
    .list-socialmedia .icon-linkedin {
        color: $white;
        display: block;
        margin: 3px 0 0;
        @include font-size(20);
    }

// List detail
// -------------------------
.list-detail {
    position: relative;
}
    .list-detail li {
        padding: 8px 0;
        border-bottom: 1px solid $c3;
    }
    .list-detail li:first-child {
        border-top: 1px solid $c3;
    }
        .list-detail a {
            word-break: break-word;
        }
        .list-detail h4 {
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
        }

// List what we do
// -------------------------
.list-what-we-do {
    margin: 0 0 15px;
    @include clearfix;
}
    .list-what-we-do li {
        @include column(12);
        position: relative;
        padding: 165px 0 0;
    }
        .list-what-we-do h3 {
            font-family: 'Avenir LT W01 85 Heavy';
            @include font-size(18);
            text-align: center;
        }
        .list-what-we-do p {
            margin: 0 5px;
        }
        .list-what-we-do img {
            position: absolute;
            top: 0;
            left: 50%;
            margin: 0 0 0 -75px;
        }

        .animation {
            position: absolute;
            top: 0;
            left: 50%;
            margin: 0 0 0 -75px;
            width: 150px;
            height: 150px;
        }
        .gear-big {
            position: absolute;
            top: 7px;
            left: 3px;
            display: block;
            width: 103px;
            height: 103px;
            background: url("../img/gear-big.png") no-repeat left top;
        }
        .gear-small {
            position: absolute;
            right: 0;
            bottom: 15px;
            display: block;
            width: 54px;
            height: 54px;
            background: url("../img/gear-small.png") no-repeat left top;
        }
        .animation.marketing {
            background: url("../img/marketing.png") no-repeat left top;
        }
        .animation .arrow {
            position: absolute;
            top: 0;
            right: -40px;
            display: block;
            width: 91px;
            height: 39px;
            opacity: 0;
            background: url("../img/arrow.png") no-repeat left top;
        }

// List clients
// -------------------------
.list-clients {
    position: relative;
    @include clearfix;
}
    .list-clients li {
        display: inline-block;
        text-align: center;
        @include column(12);
        margin-bottom: 0.5em;
    }
        .list-clients a {
            display: block;
        }

// -------------------------
// Media query
// -------------------------
@media (min-width: 24.0625em) { // 385/16

    // Lists clients
    // -------------------------
    .list-clients li {
        @include column(6);
        margin-bottom: 0.5em;
    }

    // Lists portfolio
    // -------------------------
    .list-portfolio li {
        @include column(6);
        margin-bottom: 1em;
    }
}

// -------------------------
// Media query
// -------------------------
@media (min-width: 30.3125em) {

    // List portfolio
    // -------------------------
    .list-portfolio li {
        @include column(4);
    }

    // List clients
    // -------------------------
    .list-clients li {
        @include column(6);
    }

}

// -------------------------
// Media query
// -------------------------
@media (min-width: 41.25em) {

    // List portfolio
    // -------------------------
    .list-portfolio li {
        @include column(3);
        margin-bottom: 1em;
    }

    // List what we do
    // -------------------------
    .list-what-we-do li {
        @include column(4);
    }

    // List clients
    // -------------------------
    .list-clients li {
        @include column(4);
    }
        .list-clients a {
            display: block;
        }

    // List socialmedia
    // -------------------------
    .list-socialmedia li {
        margin: 0 2px 0.5em;
    }
}

// -------------------------
// Media query
// -------------------------
@media (min-width: 56.25em) {

    .list-clients li {
        @include column(2.4);
        margin-bottom: 40px;
    }

    .list-portfolio li:hover,
    .list-portfolio li:focus {
        -webkit-transform: scale(1.15) rotate(6deg) translate(30px, -10px);
        -moz-transform: scale(1.15) rotate(6deg) translate(30px, -10px);
        -o-transform: scale(1.15) rotate(6deg) translate(30px, -10px);
        -ms-transform: scale(1.15) rotate(6deg) translate(30px, -10px);
        transform: scale(1.15) rotate(6deg) translate(30px, -10px);
    }

}