.nav-main a//
// Nav.scss
// --------------------------------------------------
nav ul, nav ol {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-image: none;
}

// Nav main
// -------------------------
#nav {
    position: absolute;
    top: 15px;
    right: 0;
    z-index: 250;
}

// nav main
.nav-main {
    @extend .container;
    @include transition(1s);
}
    .nav-main ul {
        -webkit-transform: translateZ(0);
    }
        .nav-main li {
            display: inline-block;
        }
            .nav-main a {
                display: block;
                position: relative;
                padding: 7px 5px 8px 30px;
                letter-spacing: 0.05em;
                opacity: 0.7;
                font-family: 'Avenir LT W01 85 Heavy';
                @include font-size(16);
                @include transition(.25s);

                &:hover,
                &:focus {
                    opacity: 1.0;
                    text-decoration: none;
                }
            }
            .nav-main .current-menu-item a {
                opacity: 1.0;
                text-decoration: none;
            }
            #menu-portfolio a::before {
                @extend .icons;
                content: "\23";
                margin: 0 5px;
                @include font-size(18);
                position: absolute;
                top: 6px;
                left: 0;
            }
            #menu-over-mij a::before {
                @extend .icons;
                content: "\21";
                margin: 0 5px;
                @include font-size(18);
                position: absolute;
                top: 6px;
                left: 0;
            }
            #menu-contact a::before {
                @extend .icons;
                content: "\22";
                margin: 0 5px;
                @include font-size(18);
                position: absolute;
                top: 6px;
                left: 0;
            }

// -------------------------
// MEDIA: 385
// -------------------------
@media (min-width: 24.0625em) { // 385/16
    .nav-main ul {
        padding: 0 10px;
    }
        .nav-main a {
            padding: 7px 15px 8px;
        }
}

// -------------------------
// MEDIA: 660
// -------------------------
@media (min-width: 41.25em) {

    // Nav main
    .nav-main {
        background: none;
    }
        .nav-main ul {
            float: right;
            margin: 0 10px 0 0;
            padding: 0 0 0 10px;
        }

}