@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
@import url(../fonts/font-awesome/css/font-awesome.min.css);
body, html {
  -webkit-font-smoothing: antialiased;
  background: #36A6DA; }

body, figure {
  margin: 0; }

#main {
  background: #fff; }

.copyright li, .copyright strong {
  font-family: "Open Sans", sans-serif; }

.footer h3 {
  font-family: "Open Sans", sans-serif; }

.section h1, .section h2, .section h3, .section strong {
  font-family: "Open Sans", sans-serif; }

.subscribe, a, body, h1, h2, h3, h4, h5, h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, ol, p, ul, q, blockquote {
  font-family: "Open Sans", sans-serif; }

a, span, strong, p, q, blockquote, ol, ul, li, td, small {
  color: #454545;
  line-height: 1.8em; }

a, span, strong, p, q, blockquote, ol, ul, li, td {
  font-size: 15px; }

.article .row:after, .article:after {
  clear: both; }

.box-cta, .box-intro:after {
  clear: both; }

.box-items .left:after, .box-items .row:after, .box-items figure:after {
  clear: both; }

.carousel .carousel-images:after, .carousel-images li:after, .container:after {
  clear: both; }

.footer .row:after, .footer:after {
  clear: both; }

.homebox-items > .btn-1, .homepage-intro-list:after, .list-clients:after, .list-portfolio:after, .nav-main:after, .row:after, .section:after, form:after {
  clear: both; }

.wrap, svg:not(:root) {
  overflow: hidden; }

.article .row:after, .article .row:before {
  content: ""; }

.row:after, .row:before {
  content: ""; }

.section:after, .section:before {
  content: ""; }

q:after, q:before {
  content: ""; }

.article .column > img {
  -icab-box-sizing: border-box;
  -khtml-box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block; }

[hidden], audio:not([controls]) {
  display: none; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 100%; }

.inner-switch {
  display: inline-block;
  cursor: pointer;
  border-radius: 15px;
  width: 30px;
  text-align: center;
  font-size: 16px;
  padding: 3px; }

body {
  background: #fff; }

html.dark {
  background-color: #333; }
  html.dark body {
    display: block !important;
    color: #444;
    line-height: 1.538461538em;
    font-smoothing: antialiased; }
    html.dark body.dark {
      background-color: #333 !important;
      color: #e6e6e6;
      border-color: #e6e6e6; }
      html.dark body.dark small {
        font-family: sans-serif;
        font-size: 14px;
        font-style: italic; }
      html.dark body.dark a, html.dark body.dark .link-border {
        color: #e6e6e6; }
      html.dark body.dark a:active, html.dark body.dark a:hover, html.dark body.dark a:focus {
        color: #e6e6e6; }
        html.dark body.dark a:active .link-border, html.dark body.dark a:hover .link-border, html.dark body.dark a:focus .link-border {
          background: #fff;
          height: 2px !important;
          position: relative;
          top: -2px;
          color: #e6e6e6; }
      html.dark body.dark .current-menu-item a .link-border {
        background: #fff;
        height: 2px !important;
        position: relative;
        top: -2px;
        color: #e6e6e6; }
      html.dark body.dark #main {
        background-color: #222 !important; }
      html.dark body.dark p, html.dark body.dark h1, html.dark body.dark ul, html.dark body.dark li, html.dark body.dark form, html.dark body.dark option, html.dark body.dark i {
        color: #e6e6e6; }
      html.dark body.dark .section, html.dark body.dark .container, html.dark body.dark .aside, html.dark body.dark .content {
        background-color: #222; }
      html.dark body.dark .sidebox .box-links {
        background-color: #333;
        color: #e6e6e6; }
      html.dark body.dark .header {
        background-color: #333;
        color: #fff; }
        html.dark body.dark .header .container {
          background-color: #333; }
      html.dark body.dark .list-links {
        color: #e6e6e6; }
      html.dark body.dark .footer {
        background-color: #333;
        color: #fff; }
        html.dark body.dark .footer .container {
          background-color: #333;
          color: #fff; }
      html.dark body.dark .current-menu-item menu-home {
        color: #e6e6e6; }
      html.dark body.dark [title*=Logo] {
        top: 0;
        background: url(../img/InUitLogoWit.png) left top no-repeat; }
      html.dark body.dark a > i {
        padding-right: 10px; }

::-moz-selection {
  background: #338ADA;
  color: #fff;
  text-shadow: none;
  background: #338ADA;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #338ADA;
  color: #fff;
  text-shadow: none; }

.sidebox .box-links i:before {
  color: #444;
  margin-right: 2%; }

a {
  font-size: 15px;
  text-decoration: none;
  color: #338ADA;
  outline: none; }
  a > i {
    padding-right: 10px; }

.content a, .homepage-intro p > a, .msg-warning a {
  text-decoration: underline; }

a:active, a:hover {
  font-size: 15px;
  text-decoration: underline; }
a p {
  color: #454545; }
a:focus, a:active, a:hover {
  outline: none; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

blockquote {
  margin: 1em 40px; }

q {
  quotes: none; }
  q:after, q:before {
    content: none; }

small {
  font-size: 85%; }
  small.grey {
    color: #555; }
    small.grey * {
      color: #555; }

.fa-window-restore:before {
  color: #777; }

sub, sup {
  font-size: 75%;
  vertical-align: baseline; }

img, table td {
  vertical-align: middle; }

sup {
  top: -.3em;
  position: relative; }

h1 strong, h2 strong, h3 strong, h4 strong, h5 strong {
  display: block;
  font-weight: 400; }

h1 {
  font-size: 5em;
  line-height: 1; }

h2 {
  font-size: 2.571428571em;
  line-height: 1.2em; }

h3 {
  font-size: 2.692307692em;
  line-height: 1em; }

h4 {
  font-size: 1.3em;
  line-height: 22px; }

h1, h2, h3, h4, h5 {
  font-weight: 300;
  margin: 0 0 .5em;
  color: #338ADA; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
  height: auto; }

table caption {
  text-align: left;
  background: #4d4d4d;
  color: #fff;
  font-weight: 600;
  padding: 10px 15px; }

.box-cta {
  text-align: center; }
  .box-cta .btn-1, .box-cta h3 {
    text-align: center; }

.center, .msg-warning, aside .sidebox.center {
  text-align: center; }

table td {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 5px 10px 5px 10px;
  font-size: 14px;
  color: #666; }
table tr:nth-child(odd) td {
  background: #f6f6f6; }
table td .fa {
  color: #777 !important; }

html.dark table td {
  background: #333;
  color: #fff; }
html.dark table tr:nth-child(odd) td {
  background: #000; }

.nav-main .fa {
  font-size: 16px;
  margin-right: 2px; }

table th {
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  cursor: pointer; }
table.tablesorter th:after {
  content: "\f0dc";
  display: inline-block;
  font: normal normal normal 11px/1 FontAwesome;
  font-size: 12px;
  text-rendering: auto;
  color: #444;
  position: relative;
  left: 5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  visibility: hidden; }
table.tablesorter th:hover:after {
  visibility: visible; }
table.tablesorter th.headerSortDown:after {
  content: "\f0dd";
  top: -2px; }
table.tablesorter th.headerSortUp:after {
  content: "\f0de";
  top: 2px; }
table.tablesorter tr.first td {
  background: #fff; }

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  font-size: 15px;
  font-weight: 300;
  color: #02203C;
  padding: .5em 10px;
  letter-spacing: 0.3px; }

.msg-warning {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 500;
  margin: .2em 0;
  color: #000;
  padding: .8em 0;
  height: 40px;
  border-bottom: 1px solid #0A7AA8;
  background: url(../img/chromeframe.jpg) left bottom repeat-x #fff; }

.article, .header:not(th), .section, .wrap {
  position: relative; }

.msg-warning > strong {
  display: block;
  color: #36A6DA;
  font-size: 18px;
  margin: 0 0 5px;
  font-weight: 400; }
.msg-warning a {
  color: #000;
  font-weight: 700; }

.row:after, .row:before {
  display: table;
  line-height: 0; }

.article, .container, .nav-main {
  position: relative;
  max-width: 78.571428571em;
  width: 100%;
  margin: 0 auto; }

.article:after, .article:before {
  display: table;
  content: "";
  line-height: 0; }

.container:after, .container:before {
  display: table;
  content: "";
  line-height: 0; }

.nav-main:after, .nav-main:before {
  display: table;
  content: "";
  line-height: 0; }

.wrap {
  left: 0;
  -webkit-transition: left 0.35s ease 0s;
  transition: left 0.35s ease 0s; }
  .wrap.active {
    left: -16em;
    overflow: visible; }

.article h1 {
  font-size: 2.571428571em; }
.article ul {
  line-height: 1.785714286em; }
.article .row {
  padding: 10px 0;
  margin: 0 5px; }
  .article .row:after, .article .row:before {
    display: table;
    line-height: 0; }
.article .column {
  float: left;
  display: inline;
  width: 97.91667%;
  margin: 0 1.04167%; }

.page-template-page-full-php .article .column {
  float: left;
  display: inline;
  width: 97.91667%;
  margin: 0 1.04167%; }

.article .column {
  opacity: 1; }
  .article .column + .column {
    padding: 45px 0 0; }
  .article .column > img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
    border: 5px solid #fff;
    -webkit-box-shadow: 0, 0, 8px, #4a4a4a;
    box-shadow: 0, 0, 8px, #4a4a4a;
    background-size: contain;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }

.section {
  padding: 30px 0; }
  .section.compact {
    padding: 15px 0; }
  .section.supercompact {
    padding: 0; }
  .section:after, .section:before {
    display: table;
    line-height: 0; }
  .section h1, .section h2 {
    font-size: 26px;
    margin: 0 0 1.5em 0; }
  .section h3 {
    font-size: 20px;
    font-size: 1.25rem; }
  .section .gform_title {
    margin: 0 0 1em;
    color: #338ADA;
    font-weight: 400; }
  .section.line {
    border-bottom: 1px solid #ddd; }

.page-ourwork .section {
  border: none; }

.section-grey {
  background: #efefef; }

.section.dark {
  background: #4d4d4d; }
.section.light {
  background: #36A6DA; }
.section.dark *, .section.light * {
  color: #fff; }

.area-grey {
  padding: 15px;
  background: #efefef;
  margin: 15px 0; }

@-webkit-keyframes slideIn {
  0% {
    opacity: 0;
    left: 3%; }
  100% {
    left: 0;
    opacity: 1; } }
@keyframes slideIn {
  0% {
    opacity: 0;
    left: 3%; }
  100% {
    left: 0;
    opacity: 1; } }
@-webkit-keyframes slideRight {
  0% {
    opacity: 0;
    right: 0; }
  100% {
    right: 50px;
    opacity: 1; } }
@keyframes slideRight {
  0% {
    opacity: 0;
    right: 0; }
  100% {
    right: 50px;
    opacity: 1; } }
@-webkit-keyframes slideLeft {
  0% {
    opacity: 0;
    left: 0; }
  100% {
    left: 50px;
    opacity: 1; } }
@keyframes slideLeft {
  0% {
    opacity: 0;
    left: 0; }
  100% {
    left: 50px;
    opacity: 1; } }
@-webkit-keyframes slideDown {
  0% {
    opacity: 0;
    top: -10%; }
  100% {
    top: 0;
    opacity: 1; } }
@keyframes slideDown {
  0% {
    opacity: 0;
    top: -10%; }
  100% {
    top: 0;
    opacity: 1; } }
@-webkit-keyframes slideDownCarousel {
  0% {
    opacity: 0;
    top: -10%; }
  100% {
    top: 25px;
    opacity: 1; } }
@keyframes slideDownCarousel {
  0% {
    opacity: 0;
    top: -10%; }
  100% {
    top: 110px;
    opacity: 1; } }
@-webkit-keyframes bounce_circleG {
  0%,
  100% {
    opacity: 0.3; }
  50% {
    opacity: 1;
    background-color: #36A6DA; } }
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.header:not(.tableheader) {
  border-bottom: 1px solid #ddd;
  background: #fff; }
  .header:not(.tableheader).scrolling {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    z-index: 9950; }

.active .header:not(.tableheader).scrolling {
  position: absolute; }

.header .article, .header .container, .header .nav-main {
  height: 88px; }
.header [title*=Logo] {
  top: 10px;
  left: 1.04167%;
  display: block;
  height: 88px;
  line-height: 88px;
  position: relative;
  outline: 0;
  width: 150px;
  background: url(../img/InUitLogoRGBSmall.png) left top no-repeat; }

#skip {
  margin: 0;
  position: absolute;
  top: 0;
  left: -10px;
  width: 50%;
  z-index: 350; }
  #skip li {
    float: left;
    position: relative; }

#nav > h2, #skip a, .box-what-we-do > h2, .copyright > h2, .footer > h2 {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.page-homepage .header .article > h1, .page-homepage .header .container > h1, .page-homepage .header .nav-main > h1 {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

#skip #skip-nav a, #skip #skip-search a {
  position: relative;
  display: block;
  padding: 9px 7px 8px;
  border-right: 1px solid #D7D7D7;
  font-size: 1.153846154em;
  font-weight: 700;
  clip: auto;
  width: auto;
  height: auto;
  color: #4d4d4d;
  cursor: pointer;
  z-index: 350;
  text-decoration: none; }
#skip #skip-nav a {
  border-left: 1px solid #D7D7D7; }

.footer .row:after, .footer .row:before {
  content: "";
  display: table;
  line-height: 0; }
.footer:after, .footer:before {
  content: "";
  display: table;
  line-height: 0; }

.subscribe:focus, .subscribe:hover {
  color: #fff;
  text-decoration: none; }

.footer {
  position: relative;
  -webkit-transform: translateZ(0);
  background: #36A6DA;
  color: #fff;
  margin: 20px 0 0 0; }
  .footer p {
    color: #fff;
    line-height: 1.785714286em; }

address {
  color: #fff;
  line-height: 1.785714286em; }

.footer * {
  color: #fff;
  line-height: 1.785714286em; }
.footer .section.bottom {
  background: 0 0; }
.footer .column {
  display: inline;
  float: left;
  width: 97.91667%;
  margin: 0 1.04167%;
  padding: 15px 0; }

fieldset, legend {
  border: 0;
  padding: 0; }

.footer .list-socialmedia, .gform_button {
  float: right; }

.footer h3 {
  margin: 0 0 .5em;
  font-size: 22px;
  font-size: 1.375rem;
  color: #fff; }
.footer .row.first .referenties span {
  font-weight: 700; }

address {
  font-style: normal; }
  address a {
    color: #fff;
    text-decoration: underline; }
    address a:focus, address a:hover {
      text-decoration: none; }
  address > div {
    display: inline; }

.copyright li, .footer img {
  vertical-align: top;
  display: inline-block; }

address .left, address > span:first-child {
  font-weight: 700;
  width: 20%; }

.list-socialmedia a {
  font-size: 34px; }

.footer .section.bottom .container .column * {
  font-size: 14px; }

.copyright, .footer-nav * {
  color: #fff;
  font-size: 14px; }

.copyright p {
  color: #fff; }
.copyright strong {
  font-weight: 600;
  font-size: 14px;
  font-size: 0.875rem; }
.copyright ul {
  margin: 0 -3px; }
.copyright li {
  margin: 0 3px; }

fieldset, form {
  margin: 0; }

button, input, select, textarea {
  color: #4d4d4d;
  font-family: inherit; }

input[type=email], input[type=password], input[type=search], input[type=tel], input[type=text] {
  font-size: 92% !important; }

select {
  font-size: 92% !important; }
  select > option {
    font-size: 92% !important; }

textarea {
  font-size: 92% !important; }

button, input {
  line-height: normal; }

button, html input[type=button] {
  -webkit-appearance: button;
  cursor: pointer; }

input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled] {
  cursor: default; }

input[disabled] {
  cursor: default; }
input[type=search] {
  -webkit-appearance: textfield; }
  input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none; }

form:after, form:before {
  display: table;
  content: "";
  line-height: 0; }

.label, label {
  display: inline-block;
  cursor: pointer;
  font-size: 1em;
  color: #4d4d4d;
  margin: 0 0 0.5em; }

.labels-hidden label {
  display: none; }

.gform_body li {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin: 0 0 1em; }
  .gform_body li.hidden {
    height: 0;
    margin: 0; }

#gform_1 .gform_body li:last-child {
  width: 100%; }

.aside .gform_body {
  margin: 15px 0 0; }
  .aside .gform_body li {
    width: 100%; }

input[type=email], input[type=search], input[type=tel], input[type=text] {
  padding: 12px;
  border: 1px solid #ddd;
  background: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: .15s;
  transition: .15s;
  width: 100%; }
input[type=email]:focus, input[type=email]:hover {
  border-color: #ccc;
  color: #333; }
input[type=search]:focus, input[type=search]:hover {
  border-color: #ccc;
  color: #333; }
input[type=tel]:hover {
  border-color: #ccc;
  color: #333; }
input[type=text]:focus, input[type=text]:hover {
  border-color: #ccc;
  color: #333; }

textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  textarea:focus, textarea:hover {
    border-color: #ccc;
    color: #333; }

.wpcf7-form .actions img {
  display: none; }

::-webkit-input-placeholder, :-moz-placeholder, .placeholder {
  color: #338ADA;
  opacity: 0.5; }

.btn-1.cta:focus, .btn-1.cta:hover {
  opacity: 0.9; }

.submit:hover, input[type=submit]:hover {
  opacity: 0.9; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

.list-socialmedia li, td, textarea {
  vertical-align: top; }

[class*=text-], input.text, number, select, tel, textarea {
  padding: 13px 10px;
  line-height: 19px;
  border: 1px solid #c2ced3;
  color: #4d4d4d;
  resize: none;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-size: 1rem; }

select {
  padding: 5px 10px;
  width: auto; }

.text:focus, .text:hover {
  border-color: #9a9a9a; }

.actions {
  margin: 0.5em 0 0; }

.submit, [class*=btn-], input[type=submit] {
  display: inline-block;
  padding: 7px 14px;
  margin: .6em 0;
  border: none;
  color: #fff !important;
  background: #0F9349;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none !important; }

html.dark .submit, html.dark [class*=btn-], html.dark input[type=submit] {
  background: #000; }

.btn-1.cta {
  background: #FF5F35 !important; }

.cta-text {
  color: #FF5F35 !important;
  text-decoration: none !important; }

button {
  cursor: pointer;
  -webkit-appearance: button; }

input[type=button], input[type=reset], input[type=submit] {
  cursor: pointer;
  -webkit-appearance: button; }
input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  resize: vertical;
  resize: none;
  min-height: 75px; }

input:invalid, textarea:invalid {
  background-color: #f0dddd;
  border: 1px solid #F70000; }

input.error, textarea.error {
  color: #f70000;
  border: 1px solid #f70000;
  background: #fff; }

input.error::-webkit-input-placeholder, input.error:-moz-placeholder {
  color: #338ADA; }

.field .message {
  display: none; }

.gform_description {
  font-size: 1em;
  line-height: 1.785714286em;
  margin: 0 0 .5em;
  font-family: "Open Sans", sans-serif; }

.gform_wrapper {
  background: #f6f6f6;
  padding: 15px;
  max-width: 600px;
  margin: 0 0 50px 0; }

html.dark .gform_wrapper {
  background: #333; }
html.dark label {
  color: #fff; }

.gfield_required {
  padding-left: 3px;
  color: #36A6DA;
  font-size: 12px; }

.floatleft {
  float: left; }

img.floatleft {
  margin: 0 20px 20px 0; }

.floatright {
  float: right; }

img.floatright {
  margin: 0 0 20px 20px; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%; }

#menu-contact a::before, #menu-over-mij a::before, #menu-portfolio a::before, .icon-arrow-down, .icon-arrow-left, .icon-arrow-right, .icon-arrow-top, .icon-card, .icon-close, .icon-facebook, .icon-forward, .icon-linkedin, .icon-plus, .icon-twitter, .icon-user, .icon-vcard, .icons, .list-socialmedia [title*=Twitter]::before, a[title*="terug naar boven"]:after {
  font-family: icons;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-menu {
  font-family: dashicons;
  speak: none;
  font-style: normal;
  font-weight: 700;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.box-cta h3, .box-items h3, .nav-main a {
  text-transform: uppercase; }

.icon-forward:before {
  content: ""; }

.icon-linkedin:before {
  content: "%"; }

.icon-twitter:before, .list-socialmedia [title*=Twitter]::before:before {
  content: "$"; }

.icon-card:before {
  content: "#"; }

.icon-vcard:before {
  content: '"'; }

.icon-facebook:before {
  content: "&"; }

.icon-user:before {
  content: "!"; }

.icon-plus:before {
  content: "'"; }

.icon-close:before {
  content: ""; }

.icon-arrow-right:before {
  content: ""; }

.icon-arrow-left:before {
  content: ""; }

.icon-menu:before {
  content: "\f333";
  font-size: 20px;
  color: #fff; }

.icon-arrow-top:before {
  content: ""; }

.icon-arrow-down:before {
  content: ""; }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }
  .video-container embed, .video-container iframe, .video-container object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.homepage-intro-content {
  margin: 0 1.04167%;
  width: 75%;
  float: left; }
  .homepage-intro-content > p {
    font-weight: 300;
    font-size: 1.45rem;
    line-height: 35px;
    margin: 0; }

.homepage-intro-image {
  margin: 0 1.04167%;
  width: 25%;
  float: right;
  overflow: hidden; }

.homepage-intro h1 {
  display: block;
  font-size: 1.8rem;
  margin: 0;
  padding: 0 0 30px; }

.fa-phone {
  transform: rotate(45deg) scale(1) skew(1deg) translate(0);
  -webkit-transform: rotate(45deg) scale(1) skew(1deg) translate(0);
  -moz-transform: rotate(45deg) scale(1) skew(1deg) translate(0);
  -o-transform: rotate(45deg) scale(1) skew(1deg) translate(0);
  -ms-transform: rotate(45deg) scale(1) skew(1deg) translate(0); }

.section.compact.breadcrumb {
  padding-bottom: 10px; }

.breadcrumbs {
  display: none; }
  .breadcrumbs .fa {
    font-size: 18px;
    margin-right: 3px;
    color: #338ADA;
    position: relative;
    top: 1px; }

#breadcrumbs * {
  font-size: 13px;
  color: #aaa; }

.content.full {
  margin: 0 1.04167%; }

#breadcrumbs a {
  color: #338ADA; }

.box-intro:after, .box-intro:before {
  display: table;
  content: "";
  line-height: 0; }

.breadcrumb .content {
  display: block;
  float: none;
  margin: 0 1.04167%;
  width: 100%; }

.page-template-page-full-php #main .content {
  display: block;
  float: none;
  margin: 0 1.04167%;
  width: 100%; }
.page-template-page-full-php .box-intro {
  padding-bottom: 0;
  border: 0; }

.box-cta {
  margin: 35px auto 0;
  border-top: 1px solid #ddd;
  padding: 15px 0 0;
  width: 80%; }

.section.compact > .box-cta {
  margin: 0 auto; }

.box-cta h3 {
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  margin: 0.8em 0; }

.box-intro h2, .box-items .column .btn-1 {
  font-family: "Open Sans", sans-serif; }

h1, h2 {
  font-size: 1.8rem; }

p.intro {
  font-size: 1.45rem;
  font-weight: 300;
  margin: 0 0 1em; }

.column {
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.04167%; }

.aside {
  display: inline-block;
  float: none;
  width: 97.9%;
  margin: 15px 1.04167%; }

aside .sidebox {
  margin: 0 0 30px;
  padding: 15px;
  border: 1px solid #ddd; }
  aside .sidebox h3 {
    margin: 5px 0 15px; }
  aside .sidebox.greybox {
    background: #efefef;
    border: 1px solid #ddd; }
  aside .sidebox.bluebox {
    background: #36A6DA;
    border: none;
    color: #fff; }
    aside .sidebox.bluebox *, aside .sidebox.bluebox .fa-check:before {
      color: #fff; }
  aside .sidebox.borderbox {
    border: 1px solid #ddd; }
  aside .sidebox p {
    font-size: 14px; }
  aside .sidebox ul {
    line-height: 30px;
    padding: 0;
    margin: 0; }
    aside .sidebox ul li {
      font-size: 14px; }
  aside .sidebox.box-links {
    padding: 0; }
    aside .sidebox.box-links a {
      font-size: 16px;
      display: block;
      letter-spacing: .3px;
      -webkit-transition: .25s;
      transition: .25s;
      text-align: left;
      padding: 20px;
      font-weight: 400;
      text-decoration: none;
      border-top: 1px solid #ddd;
      font-family: 'Open Sans', sans-serif; }
    aside .sidebox.box-links li:first-child a {
      border: none; }
    aside .sidebox.box-links li.active a {
      font-weight: 700; }

.nav-main ul {
  -webkit-transform: translateZ(0); }

.box-items .column.full .left, .box-items .column.full figure {
  display: inline;
  float: left;
  width: 64.58333%;
  margin: 0 1.04167%; }
.box-items .column.full .content {
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.04167%; }
.box-items .row:after, .box-items .row:before {
  content: "";
  line-height: 0;
  display: table; }

.list-portfolio:after, .list-portfolio:before {
  content: "";
  line-height: 0;
  display: table; }

.box-items h2 {
  margin: 0 0 .166666667em;
  font-size: 30px;
  font-size: 1.675rem; }
.box-items h3 {
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  margin: .8em 0;
  text-align: left; }

.accordion-heading .active h3, .box-items .content a, .close-container, .list-detail h4, .list-portfolio h3, .lnk-more, .nav-main a {
  font-family: "Open Sans", sans-serif; }

.box-items .date {
  font-size: .8rem;
  color: #999;
  padding: 0 0 6px; }
.box-items p {
  margin: 0;
  font-size: 14px; }
.box-items .content a {
  color: #333; }

ol, ul {
  margin: 0 0 .5em;
  padding: 0; }

ol {
  list-style-position: inside; }

ul {
  list-style: none; }

ol li > ol, ul li > ul {
  padding: 0 0 0 15px; }

dd {
  margin: 0 0 0 40px; }

.list-socialmedia {
  margin: 0;
  text-align: left;
  padding-left: 30px;
  display: none; }
  .list-socialmedia li {
    display: inline-block;
    margin: 0 2px; }
  .list-socialmedia a {
    text-decoration: none; }
  .list-socialmedia .icon {
    color: #fff;
    margin: 3px 0 0;
    display: block;
    font-size: 36px; }

.box-intro .list-socialmedia .icon {
  color: #338ADA; }

.fa-check:before {
  color: #0f9349; }

.fa-exclamation:before {
  padding: 0 5px  0 5px;
  color: orange; }

.fa-credit-card:before {
  position: relative;
  top: 1.2px;
  padding-right: 1px; }

.list-detail li {
  padding: 8px 0;
  border-bottom: 1px solid #d1d1d1; }
  .list-detail li:first-child {
    border-top: 1px solid #d1d1d1; }
.list-detail a {
  word-break: break-word; }
.list-detail h4 {
  font-weight: 700; }

.box-items .column .btn-1 {
  text-decoration: none;
  display: none; }

.nav-main a, .submenu li a {
  position: relative;
  line-height: 40px; }

.btn:focus, .btn:hover {
  text-decoration: none;
  color: #fff; }

[class*=btn-]:focus, [class*=btn-]:hover {
  text-decoration: none;
  color: #fff; }

.btn-1:focus, .btn-1:hover {
  opacity: 0.9; }

a[title*="terug naar boven"] {
  display: none;
  outline: 0;
  width: 10px; }

.close-container, .nav-link {
  display: block;
  position: absolute; }

a[title*="terug naar boven"]:after {
  content: "\e000";
  font-size: 16px;
  position: absolute;
  right: 7px;
  top: 7px;
  text-indent: 0; }

.close-container {
  top: 10px;
  right: 12px;
  width: 25px;
  height: 23px;
  padding: 2px 0 0;
  color: #fff;
  font-size: 15px;
  font-size: .9375rem;
  text-align: center;
  background: #676767;
  -webkit-transition: .25s;
  -webkit-transition: 0.25s;
  transition: 0.25s; }
  .close-container:focus, .close-container:hover {
    text-decoration: none;
    background: #338ADA;
    color: #fff; }

.lnk-more {
  color: #338ADA;
  text-decoration: none; }
  .lnk-more:after {
    content: ' Â» ';
    font-size: 18px;
    font-size: 1.125rem; }

.nav-link {
  text-decoration: none !important;
  visibility: visible;
  left: -6em;
  top: 35px;
  padding: 5px 5px 0 7px;
  background: #4d4d4d;
  color: #fff;
  outline: 0 !important; }

#maps {
  display: none; }

.active .nav-link {
  background: #338ADA; }

.nav-link:before {
  color: #fff;
  content: "Menu ";
  font-size: 13px;
  position: relative;
  bottom: 4px; }
.nav-link span:first-child {
  float: right;
  margin: 0 0 0 5px;
  position: relative;
  bottom: 2px;
  color: #fff; }

.nav-main a nav ul, nav ol {
  margin: 0;
  padding: 0;
  list-style: none; }

#nav {
  position: absolute;
  z-index: 9999;
  height: 2000%;
  right: -16em;
  top: -.5em;
  width: 16em;
  background: #fff; }

.nav-main {
  -webkit-transition: 1s;
  transition: 1s; }
  .nav-main a {
    display: block;
    letter-spacing: .3px;
    height: 40px;
    -webkit-box-sizing: initial;
    box-sizing: initial;
    outline: 0;
    -moz-outline: 0;
    font-size: 13px;
    font-variant: small-caps;
    color: #02203C;
    -webkit-transition: .25s;
    -webkit-transition: 0.25s;
    transition: 0.25s; }
  .nav-main .current-menu-item > a {
    text-decoration: none;
    opacity: 1;
    color: #338ADA; }
  .nav-main a:focus, .nav-main a:hover {
    text-decoration: none;
    opacity: 1;
    color: #338ADA; }
  .nav-main a .link-border {
    background: #338ADA;
    display: none;
    height: 1px !important;
    width: 100%;
    position: relative;
    bottom: 0; }
  .nav-main a:focus .link-border, .nav-main a:hover .link-border {
    background: #338ADA; }
  .nav-main .current-menu-item a .link-border {
    display: none; }
  .nav-main a:focus .link-border, .nav-main a:hover .link-border {
    display: none; }

.accordion-heading a, .nav-main li, .tooltip {
  display: block; }

.nav-main {
  background: #fff; }
  .nav-main > ul {
    padding: 25px 15px 5px; }
  .nav-main a {
    padding: 0 7px;
    border-bottom: 1px solid #e5e5e5; }

.submenu li a {
  height: 40px;
  padding: 0 0 0 30px;
  font-weight: 400;
  color: #000;
  font-variant: normal;
  letter-spacing: 0;
  text-transform: none;
  -webkit-transition: all .15s ease 0s;
  transition: all .15s ease 0s;
  font-size: 11px; }

.box-contact .column {
  margin: 0 1.04167%; }
  .box-contact .column + .column {
    margin: 0 1.04167%; }
  .box-contact .column:first-child {
    margin-bottom: 25px; }

.tooltip {
  position: absolute;
  z-index: 1030;
  padding: 5px;
  font-size: .857142857em;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: visible; }
  .tooltip.in {
    opacity: .8;
    filter: alpha(opacity=80); }
  .tooltip.top {
    margin-top: -3px; }

.tooltip-inner {
  max-width: 220px;
  padding: 5px 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #338ADA; }

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid; }

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-color: #338ADA;
  border-width: 5px 5px 0; }

.accordion {
  margin: 0 0 15px; }

.accordion-heading a:focus, .accordion-heading a:hover {
  text-decoration: none; }
.accordion-heading h3 {
  position: relative;
  padding: 0 0 0 15px;
  margin: 0 0 5px;
  font-size: 14px;
  font-size: 0.875rem; }
  .accordion-heading h3:before {
    content: '';
    display: block;
    position: absolute;
    top: 4px;
    left: 0;
    width: 6px;
    height: 6px;
    background: #999; }
  .accordion-heading h3:focus, .accordion-heading h3:hover {
    text-decoration: none;
    color: #338ADA; }
  .accordion-heading h3:focus:before, .accordion-heading h3:hover:before {
    background: #338ADA; }
.accordion-heading .active h3 {
  font-weight: 700; }

.accordion-content {
  overflow: hidden; }
  .accordion-content .content {
    padding: 5px 0 0;
    width: 80%; }

.ir, .visuallyhidden {
  border: 0;
  overflow: hidden; }

.static-img {
  display: block; }

iframe {
  max-width: 100%; }

.map-container {
  width: 100%;
  margin: 0 auto;
  height: 0;
  padding-top: 38%;
  position: relative;
  display: none; }
  .map-container iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0; }

.box-map-header {
  font-weight: 600; }

.vcard span {
  line-height: 30px; }

.ir {
  display: block;
  text-indent: -999em;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr; }

.hide, .ir br, .loader {
  display: none; }

.header [title*=Logo] span, .hidden {
  display: none;
  visibility: hidden; }

.visuallyhidden {
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  width: 1px; }
  .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

.screen-reader-text {
  position: absolute;
  top: -900em;
  left: -900em; }

.loader, a.teamviewer {
  position: relative; }

.loader {
  font-size: 30px;
  color: #338ADA;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite; }
  .loader.loading {
    display: inline-block; }

a.teamviewer span {
  color: #fff;
  position: absolute;
  top: 8px;
  font-weight: 600;
  left: 60px;
  letter-spacing: -.3px;
  font-size: 10px;
  text-decoration: none; }

.ui-tabs {
  position: relative;
  top: -3px;
  border: 0; }

.ui-widget {
  font-family: "Open Sans", sans-serif; }
  .ui-widget.ui-widget-content {
    border: 0;
    border-color: #ddd; }

.ui-tabs .ui-tabs-panel {
  padding: 0; }

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active {
  background: #fff;
  border-color: #333; }

.ui-button:active, .ui-button.ui-state-active:hover {
  background: #fff;
  border-color: #333; }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button {
  border-color: #ddd; }

html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  border-color: #ddd; }

.ui-state-default a {
  color: #333; }
  .ui-state-default a:link, .ui-state-default a:visited {
    color: #333; }

a.ui-button {
  color: #333; }
  a.ui-button:link, a.ui-button:visited {
    color: #333; }

.ui-button {
  color: #333; }

.ui-state-active a {
  color: #000; }
  .ui-state-active a:link, .ui-state-active a:visited {
    color: #000; }

.ui-tabs .ui-tabs-nav {
  padding: 0; }

.ui-widget-header {
  background: #fff;
  border: 0 none; }

html.dark .ui-widget.ui-widget-content {
  border-color: #333;
  background: transparent; }

@media only screen and (-webkit-device-pixel-ratio: 2) {
  .header [title*=Logo] {
    left: 5px;
    top: 10px;
    width: 164px;
    height: 84px;
    background: url(../img/InUitLogoRGB.svg) center center no-repeat; } }
@media (min-width: 30.3125em) {
  article .column {
    display: inline;
    float: left;
    margin: 0 1.04167%;
    width: 47.91667%;
    opacity: 1; }

  .page-template-page-full-php .article .column {
    display: inline;
    float: left;
    width: 97.91667%;
    margin: 0 1.04167%; } }
@media all and (min-width: 34.375em) {
  .map-container {
    display: block; }

  .static-img {
    display: none; } }
@media (min-width: 38.75em) {
  .copyright {
    overflow: hidden; } }
@media (min-width: 41.25em) {
  .footer .column {
    display: inline;
    float: left;
    width: 39.58333%;
    margin: 0 1.04167%;
    border: none; }
    .footer .column + .column + .column {
      display: inline;
      float: left;
      width: 14.58333%;
      margin: 0 1.04167%; }
  .footer .section + .section .column + .column {
    float: right; }
  .footer .list-logos li {
    width: auto;
    border: none; }

  .box-address {
    margin: 40px 0 0; }

  .list-portfolio li {
    display: inline;
    float: left;
    width: 22.91667%;
    margin: 0 1.04167% 1em; }

  .box-items .column {
    display: inline;
    float: left;
    width: 31.25%;
    margin: 0 1.04167%;
    border: none;
    padding: 0; }

  .list-socialmedia li {
    margin: 0 2px 0.5em; } }
@media (min-width: 44.6875em) {
  .header .box-intro {
    position: absolute;
    top: 140px;
    margin: 0 0 0 335px; }

  .footer .content {
    padding: 25px 0 0; }
  .footer .list-logos li {
    margin: 0 15px; }
  .footer .row + .row .column {
    display: inline;
    float: left;
    width: 47%;
    margin: 0 1.04167%;
    padding: 10px 0; }
    .footer .row + .row .column + .column {
      display: inline;
      float: right;
      width: 47%;
      margin: 0 1.04167%; }

  .footer-nav {
    text-align: right; }
    .footer-nav li {
      display: inline-block;
      margin-left: 20px; }
      .footer-nav li:first-child {
        margin: 0; }

  address .left, address > span:first-child {
    float: left; } }
@media (min-width: 50.25em) {
  #nav, .nav-main {
    background: 0 0; }

  .box-contact .column {
    display: inline;
    float: left;
    width: 31.25%;
    margin: 0 1.04167%; }
    .box-contact .column + .column {
      display: inline;
      float: left;
      width: 64.58333%;
      margin: 0 1.04167%; }

  .header:not(.tableheader) > .container {
    margin: 10px auto; }
  .header:not(.tableheader).scrolling {
    position: fixed; }

  #breadcrumbs {
    display: block;
    margin: 0; }

  #nav {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 250;
    margin: 0 1.04167% 0 0;
    width: 80%; }

  .nav-main a {
    height: 108px;
    line-height: 108px;
    border: 0; }
  .nav-main > ul {
    float: right;
    padding: 0;
    margin-top: -10px; }

  .nav-link {
    display: none;
    visibility: hidden; }

  .nav-main li {
    display: inline-block;
    position: relative; }

  .submenu {
    display: none;
    width: 400px; }
    .submenu > ul {
      display: none;
      width: 400px; }

  .nav-main a .link-border {
    height: 2px; }

  .wrap.active {
    left: 0; }

  .submenu {
    border-top: 1px solid #338ADA;
    background: #f6f6f6 !important;
    padding: 10px 5px;
    position: absolute;
    top: 88px;
    height: 155px; }
    .submenu li {
      display: inline-block;
      vertical-align: top;
      width: 46%;
      text-align: left; }

  html.dark .submenu {
    border-top: 1px solid #fff;
    background: #333 !important; }

  #maps {
    display: block; }

  .nav-main .current-menu-item a .link-border {
    display: block; }
  .nav-main a:focus .link-border, .nav-main a:hover .link-border {
    display: block; }

  .submenu li a {
    display: block; }
  .submenu li:nth-child(odd) {
    padding-left: 20px; }
  .submenu li a {
    font-size: 13px;
    padding: 8px 0 8px 5px;
    position: relative;
    font-weight: 400;
    text-transform: none;
    height: auto;
    line-height: 25px;
    text-indent: -5px;
    -webkit-transition: all 0.15s ease 0s;
    transition: all 0.15s ease 0s; }

  #maps {
    height: 200px;
    overflow: hidden; }

  .aside {
    display: inline;
    float: left;
    margin: 0 1.04167%; }

  .content {
    display: inline;
    float: left;
    margin: 0 1.04167%;
    width: 71.98333%;
    float: right; }

  .aside {
    width: 21.25%; }

  .section {
    padding: 60px 0; }
    .section.compact {
      padding: 20px 0; }

  .list-socialmedia {
    display: block; } }
@media (min-width: 60em) {
  a[title*="terug naar boven"] {
    display: inline-block;
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 3px 10px 2px;
    color: #fff;
    border: 1px solid #D1D1D1;
    text-indent: -9999px;
    font-size: .75rem;
    -webkit-transition: .25s;
    transition: .25s;
    background: #338ADA;
    opacity: 0; }
    a[title*="terug naar boven"]:focus, a[title*="terug naar boven"]:hover {
      background: #338ADA;
      text-decoration: none;
      color: #fff; }
    a[title*="terug naar boven"]:focus:after, a[title*="terug naar boven"]:hover:after {
      color: #fff; }

  .nav-main a {
    padding: 0 0 0 32px; }

  #main {
    min-height: 500px; } }
@media (min-width: 75em) {
  .nav-main a {
    padding: 0 0 0 50px; } }
@media print {
  blockquote, img, pre, tr {
    page-break-inside: avoid; }

  * {
    background: 0 0 !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a {
    text-decoration: underline; }
    a:visited {
      text-decoration: underline; }
    a[href]:after {
      content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after {
    content: ""; }

  a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  blockquote, pre {
    border: 1px solid #999; }

  thead {
    display: table-header-group; }

  img {
    max-width: 100% !important; }

  h2, h3, p {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
/*# sourceMappingURL=default.css.map */

/*# sourceMappingURL=default.css.map */
