@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
@import url(../fonts/font-awesome/css/font-awesome.min.css);

body, html {  
  -webkit-font-smoothing: antialiased;
  background: #36A6DA;
}

body, figure {
  margin: 0;
}

#main {
  background: #fff;
}

.copyright {
  li, strong {
    font-family: "Open Sans", sans-serif;
  }
}

.footer h3 {
  font-family: "Open Sans", sans-serif;
}

.section {
  h1, h2, h3, strong {
    font-family: "Open Sans", sans-serif;
  }
}

.subscribe, a, body, h1, h2, h3, h4, h5, h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, ol, p, ul, q, blockquote  {
  font-family: "Open Sans", sans-serif;
}

a, span, strong, p, q, blockquote, ol, ul, li, td, small {
  color:#454545; 
  line-height: 1.8em;
} 

a, span, strong, p, q, blockquote, ol, ul, li, td {
  font-size:15px;
}

.article { 
  .row:after, &:after {
    clear: both;
  }
}

.box-cta, .box-intro:after {
  clear: both;
}

.box-items {
  .left:after, .row:after, figure:after {
    clear: both;
  }
}

.carousel .carousel-images:after, .carousel-images li:after, .container:after {
  clear: both;
}

.footer {
  .row:after, &:after {
    clear: both;
  }
}

.homebox-items > .btn-1, .homepage-intro-list:after, .list-clients:after, .list-portfolio:after, .nav-main:after, .row:after, .section:after, form:after {
  clear: both;
}

.wrap, svg:not(:root) {
  overflow: hidden;
}

.article .row {
  &:after, &:before {
    content: "";
  }
}

.row {
  &:after, &:before {
    content: "";
  }
}

.section {
  &:after, &:before {
    content: "";
  }
}

q {
  &:after, &:before {
    content: "";
  }
}

.article .column > img {
  -icab-box-sizing: border-box;
  -khtml-box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

[hidden], audio:not([controls]) {
  display: none;
}

html { 
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 100%;
}

.inner-switch {
  display: inline-block;
  cursor: pointer;
  border-radius: 15px;
  width: 30px;
  text-align: center;
  font-size: 16px;
  padding: 3px;
}

body {
  background: #fff;
}

html.dark {
  background-color: #333;

  body {
    display: block !important;
    color: #444;
    line-height: 1.538461538em;
    font-smoothing: antialiased;

    &.dark {
      background-color: #333 !important;
      color: #e6e6e6;
      border-color: #e6e6e6;

      small {
        font-family: sans-serif;
        font-size: 14px;
        font-style: italic;
      }

      a, .link-border {
        color: #e6e6e6;
      }

      a {
        &:active, &:hover, &:focus {
          color: #e6e6e6;
          .link-border {
            background: #fff;
            height: 2px!important;
            position: relative;
            top: -2px;
            color: #e6e6e6;
          }
        }
      }

      .current-menu-item {
        a { 
          .link-border {
            background: #fff;
            height: 2px!important;
            position: relative;
            top: -2px;
            color: #e6e6e6;
          }
        }
      }

      #main {
        background-color: #222 !important;
      }

      p, h1, ul, li, form, option, i {
        color: #e6e6e6;
      }

      .section, .container, .aside, .content {
        background-color: #222;
      }

      .sidebox .box-links {
        background-color: #333;
        color: #e6e6e6;
      }

      .header {
        background-color: #333;
        color:#fff;
        .container {
          background-color: #333;

        }
      }

      .list-links {
        color: #e6e6e6;
      }

      .footer {
        background-color: #333;
        color:#fff;
        .container {
          background-color: #333;
          color:#fff;
        }
      }

      .current-menu-item menu-home {
        color: #e6e6e6;
      }

      [title*=Logo] {
        top: 0;
        background: url(../img/InUitLogoWit.png) left top no-repeat;
      }

      a > i {
        padding-right: 10px;
      }
    }
  }
}

::-moz-selection {
  background: #338ADA;
  color: #fff;
  text-shadow: none;
  background: #338ADA;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #338ADA;
  color: #fff;
  text-shadow: none;
}

.sidebox .box-links i:before {
  color: #444;
  margin-right: 2%;
}

a {
  > i {
    padding-right: 10px;
  }

  font-size: 15px;
  text-decoration: none;
  color: #338ADA;
  outline: none;
}

.content a, .homepage-intro p > a, .msg-warning a {
  text-decoration: underline;
}

a {
  &:active, &:hover {
    font-size: 15px;
    text-decoration: underline;
  }

  p {
    color: #454545;
  }

  &:focus, &:active, &:hover {
    outline: none;
  }
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

blockquote {
  margin: 1em 40px;
}

q {
  quotes: none;

  &:after, &:before {
    content: none;
  }
}

small {
  font-size: 85%;

  &.grey {
    color: #555;

    * {
      color: #555;
    }
  }
}

.fa-window-restore:before {
  color: #777;
}
 
sub, sup {
  font-size: 75%;
  vertical-align: baseline;
}

img, table td {
  vertical-align: middle;
}

sup {
  top: -.3em;
  position: relative;
}

h1 strong, h2 strong, h3 strong, h4 strong, h5 strong {
  display: block;
  font-weight: 400;
}

h1 {
  font-size: 5em;
  line-height: 1;
}

h2 {
  font-size: 2.571428571em;
  line-height: 1.2em;
}

h3 {
  font-size: 2.692307692em;
  line-height: 1em;
}

h4 {
  font-size: 1.3em;
  line-height: 22px;
}


h1, h2, h3, h4, h5 {
  font-weight: 300;
  margin: 0 0 .5em;
  color: #338ADA;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
  height: auto;
}

table caption {
  text-align: left;
  background: #4d4d4d;
  color: #fff;
  font-weight: 600;
  padding: 10px 15px;
}

.box-cta {
  text-align: center;

  .btn-1, h3 {
    text-align: center;
  }
}

.center, .msg-warning, aside .sidebox.center {
  text-align: center;
}

table {
  td {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px 10px 5px 10px;
    font-size: 14px;
    color: #666;
  }

  tr:nth-child(odd) td {
    background: #f6f6f6;
  }

  td .fa {
    color: #777 !important;
  }
}

html.dark {
  table {
    td { 
      background:#333;
      color:#fff;
    }
     tr:nth-child(odd) {
      td {
        background:#000;
      }
    }
  }
}

.nav-main .fa {
  font-size: 16px;
  margin-right: 2px;
}

table {
  th {
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    cursor: pointer;
  }

  &.tablesorter {
    th {
      &:after {
        content: "\f0dc";
        display: inline-block;
        font: normal normal normal 11px/1 FontAwesome;
        font-size: 12px;
        text-rendering: auto;
        color: #444;
        position: relative;
        left: 5px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        visibility: hidden;
      }

      &:hover:after {
        visibility: visible;
      }

      &.headerSortDown:after {
        content: "\f0dd";
        top: -2px;
      }

      &.headerSortUp:after {
        content: "\f0de";
        top: 2px;
      }
    }

    tr.first td {
      background: #fff;
    }
  }
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  font-size: 15px;
  font-weight: 300;
  color: #02203C;
  padding: .5em 10px;
  letter-spacing: 0.3px;
}

.msg-warning {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 500;
  margin: .2em 0;
  color: #000;
  padding: .8em 0;
  height: 40px;
  border-bottom: 1px solid #0A7AA8;
  background: url(../img/chromeframe.jpg) left bottom repeat-x #fff;
}

.article, .header:not(th), .section, .wrap {
  position: relative;
}

.msg-warning {
  > strong {
    display: block;
    color: #36A6DA;
    font-size: 18px;
    margin: 0 0 5px;
    font-weight: 400;
  }

  a {
    color: #000;
    font-weight: 700;
  }
}

.row {
  &:after, &:before {
    display: table;
    line-height: 0;
  }
}

.article, .container, .nav-main {
  position: relative;
  max-width: 78.571428571em;
  width: 100%;
  margin: 0 auto;
}

.article {
  &:after, &:before {
    display: table;
    content: "";
    line-height: 0;
  }
}

.container {
  &:after, &:before {
    display: table;
    content: "";
    line-height: 0;
  }
}

.nav-main {
  &:after, &:before {
    display: table;
    content: "";
    line-height: 0;
  }
}

.wrap {
  left: 0;
  -webkit-transition: left 0.35s ease 0s;
  transition: left 0.35s ease 0s;

  &.active {
    left: -16em;
    overflow: visible;
  }
}

.article {
  h1 {
    font-size: 2.571428571em;
  }

  ul {
    line-height: 1.785714286em;
  }

  .row {
    padding: 10px 0;
    margin: 0 5px;

    &:after, &:before {
      display: table;
      line-height: 0;
    }
  }

  .column {
    float: left;
    display: inline;
    width: 97.91667%;
    margin: 0 1.04167%;
  }
}

.page-template-page-full-php .article .column {
  float: left;
  display: inline;
  width: 97.91667%;
  margin: 0 1.04167%;
}

.article .column {
  opacity: 1;

  + .column {
    padding: 45px 0 0;
  }

  > img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
    border: 5px solid #fff;
    -webkit-box-shadow: 0, 0, 8px, #4a4a4a;
    box-shadow: 0, 0, 8px, #4a4a4a;
    background-size: contain;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
}

.section {
  padding: 30px 0;

  &.compact {
    padding: 15px 0;
  }

  &.supercompact {
    padding: 0;
  }

  &:after, &:before {
    display: table;
    line-height: 0;
  }

  h1, h2 {
    font-size: 26px;
    margin: 0 0 1.5em 0;
  }

  h3 {
    font-size: 20px;
    font-size: 1.25rem;
  }

  .gform_title {
    margin: 0 0 1em;
    color: #338ADA;
    font-weight: 400;
  }

  &.line {
    border-bottom: 1px solid #ddd;
  }
}

.page-ourwork .section {
  border: none;
}

.section-grey {
  background: #efefef;
}

.section {
  &.dark {
    background: #4d4d4d;
  }

  &.light {
    background: #36A6DA;
  }

  &.dark *, &.light * {
    color: #fff;
  }
}

.area-grey {
  padding: 15px;
  background: #efefef;
  margin: 15px 0;
}

@-webkit-keyframes slideIn {
  0% {
    opacity: 0;
    left: 3%;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    left: 3%;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}

@-webkit-keyframes slideRight {
  0% {
    opacity: 0;
    right: 0;
  }

  100% {
    right: 50px;
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    opacity: 0;
    right: 0;
  }

  100% {
    right: 50px;
    opacity: 1;
  }
}

@-webkit-keyframes slideLeft {
  0% {
    opacity: 0;
    left: 0;
  }

  100% {
    left: 50px;
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    left: 0;
  }

  100% {
    left: 50px;
    opacity: 1;
  }
}

@-webkit-keyframes slideDown {
  0% {
    opacity: 0;
    top: -10%;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    top: -10%;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

@-webkit-keyframes slideDownCarousel {
  0% {
    opacity: 0;
    top: -10%;
  }

  100% {
    top: 25px;
    opacity: 1;
  }
}

@keyframes slideDownCarousel {
  0% {
    opacity: 0;
    top: -10%;
  }

  100% {
    top: 110px;
    opacity: 1;
  }
}

@-webkit-keyframes bounce_circleG {
  0%,
  100% {
    opacity: 0.3;
  }

  50% {
    opacity: 1;
    background-color: #36A6DA;
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.header:not(.tableheader) {
  border-bottom: 1px solid #ddd;
  background: #fff;

  &.scrolling {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    z-index: 9950;
  }
}

.active .header:not(.tableheader).scrolling {
  position: absolute;
}

.header {
  .article, .container, .nav-main {
    height: 88px;
  }

  [title*=Logo] {
    top: 10px;
    left: 1.04167%;
    display: block;
    height: 88px;
    line-height: 88px;
    position: relative;
    outline: 0;
    width: 150px;
    background: url(../img/InUitLogoRGBSmall.png) left top no-repeat;
  }
}

#skip {
  margin: 0;
  position: absolute;
  top: 0;
  left: -10px;
  width: 50%;
  z-index: 350;

  li {
    float: left;
    position: relative;
  }
}

#nav > h2, #skip a, .box-what-we-do > h2, .copyright > h2, .footer > h2 {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.page-homepage .header {
  .article > h1, .container > h1, .nav-main > h1 {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}

#skip {
  #skip-nav a, #skip-search a {
    position: relative;
    display: block;
    padding: 9px 7px 8px;
    border-right: 1px solid #D7D7D7;
    font-size: 1.153846154em;
    font-weight: 700;
    clip: auto;
    width: auto;
    height: auto;
    color: #4d4d4d;
    cursor: pointer;
    z-index: 350;
    text-decoration: none;
  }

  #skip-nav a {
    border-left: 1px solid #D7D7D7;
  }
}

.footer {
  .row {
    &:after, &:before {
      content: "";
      display: table;
      line-height: 0;
    }
  }

  &:after, &:before {
    content: "";
    display: table;
    line-height: 0;
  }
}

.subscribe {
  &:focus, &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.footer {
  position: relative;
  -webkit-transform: translateZ(0);
  background: #36A6DA;
  color: #fff;
  margin: 20px 0 0 0;

  p {
    color: #fff;
    line-height: 1.785714286em;
  }
}

address {
  color: #fff;
  line-height: 1.785714286em;
}

.footer {
  * {
    color: #fff;
    line-height: 1.785714286em;
  }

  .section.bottom {
    background: 0 0;
  }

  .column {
    display: inline;
    float: left;
    width: 97.91667%;
    margin: 0 1.04167%;
    padding: 15px 0;
  }
}

fieldset, legend {
  border: 0;
  padding: 0;
}

.footer .list-socialmedia, .gform_button {
  float: right;
}

.footer {
  h3 {
    margin: 0 0 .5em;
    font-size: 22px;
    font-size: 1.375rem;
    color: #fff;
  }

  .row.first .referenties span {
    font-weight: 700;
  }
}

address {
  font-style: normal;

  a {
    color: #fff;
    text-decoration: underline;

    &:focus, &:hover {
      text-decoration: none;
    }
  }

  > div {
    display: inline;
  }
}

.copyright li, .footer img {
  vertical-align: top;
  display: inline-block;
}

address {
  .left, > span:first-child {
    font-weight: 700;
    width: 20%;
  }
}

.list-socialmedia a {
  font-size: 34px;
}

.footer .section.bottom .container .column * {
  font-size: 14px;
}

.copyright, .footer-nav * {
  color: #fff;
  font-size: 14px;
}

.copyright {
  p {
    color: #fff;
  }

  strong {
    font-weight: 600;
    font-size: 14px;
    font-size: 0.875rem;
  }

  ul {
    margin: 0 -3px;
  }

  li {
    margin: 0 3px;
  }
}

fieldset, form {
  margin: 0;
}

button, input, select, textarea {
  color: #4d4d4d;
  font-family: inherit;
}

input {
  &[type=email], &[type=password], &[type=search], &[type=tel], &[type=text] {
    font-size: 92% !important;
  }
}

select {
  font-size: 92% !important;

  > option {
    font-size: 92% !important;
  }
}

textarea {
  font-size: 92% !important;
}

button, input {
  line-height: normal;
}

button, html input[type=button] {
  -webkit-appearance: button;
  cursor: pointer;
}

input {
  &[type=reset], &[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
  }
}

button[disabled] {
  cursor: default;
}

input {
  &[disabled] {
    cursor: default;
  }

  &[type=search] {
    -webkit-appearance: textfield;

    &::-webkit-search-cancel-button, &::-webkit-search-decoration {
      -webkit-appearance: none;
    }
  }
}

form {
  &:after, &:before {
    display: table;
    content: "";
    line-height: 0;
  }
}

.label, label {
  display: inline-block;
  cursor: pointer;
  font-size: 1em;
  color: #4d4d4d;
  margin: 0 0 0.5em;
}

.labels-hidden label {
  display: none;
}

.gform_body li {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin: 0 0 1em;

  &.hidden {
    height: 0;
    margin: 0;
  }
}

#gform_1 .gform_body li:last-child {
  width: 100%;
}

.aside .gform_body {
  margin: 15px 0 0;

  li {
    width: 100%;
  }
}

input {
  &[type=email], &[type=search], &[type=tel], &[type=text] {
    padding: 12px;
    border: 1px solid #ddd;
    background: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: .15s;
    transition: .15s;
    width: 100%;
  }

  &[type=email] {
    &:focus, &:hover {
      border-color: #ccc;
      color: #333;
    }
  }

  &[type=search] {
    &:focus, &:hover {
      border-color: #ccc;
      color: #333;
    }
  }

  &[type=tel]:hover {
    border-color: #ccc;
    color: #333;
  }

  &[type=text] {
    &:focus, &:hover {
      border-color: #ccc;
      color: #333;
    }
  }
}

textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  &:focus, &:hover {
    border-color: #ccc;
    color: #333;
  }
}

.wpcf7-form .actions img {
  display: none;
}

::-webkit-input-placeholder, :-moz-placeholder, .placeholder {
  color: #338ADA;
  opacity: 0.5;
}

.btn-1.cta {
  &:focus, &:hover {
    opacity: 0.9;
  }
}

.submit:hover, input[type=submit]:hover {
  opacity: 0.9;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

.list-socialmedia li, td, textarea {
  vertical-align: top;
}

[class*=text-], input.text, number, select, tel, textarea {
  padding: 13px 10px;
  line-height: 19px;
  border: 1px solid #c2ced3;
  color: #4d4d4d;
  resize: none;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-size: 1rem;
}

select {
  padding: 5px 10px;
  width: auto;
}

.text {
  &:focus, &:hover {
    border-color: #9a9a9a;
  }
}

.actions {
  margin: 0.5em 0 0;
}

.submit, [class*=btn-], input[type=submit] {
  display: inline-block;
  padding: 7px 14px;
  margin: .6em 0;
  border: none;
  color: #fff !important;
  background: #0F9349;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none !important;
}

html.dark {
  .submit, [class*=btn-], input[type=submit] {
    background:#000;
  }
}

.btn-1.cta {
  background: #FF5F35 !important;
}

.cta-text {
  color: #FF5F35 !important;
  text-decoration: none !important;
}

button {
  cursor: pointer;
  -webkit-appearance: button;
}

input {
  &[type=button], &[type=reset], &[type=submit] {
    cursor: pointer;
    -webkit-appearance: button;
  }

  &[type=checkbox], &[type=radio] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
  }
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
  resize: none;
  min-height: 75px;
}

input:invalid, textarea:invalid {
  background-color: #f0dddd;
  border: 1px solid #F70000;
}

input.error, textarea.error {
  color: #f70000;
  border: 1px solid #f70000;
  background: #fff;
}

input.error {
  &::-webkit-input-placeholder, &:-moz-placeholder {
    color: #338ADA;
  }
}

.field .message {
  display: none;
}

.gform_description {
  font-size: 1em;
  line-height: 1.785714286em;
  margin: 0 0 .5em;
  font-family: "Open Sans", sans-serif;
}

.gform_wrapper {
  background: #f6f6f6;
  padding: 15px;
  max-width: 600px;
  margin: 0 0 50px 0;
}

html.dark {
  .gform_wrapper {
    background:#333;
  }
  label {
    color:#fff;
  }
}

.gfield_required {
  padding-left: 3px;
  color: #36A6DA;
  font-size: 12px;
}

.floatleft {
  float: left;
}

img.floatleft {
  margin: 0 20px 20px 0;
}

.floatright {
  float: right;
}

img.floatright {
  margin: 0 0 20px 20px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

#menu-contact a::before, #menu-over-mij a::before, #menu-portfolio a::before, .icon-arrow-down, .icon-arrow-left, .icon-arrow-right, .icon-arrow-top, .icon-card, .icon-close, .icon-facebook, .icon-forward, .icon-linkedin, .icon-plus, .icon-twitter, .icon-user, .icon-vcard, .icons, .list-socialmedia [title*=Twitter]::before, a[title*="terug naar boven"]:after {
  font-family: icons;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.icon-menu {
  font-family: dashicons;
  speak: none;
  font-style: normal;
  font-weight: 700;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.box-cta h3, .box-items h3, .nav-main a {
  text-transform: uppercase;
}

.icon-forward:before {
  content: "";
}

.icon-linkedin:before {
  content: "%";
}

.icon-twitter:before, .list-socialmedia [title*=Twitter]::before:before {
  content: "$";
}

.icon-card:before {
  content: "#";
}

.icon-vcard:before {
  content: '"';
}

.icon-facebook:before {
  content: "&";
}

.icon-user:before {
  content: "!";
}

.icon-plus:before {
  content: "'";
}

.icon-close:before {
  content: "";
}

.icon-arrow-right:before {
  content: "";
}

.icon-arrow-left:before {
  content: "";
}

.icon-menu:before {
  content: "\f333";
  font-size: 20px;
  color: #fff;
}

.icon-arrow-top:before {
  content: "";
}

.icon-arrow-down:before {
  content: "";
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;

  embed, iframe, object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.homepage-intro-content {
  margin: 0 1.04167%;
  width: 75%;
  float: left;

  > p {
    font-weight: 300;
    font-size: 1.45rem;
    line-height: 35px;
    margin: 0;
  }
}

.homepage-intro-image {
  margin: 0 1.04167%;
  width: 25%;
  float: right;
  overflow: hidden;
}

.homepage-intro h1 {
  display: block;
  font-size: 1.8rem;
  margin: 0;
  padding: 0 0 30px;
}

.fa-phone {
  transform: rotate(45deg) scale(1) skew(1deg) translate(0);
  -webkit-transform: rotate(45deg) scale(1) skew(1deg) translate(0);
  -moz-transform: rotate(45deg) scale(1) skew(1deg) translate(0);
  -o-transform: rotate(45deg) scale(1) skew(1deg) translate(0);
  -ms-transform: rotate(45deg) scale(1) skew(1deg) translate(0);
}

.section.compact.breadcrumb {
  padding-bottom: 10px;
}

.breadcrumbs {
  display: none;

  .fa {
    font-size: 18px;
    margin-right: 3px;
    color: #338ADA;
    position: relative;
    top: 1px;
  }
}

#breadcrumbs * {
  font-size: 13px;
  color: #aaa;
}

.content.full {
  margin: 0 1.04167%;
}

#breadcrumbs a {
  color: #338ADA;
}

.box-intro {
  &:after, &:before {
    display: table;
    content: "";
    line-height: 0;
  }
}

.breadcrumb .content {
  display: block;
  float: none;
  margin: 0 1.04167%;
  width: 100%;
}

.page-template-page-full-php {
  #main .content {
    display: block;
    float: none;
    margin: 0 1.04167%;
    width: 100%;
  }

  .box-intro {
    padding-bottom: 0;
    border: 0;
  }
}

.box-cta {
  margin: 35px auto 0;
  border-top: 1px solid #ddd;
  padding: 15px 0 0;
  width: 80%;
}

.section.compact > .box-cta {
  margin: 0 auto;
}

.box-cta h3 {
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  margin: 0.8em 0;
}

.box-intro h2, .box-items .column .btn-1 {
  font-family: "Open Sans", sans-serif;
}

h1, h2 {
  font-size: 1.8rem;
}

p.intro {
  font-size: 1.45rem;
  font-weight: 300;
  margin: 0 0 1em;
}

.column {
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.04167%;
}

.aside {
  display: inline-block;
  float: none;
  width: 97.9%;
  margin: 15px 1.04167%;
}

aside .sidebox {
  margin: 0 0 30px;
  padding: 15px;
  border: 1px solid #ddd;

  h3 {
    margin: 5px 0 15px;
  }

  &.greybox {
    background: #efefef;
    border: 1px solid #ddd;
  }

  &.bluebox {
    background: #36A6DA;
    border: none;
    color: #fff;

    *, .fa-check:before {
      color: #fff;
    }
  }

  &.borderbox {
    border: 1px solid #ddd;
  }

  p {
    font-size: 14px;
  }

  ul {
    line-height: 30px;
    padding: 0;
    margin: 0;

    li {
      font-size: 14px;
    }
  } 

  &.box-links {
    padding: 0;

    a {
      font-size: 16px;
      display: block;
      letter-spacing: .3px;
      -webkit-transition: .25s;
      transition: .25s;
      text-align: left;
      padding: 20px;
      font-weight: 400;
      text-decoration: none;
      border-top: 1px solid #ddd;
      font-family: 'Open Sans', sans-serif;
    }

    li {
      &:first-child a {
        border: none;
      }

      &.active a {
        font-weight: 700;
      }
    }
  }
}

.nav-main ul {
  -webkit-transform: translateZ(0);
}

.box-items {
  .column.full {
    .left, figure {
      display: inline;
      float: left;
      width: 64.58333%;
      margin: 0 1.04167%;
    }

    .content {
      display: inline;
      float: left;
      width: 31.25%;
      margin: 0 1.04167%;
    }
  }

  .row {
    &:after, &:before {
      content: "";
      line-height: 0;
      display: table;
    }
  }
}

.list-portfolio {
  &:after, &:before {
    content: "";
    line-height: 0;
    display: table;
  }
}

.box-items {
  h2 {
    margin: 0 0 .166666667em;
    font-size: 30px;
    font-size: 1.675rem;
  }

  h3 {
    color: #333;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    margin: .8em 0;
    text-align: left;
  }
}

.accordion-heading .active h3, .box-items .content a, .close-container, .list-detail h4, .list-portfolio h3, .lnk-more, .nav-main a {
  font-family: "Open Sans", sans-serif;
}

.box-items {
  .date {
    font-size: .8rem;
    color: #999;
    padding: 0 0 6px;
  }

  p {
    margin: 0;
    font-size: 14px;
  }

  .content a {
    color: #333;
  }
}

ol, ul {
  margin: 0 0 .5em;
  padding: 0;
}

ol {
  list-style-position: inside;
}

ul {
  list-style: none;
}

ol li > ol, ul li > ul {
  padding: 0 0 0 15px;
}

dd {
  margin: 0 0 0 40px;
}

.list-socialmedia {
  margin: 0;
  text-align: left;
  padding-left: 30px;
  display: none;

  li {
    display: inline-block;
    margin: 0 2px;
  }

  a {
    text-decoration: none;
  }

  .icon {
    color: #fff;
    margin: 3px 0 0;
    display: block;
    font-size: 36px;
  }
}

.box-intro .list-socialmedia .icon {
  color: #338ADA;
}

.fa-check:before {
  color: #0f9349;
}

.fa-exclamation:before {
  padding: 0 5px  0 5px;
  color: orange;
}

.fa-credit-card:before {
  position: relative;
  top: 1.2px;
  padding-right: 1px;
}

.list-detail {
  li {
    padding: 8px 0;
    border-bottom: 1px solid #d1d1d1;

    &:first-child {
      border-top: 1px solid #d1d1d1;
    }
  }

  a {
    word-break: break-word;
  }

  h4 {
    font-weight: 700;
  }
}

.box-items .column .btn-1 {
  text-decoration: none;
  display: none;
}

.nav-main a, .submenu li a {
  position: relative;
  line-height: 40px;
}

.btn {
  &:focus, &:hover {
    text-decoration: none;
    color: #fff;
  }
}

[class*=btn-] {
  &:focus, &:hover {
    text-decoration: none;
    color: #fff;
  }
}

.btn-1 {
  &:focus, &:hover {
    opacity: 0.9;
  }
}

a[title*="terug naar boven"] {
  display: none;
  outline: 0;
  width: 10px;
}

.close-container, .nav-link {
  display: block;
  position: absolute;
}

a[title*="terug naar boven"]:after {
  content: "\e000";
  font-size: 16px;
  position: absolute;
  right: 7px;
  top: 7px;
  text-indent: 0;
}

.close-container {
  top: 10px;
  right: 12px;
  width: 25px;
  height: 23px;
  padding: 2px 0 0;
  color: #fff;
  font-size: 15px;
  font-size: .9375rem;
  text-align: center;
  background: #676767;
  -webkit-transition: .25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;

  &:focus, &:hover {
    text-decoration: none;
    background: #338ADA;
    color: #fff;
  }
}

.lnk-more {
  color: #338ADA;
  text-decoration: none;

  &:after {
    content: ' Â» ';
    font-size: 18px;
    font-size: 1.125rem;
  }
}

.nav-link {
  text-decoration: none !important;
  visibility: visible;
  left: -6em;
  top: 35px;
  padding: 5px 5px 0 7px;
  background: #4d4d4d;
  color: #fff;
  outline: 0 !important;
}

#maps {
  display: none;
}

.active .nav-link {
  background: #338ADA;
}

.nav-link {
  &:before {
    color: #fff;
    content: "Menu ";
    font-size: 13px;
    position: relative;
    bottom: 4px;
  }

  span:first-child {
    float: right;
    margin: 0 0 0 5px;
    position: relative;
    bottom: 2px;
    color: #fff;
  }
}

.nav-main a nav ul, nav ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

#nav {
  position: absolute;
  z-index: 9999;
  height: 2000%;
  right: -16em;
  top: -.5em;
  width: 16em;
  background: #fff;
}

.nav-main {
  -webkit-transition: 1s;
  transition: 1s;

  a {
    display: block;
    letter-spacing: .3px;
    height: 40px;
    -webkit-box-sizing: initial;
    box-sizing: initial;
    outline: 0;
    -moz-outline: 0;
    font-size: 13px;
    font-variant: small-caps;
    color: #02203C;
    -webkit-transition: .25s;
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }

  .current-menu-item > a {
    text-decoration: none;
    opacity: 1;
    color: #338ADA;
  }

  a {
    &:focus, &:hover {
      text-decoration: none;
      opacity: 1;
      color: #338ADA;
    }

    .link-border {
      background: #338ADA;
      display: none;
      height: 1px !important;
      width: 100%;
      position: relative;
      bottom: 0;
    }

    &:focus .link-border, &:hover .link-border {
      background: #338ADA;
    }
  }

  .current-menu-item a .link-border {
    display: none;
  }

  a {
    &:focus .link-border, &:hover .link-border {
      display: none;
    }
  }
}

.accordion-heading a, .nav-main li, .tooltip {
  display: block;
}

.nav-main {
  background: #fff;

  > ul {
    padding: 25px 15px 5px;
  }

  a {
    padding: 0 7px;
    border-bottom: 1px solid #e5e5e5;
  }
}

.submenu li a {
  height: 40px;
  padding: 0 0 0 30px;
  font-weight: 400;
  color: #000;
  font-variant: normal;
  letter-spacing: 0;
  text-transform: none;
  -webkit-transition: all .15s ease 0s;
  transition: all .15s ease 0s;
  font-size: 11px;
}

.box-contact .column {
  margin: 0 1.04167%;

  + .column {
    margin: 0 1.04167%;
  }

  &:first-child {
    margin-bottom: 25px;
  }
}

.tooltip {
  position: absolute;
  z-index: 1030;
  padding: 5px;
  font-size: .857142857em;
  opacity: 0;
  filter: alpha(opacity = 0);
  visibility: visible;

  &.in {
    opacity: .8;
    filter: alpha(opacity = 80);
  }

  &.top {
    margin-top: -3px;
  }
}

.tooltip-inner {
  max-width: 220px;
  padding: 5px 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #338ADA;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-color: #338ADA;
  border-width: 5px 5px 0;
}

.accordion {
  margin: 0 0 15px;
}

.accordion-heading {
  a {
    &:focus, &:hover {
      text-decoration: none;
    }
  }

  h3 {
    position: relative;
    padding: 0 0 0 15px;
    margin: 0 0 5px;
    font-size: 14px;
    font-size: 0.875rem;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 4px;
      left: 0;
      width: 6px;
      height: 6px;
      background: #999;
    }

    &:focus, &:hover {
      text-decoration: none;
      color: #338ADA;
    }

    &:focus:before, &:hover:before {
      background: #338ADA;
    }
  }

  .active h3 {
    font-weight: 700;
  }
}

.accordion-content {
  overflow: hidden;

  .content {
    padding: 5px 0 0;
    width: 80%;
  }
}

.ir, .visuallyhidden {
  border: 0;
  overflow: hidden;
}

.static-img {
  display: block;
}

iframe {
  max-width: 100%;
}

.map-container {
  width: 100%;
  margin: 0 auto;
  height: 0;
  padding-top: 38%;
  position: relative;
  display: none;

  iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}

.box-map-header {
  font-weight: 600;
}

.vcard span {
  line-height: 30px;
}

.ir {
  display: block;
  text-indent: -999em;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

.hide, .ir br, .loader {
  display: none;
}

.header [title*=Logo] span, .hidden {
  display: none;
  visibility: hidden;
}

.visuallyhidden {
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  width: 1px;

  &.focusable {
    &:active, &:focus {
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      width: auto;
    }
  }
}

.screen-reader-text {
  position: absolute;
  top: -900em;
  left: -900em;
}

.loader, a.teamviewer {
  position: relative;
}

.loader {
  font-size: 30px;
  color: #338ADA;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;

  &.loading {
    display: inline-block;
  }
}

a.teamviewer span {
  color: #fff;
  position: absolute;
  top: 8px;
  font-weight: 600;
  left: 60px;
  letter-spacing: -.3px;
  font-size: 10px;
  text-decoration: none;
}

.ui-tabs {
  position: relative;
  top: -3px;
  border: 0;
}

.ui-widget {
  font-family: "Open Sans", sans-serif;

  &.ui-widget-content {
    border: 0;
    border-color: #ddd;
  }
}

.ui-tabs .ui-tabs-panel {
  padding: 0;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active {
  background: #fff;
  border-color: #333;
}

.ui-button {
  &:active, &.ui-state-active:hover {
    background: #fff;
    border-color: #333;
  }
}


.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button {
  border-color: #ddd;
}

html .ui-button.ui-state-disabled {
  &:hover, &:active {
    border-color: #ddd;
  }
}

.ui-state-default a {
  color: #333;

  &:link, &:visited {
    color: #333;
  }
}

a.ui-button {
  color: #333;

  &:link, &:visited {
    color: #333;
  }
}

.ui-button {
  color: #333;
}

.ui-state-active a {
  color: #000;

  &:link, &:visited {
    color: #000;
  }
}

.ui-tabs .ui-tabs-nav {
  padding: 0;
}

.ui-widget-header {
  background: #fff;
  border: 0 none;
}

html.dark {
  .ui-widget.ui-widget-content {
    border-color: #333;
    background:transparent;
  }
}

@media only screen and (-webkit-device-pixel-ratio: 2) {
  .header [title*=Logo] {
    left: 5px;
    top: 10px;
    width: 164px;
    height: 84px;
    background: url(../img/InUitLogoRGB.svg) center center no-repeat;
  }
}

@media (min-width: 30.3125em) {
  article .column {
    display: inline;
    float: left;
    margin: 0 1.04167%;
    width: 47.91667%;
    opacity: 1;
  }

  .page-template-page-full-php .article .column {
    display: inline;
    float: left;
    width: 97.91667%;
    margin: 0 1.04167%;
  }
}

@media all and (min-width: 34.375em) {
  .map-container {
    display: block;
  }

  .static-img {
    display: none;
  }
}

@media (min-width: 38.75em) {
  .copyright {
    overflow: hidden;
  }
}

@media (min-width: 41.25em) {
  .footer {
    .column {
      display: inline;
      float: left;
      width: 39.58333%;
      margin: 0 1.04167%;
      border: none;

      + .column + .column {
        display: inline;
        float: left;
        width: 14.58333%;
        margin: 0 1.04167%;
      }
    }

    .section + .section .column + .column {
      float: right;
    }

    .list-logos li {
      width: auto;
      border: none;
    }
  }

  .box-address {
    margin: 40px 0 0;
  }

  .list-portfolio li {
    display: inline;
    float: left;
    width: 22.91667%;
    margin: 0 1.04167% 1em;
  }

  .box-items .column {
    display: inline;
    float: left;
    width: 31.25%;
    margin: 0 1.04167%;
    border: none;
    padding: 0;
  }

  .list-socialmedia li {
    margin: 0 2px 0.5em;
  }
}

@media (min-width: 44.6875em) {
  .header .box-intro {
    position: absolute;
    top: 140px;
    margin: 0 0 0 335px;
  }

  .footer {
    .content {
      padding: 25px 0 0;
    }

    .list-logos li {
      margin: 0 15px;
    }

    .row + .row .column {
      display: inline;
      float: left;
      width: 47%;
      margin: 0 1.04167%;
      padding: 10px 0;

      + .column {
        display: inline;
        float: right;
        width: 47%;
        margin: 0 1.04167%;
      }
    }
  }

  .footer-nav {
    text-align: right;

    li {
      display: inline-block;
      margin-left: 20px;

      &:first-child {
        margin: 0;
      }
    }
  }

  address {
    .left, > span:first-child {
      float: left;
    }
  }
}

@media (min-width: 50.25em) {
  #nav, .nav-main {
    background: 0 0;
  }

  .box-contact .column {
    display: inline;
    float: left;
    width: 31.25%;
    margin: 0 1.04167%;

    + .column {
      display: inline;
      float: left;
      width: 64.58333%;
      margin: 0 1.04167%;
    }
  }

  .header:not(.tableheader) {
    > .container {
      margin: 10px auto;
    }

    &.scrolling {
      position: fixed;
    }
  }

  #breadcrumbs {
    display: block;
    margin: 0;
  }

  #nav {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 250;
    margin: 0 1.04167% 0 0;
    width: 80%;
  }

  .nav-main {
    a {
      height: 108px;
      line-height: 108px;
      border: 0;
    }

    > ul {
      float: right;
      padding: 0;
      margin-top: -10px;
    }
  }

  .nav-link {
    display: none;
    visibility: hidden;
  }

  .nav-main li {
    display: inline-block;
    position: relative;
  }

  .submenu {
    display: none;
    width: 400px;

    > ul {
      display: none;
      width: 400px;
    }
  }

  .nav-main a .link-border {
    height: 2px;
  }

  .wrap.active {
    left: 0;
  }

  .submenu {
    border-top: 1px solid #338ADA;
    background: #f6f6f6 !important;
    padding: 10px 5px;
    position: absolute;
    top: 88px;
    height: 155px;

    li {
      display: inline-block;
      vertical-align: top;
      width: 46%;
      text-align: left;
    }
  }

  html.dark {  
    .submenu {
      border-top: 1px solid #fff;
      background: #333 !important;
    }
  }

  #maps {
    display: block;
  }

  .nav-main {
    .current-menu-item a .link-border {
      display: block;
    }

    a {
      &:focus .link-border, &:hover .link-border {
        display: block;
      }
    }
  }

  .submenu li {
    a {
      display: block;
    }

    &:nth-child(odd) {
      padding-left: 20px;
    }

    a {
      font-size: 13px;
      padding: 8px 0 8px 5px;
      position: relative;
      font-weight: 400;
      text-transform: none;
      height: auto;
      line-height: 25px;
      text-indent: -5px;
      -webkit-transition: all 0.15s ease 0s;
      transition: all 0.15s ease 0s;
    }
  }

  #maps {
    height: 200px;
    overflow: hidden;
  }

  .aside {
    display: inline;
    float: left;
    margin: 0 1.04167%;
  }

  .content {
    display: inline;
    float: left;
    margin: 0 1.04167%;
    width: 71.98333%;
    float: right;
  }

  .aside {
    width: 21.25%;
  }

  .section {
    padding: 60px 0;

    &.compact {
      padding: 20px 0;
    }
  }

  .list-socialmedia {
    display: block;
  }
}

@media (min-width: 60em) {
  a[title*="terug naar boven"] {
    display: inline-block;
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 3px 10px 2px;
    color: #fff;
    border: 1px solid #D1D1D1;
    text-indent: -9999px;
    font-size: .75rem;
    -webkit-transition: .25s;
    transition: .25s;
    background: #338ADA;
    opacity: 0;

    &:focus, &:hover {
      background: #338ADA;
      text-decoration: none;
      color: #fff;
    }

    &:focus:after, &:hover:after {
      color: #fff;
    }
  }

  .nav-main a {
    padding: 0 0 0 32px;
  }

  #main {
    min-height: 500px;
  }
}

@media (min-width: 75em) {
  .nav-main a {
    padding: 0 0 0 50px;
  }
}

@media print {
  blockquote, img, pre, tr {
    page-break-inside: avoid;
  }

  * {
    background: 0 0 !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a {
    text-decoration: underline;

    &:visited {
      text-decoration: underline;
    }

    &[href]:after {
      content: " (" attr(href) ")";
    }
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after {
    content: "";
  }

  a {
    &[href^="javascript:"]:after, &[href^="#"]:after {
      content: "";
    }
  }

  blockquote, pre {
    border: 1px solid #999;
  }

  thead {
    display: table-header-group;
  }

  img {
    max-width: 100% !important;
  }

  h2, h3, p {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}

/*# sourceMappingURL=default.css.map */