.btn {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
.btn-default {
  text-shadow: 0 1px 0 #fff;
}
.btn-primary,
.btn-success,
.btn-warning,
.btn-danger,
.btn-info {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
/*# sourceMappingURL=buttons.css.map */